[2013-08-15 10:50] Frescha opened #1 "Migration: BS2 to BS3"
See: https://github.com/shinken-monitoring/mod-webui/tree/develop-BS3RC1

Dashboard: **98%** done
Login: **100%** done
Eltdetail: **100%** done
Eltgroup: **50%** done
Impact: **0%** done -> Redesign?
Problems: **0%** done -> Redesign?
World map: **100%** done
System index: **100%** done
System log: **0%** done

[2013-08-21 08:41] cyrilleJ opened #2 "Search box not managed on Dashboard, Impacts and Wall pages"
Even if the search box is present on all the pages it does not work on some of them like Dashboard, Impact or Wall page.

[2013-08-21 08:44] cyrilleJ opened #3 "HTML code in check output not managed on service details page"
Hi,

I have some plugins returning HTML code which are well printed on problems pages but not converted on service details page.

[2013-08-27 15:25] cyrilleJ opened #4 "add create downtime in action popup"
In IT problems, be able to set a downtime on a couple of hosts/services by selecting them.

[2013-08-27 16:18] Frescha opened #5 "Spare, but active?"
In the 'System' view.
We can see the satellites status. So I can see which poller is suposed to be in spare.
But I can't see wich poller is active or is in spare at the moment.

Is it possible to add a property 'Active' in order to have this information ?

[2013-08-27 16:23] Frescha opened #6 "Shinken WebUI should support non declared nagios contact"
Hello,
It would be very interesting for us that Shinken WebUI support non declared contact on nagios configuration.

In my nagios installation, I use a WebSSO (LemonLDAP::NG) which handle authentication. On Nagios side I allow erveybody granted by WebSSO to access all configuration
(in cgi.cfg I have * as like in authorized_for_all_services=*)

Thanks in advance.

Regards,

Romain

[2013-08-27 16:26] Frescha opened #7 "WebUI root prefix"
Many companies use reverse proxy to "hide" applications with specific ports. For this, they commonly use Apache's mod_proxy which works easier with root prefixes. I think this feature should be available in Shinken WebUI.

[2013-08-27 16:28] Frescha opened #8 "Add nagvis integration to webui"
No description given.

[2013-08-27 16:30] Frescha opened #9 "Add "favorite" flag and widget on webui"
It should be easy for a user to "flag" as favorite an element, and show a widget taht show all favorites items too :)

[2013-08-27 16:32] Frescha opened #10 "Acknowledgement icon is not "clear""
The icon telling us that a service is acknowledged is not very clear, at least for me.

Something more like "men at work" (Nagios legacy), would have been more clear for me.
What do you think, guys ?

Something like that. (but a bit nicer)
http://meuble.radio.free.fr/images/divers/men_at_work.gif

[2013-08-27 16:33] Frescha opened #11 "Bookmarks"
Actually, this is more an idea than an issue.

IMO, bookmarks have to be saved between restarts, like widgets. (Should be easy, right ?)
Some classics, some common filters should be already available, but read-only.
One is missing : "My" Acks. (services/hosts acknowlegded by me)
User should be able to clone a bookmark (one of his own, or one of the commons)

I'll look into it, and see what I can d

[2013-08-27 16:36] Frescha opened #12 "Refresh WebUI after changes"
When creating a comment or downtime. Auto-refresh method for data related to the host.

[2013-08-27 16:39] Frescha opened #13 "PNP "export cvs, xml, json" from webui graphs."
Import code from
http://www.shinken-monitoring.org/forum/index.php/topic,738.0.html

And be sure it work with Graphite module too.

[2013-08-27 16:43] Frescha opened #14 "Business impact issue webui"
Hello,

I think there is a issue in shinken on business_impact business_impact and modulation

In fact I configured on one service business_impact 2 in normal
and I specified a businessimpactmodulation to 3 over the period 8h-18h

{define businessimpactmodulation
business_impact_modulation_name period neo-
business_impact 3
modulation_period workhours neo-
}

the scale of the impact between 2 and

[2013-08-27 16:43] Frescha opened #15 "On demand columns on /problem view"
By user.

[2013-08-27 16:44] Frescha opened #16 "Remove perfometer on WebUI"
Mainly useless. An icon is good too.

[2013-08-27 16:46] Frescha opened #17 "Variable number of elements on WebUI"
On /problems

[2013-08-27 16:47] Frescha opened #18 "Wall : configure the 10min back view"

[2013-08-27 16:48] Frescha opened #19 "Bug on impact tabs"
Hi all

I am trying to simulate an issue about my webservices which are monitored by shinken,

when my web service is red in shinken, on dashboard view and it problem i can see the event.

But when i click on impact tabs i have got an error page "internal error"

2013-03-05 10_50_05-Error 500_ Internal Server Error

[2013-08-27 16:49] Frescha opened #20 "Worldmap plugin for Web UI"
Hi,

I played with the Worldmap plugin in the WebUI and made some modifications in the source code but there is a problem in the map's control and infowindow rendering with the WebUI.

Please see attached screen capture.
How it should be
captureok

How it is ... control is almost not viewable and the rendering of the infoview window is incomplete.
captureko

Best regards, Fred.

PS: Sorry but I am

[2013-08-28 09:11] cyrilleJ opened #21 "Exclude downtimes and ACK services on IT problems number"
On the top right the IT number should exclude services within a downtime or acknowledged.
Same if the host is on downtime or acknowledged for the services underneath

[2013-08-29 06:59] cyrilleJ opened #22 "Business Impact on host/service shutdown"
Hi,

It would be nice to show on host and service details page in plus of dependency tree a tree of the impacted services so that we know when we need to shutdown a server wich applications will be impacted easily.

[2013-09-03 10:03] cyrilleJ opened #23 "hour in GMT on downtime schedule"
Hi,

In Add a downtime action, the From and To hours are by default set on GMT and not in localTime as the user would expect

[2013-09-03 10:10] cyrilleJ opened #24 "Impact page : Cannot scroll left panel"
Hi,

On impact view, when the item list (root problems + dependency tree) is long enough for more than one page I cannot scroll down to see all the items. The scroll moves only the right panel.

[2013-09-04 16:08] cyrilleJ opened #25 "Dependency tree does not display services with char "/" in their names"
Hi,

I have a service called like this "HTTP-service-ws.company.com/ServiceService.svc" defined in a business rule but I cannot see it in any dependency tree on the webui.

However, when the service is warning or critical I can see the business rule getting the same status which means I gets the information.

FYI I use Shinken 1.4

Thx

[2013-09-05 08:52] rdoursenaud opened #26 "Currently dashboard isn't automatically updated"
Browser : Google Chrome in kiosk mode

While the clock is counting, the monitoring status is not updated. This makes this wonderful panel useless.

What's expected : monitoring status is updated accordingly without the need of a page refresh.

[2013-09-05 08:54] rdoursenaud opened #27 "Public mode for the currently dashboard"
Once issue #26 will be resolved, this panel would make a great public status page.

Please (optionally) allow access to it without authentication.

[2013-09-08 15:17] Frescha opened #28 "Switch BTN is to big for 13" displays"
View: Service/Host details
OS/Browser: all (13")
WebUI version: all

![switchbtnbug](https://f.cloud.github.com/assets/698753/1103289/9dc01352-1899-11e3-9117-d895d285a093.png)

[2013-09-09 12:08] #26 closed, assigned to nobody

[2013-09-11 10:25] cyrilleJ opened #31 "Cannot remove acknowledge"
Hi,

There is no button to remove an acknowledge in the webui and by removing the comment linked to it, the ack remains.

[2013-09-11 12:16] cyrilleJ opened #32 "no restriction on impact view"
Hi,

The contact restriction does not apply on impact services so anyone connected can see all the impacts.

[2013-09-11 15:21] #32 closed, assigned to nobody

[2013-09-18 13:30] cyrilleJ opened #33 "script long output not viewable in Webui"
Hi,

One more for the road :)

Shinken 1.4
On any browser

In Shinken interface there is no way to see long output generated by some checks.

[2013-11-07 09:12] rdoursenaud opened #36 "Currently dashboard 500 error after some time"
After running currently for quite some time in a browser on a machine I use as a monitoring kiosk, I usually get 500 error with the following trace:
Exception:

[code]

Traceback:

[code]

[2013-12-04 21:17] Frescha opened #37 "Bookmarks in WebUI don't like double quote"
Hi,

I just want to point out a little problem. In the WebUI, if I want to save a search in a bookmark and if I put double quotes (") in the name of the bookmark (ok it's stupid to put double quotes in the name ;-)), at the end, I lose all my already saved bookmarks and then I can't save any bookmarks.

The only way I have found to be able to save bookmarks once again is to delete the "shinken" mo

[2013-12-05 19:12] #36 closed, assigned to nobody

[2013-12-18 18:46] #28 closed, assigned to Frescha

[2014-01-24 23:03] Seb-Solon opened #38 "WebUI does not take care ot the display_name property of an host"
From : https://github.com/naparuba/shinken/issues/875

The WebUI does not take care ot the display_name property of an host.

[2014-02-02 10:56] #1 closed, assigned to Frescha

[2014-02-07 17:04] #20 closed, assigned to nobody

[2014-02-19 13:23] DessaiImrane opened #39 "WebUI keeps alerting that "backend is unavailable" but it's not true"
This popup below keeps appering in a periodical manner :

![image](https://f.cloud.github.com/assets/1715606/2206776/df111ad6-9968-11e3-86c1-8adfce7682fb.png)

But the broker is running properly

[2014-02-24 07:09] mohierf opened #40 "Home page is corrupted ..."
Home page (/problems) is corrupted :
![image](https://f.cloud.github.com/assets/2932687/2243207/8c8bcb18-9d22-11e3-8953-42f9fb07c2fa.png)

[2014-02-24 14:39] mohierf opened #41 "Host groups overview"
Add an hostgroup overview page :
![image](https://f.cloud.github.com/assets/2932687/2246295/663be3dc-9d61-11e3-897e-9dcf223ffbff.png)

[2014-02-24 14:44] #38 closed, assigned to nobody

[2014-02-24 14:48] #33 closed, assigned to nobody

[2014-02-25 07:30] mohierf opened #42 "Custom view for Windows hosts"
When an host has an attribute custom_view set to windows, detailed host view displays :
![image](https://f.cloud.github.com/assets/2932687/2255142/9f559306-9dee-11e3-96c9-c8e75275118c.png)

[2014-02-26 19:24] #40 closed, assigned to nobody

[2014-02-28 14:36] mohierf opened #43 "Package publishing failed ..."
Do not know f this is the right place for such an issue ... but I did not found anywhere else to write.

I tried to publish the mod-webui package but did not succeded :
- git clone https://github.com/shinken-monitoring/mod-webui mod-webui
- cd mod-webui
- shinken publish

I have stored my API key in the /root/.shinken.ini file on my system.

I have this log :

[code]

[2014-03-03 11:56] mohierf opened #44 "Modal bootstrap area is corrupted ..."
... display area is quite strange :
![image](https://f.cloud.github.com/assets/2932687/2309081/cf614d5c-a2ca-11e3-9bf9-f1e7f77eef9d.png)

[2014-03-04 10:19] #43 closed, assigned to nobody

[2014-03-04 14:34] #41 closed, assigned to nobody

[2014-03-04 15:02] #42 closed, assigned to nobody

[2014-03-04 15:07] mohierf opened #46 "geomap plugin, what is the idea behind it ?"
Worldmap plugin currently display markers on a google map for each host in the sytem.

It seems that geomap plugin as intended to do the same plus some information :
- hosts alerts
- services alerts
- hosts / services comments

It should be interesting to have only one map plugin ?

I know how to find hosts/services comments but where to find hosts/services alerts ?

[2014-03-04 18:52] mohierf opened #47 "depgraph never loads in element view ..."
In element view, the depgraph never loads ... despite the fact that the URL /depgraph/localhost is correctly loaded !

[2014-03-04 18:55] #3 closed, assigned to Frescha

[2014-03-04 19:09] #44 closed, assigned to nobody

[2014-03-04 19:17] mohierf opened #48 "1.2 - GrauDuRoi"
Postponed from version 1.1

[2014-03-04 19:37] mohierf opened #49 "Use Glpi as a WebUI configuration backend"
Glpi is an amazing application to manage assets in an IT environment. Glpi Monitoring plugin permist interfacing this application with Shinken to monitor hosts and services.

 It should be interesting to use Glpi as a backend for WebUI users and profiles management ... this issue to discuss the matter and compile ideas (good or not ...) about it !

[2014-03-04 19:38] #48 closed, assigned to nobody

[2014-03-05 05:46] #12 closed, assigned to nobody

[2014-03-05 06:03] #47 closed, assigned to nobody

[2014-03-07 19:33] #19 closed, assigned to nobody

[2014-03-09 07:39] mohierf opened #50 "Plugin configuration file"
Each plugin should have its own configuration file. A simple Ini file should be enough to store configuration parameters ... something like :
[code]

in a file store in the plugin dir and named with the plugin name and an extension .cfg.

[2014-03-09 16:28] mohierf opened #51 "Logs view"
View logs from Mongo database created by logstore-mongodb module. Available on /system/logs URL from WebUI

![image](https://f.cloud.github.com/assets/2932687/2368422/c6a9d83c-a7a7-11e3-9068-242c3d4174c1.png)

[2014-03-10 16:48] #46 closed, assigned to nobody

[2014-03-10 16:49] mohierf opened #52 "Worldmap plugin new features"
Enhancements :
- show only hosts related to the current logged in user
- add recent logs for hosts/services not OK/UP

[2014-03-11 19:09] mohierf opened #53 "Timeline ... seems interesting for downtime periods"
What do you think about it ?
![image](https://f.cloud.github.com/assets/2932687/2389642/69e2c67c-a950-11e3-9842-4ab70da9f3c9.png)

Mock-up built with https://github.com/almende/chap-links-library, JSON timeline data built from MongoDB logs database.

[2014-03-15 14:50] #39 closed, assigned to nobody

[2014-03-17 07:14] mohierf opened #54 "Guest user does not see any problem"
When logged in with guest user account, there are no items in the problems view ... whereas logged in with admin user, they are present !

[2014-03-17 07:16] #54 closed, assigned to nobody

[2014-03-19 08:47] rdoursenaud opened #55 "MongoDB warning link"
The WebUI MongoDB warning "Learn more" link on shinken 2.0-RC2 (I don't kwow which webui version) goes to the 1.4 documentation.
A better place would be the new documentation, even though there don't seem to be a section about the WebUI user preferences storage backend.

[2014-03-19 08:49] rdoursenaud opened #56 "Impacts page missing hoverit.js"
In Shinken 2.0-RC2 (don't know the mod-webui version).
The Impacts page tries to load a missing hoverit.js file.

Found another report there:
http://www.shinken-monitoring.org/forum/index.php?topic=941.0

Call is made by webui/plugins/impacts/views/impacts.tpl

[2014-03-19 08:58] rdoursenaud opened #57 "Missing state_down.png and state_up.png images"
In Shinken 2.0-RC2 (don't know the mod-webui version), the generic-host.cfg templates states we can use server, database, disk or network_service as icon_set.
But state_down.png and state_up.png images only exists for server.
This leads to broken image links in WebUI.

[2014-03-19 17:36] #56 closed, assigned to nobody

[2014-03-20 18:57] mohierf opened #58 "Proposal for side menu modifications ..."
I think that the current side menu is not really "intuitive" ... what do you think about my mock-up :
 - removed the link to Shinken Web UI ... will be back if/when Skonf is available.
 - removed the drop up menus
 - added a configuration link ... should link to a Web UI configuration form

 The result is really much nice and clear ... isn't it ?

![image](https://f.cloud.github.com/assets/2932687

[2014-03-21 11:36] #27 closed, assigned to nobody

[2014-03-21 17:41] mohierf opened #59 "Dashboard enhancement ..."
What do you think about it ?

 - a nice bar with main information (same as in 'Dashboard currently' ...).
 - a camera icon instead of the bug icon for widget header

![image](https://f.cloud.github.com/assets/2932687/2485953/262a3082-b120-11e3-813c-c16c09ddb1e4.png)

[2014-03-22 15:26] mohierf opened #60 "Hosts tags view"
A first draft for displaying hosts based upon tags :
- same approach as groups view (icon/number for each host status)
- the tag is starred based upon the maximum business impact of the tagged hosts

![image](https://f.cloud.github.com/assets/2932687/2490995/ef88ed74-b1d4-11e3-8550-0ed9cbadcbc9.png)

[2014-03-23 07:01] #57 closed, assigned to nobody

[2014-03-23 19:06] #55 closed, assigned to nobody

[2014-03-28 10:59] DessaiImrane opened #62 "Add service tags in service view"
Hi,

This is a non critical enhancement that can help in some cases.

On webui, we can see at the top right corner of a host page, the tags (templates) that apply to the host.

It should be cool, if we can have somewhere in the service page, the service's tags.

I'm very bad at web design but I can help anywhere else if you help me (by telling where to look for instance)

[2014-03-28 11:12] DessaiImrane opened #63 "Add "custom text block" to service definition"
Hi,

This is a non critical enhancement that can help in some cases.

Here is my use case. I have a KnowledgeBase (KB) with many resolution page.

A good idea (for me and for my technicians) is to link each service to a resolution page. So that in case of alert, the technician can click on the service page on WebUI and click to the resolution link given there. It will help him in solving the probl

[2014-04-15 17:38] Frescha opened #65 "ToDo"
- [x] Be awesome
- [x] Do stuff
- [ ] Sleep

[2014-04-15 17:39] #65 closed, assigned to nobody

[2014-04-23 06:29] DessaiImrane opened #67 "Add a "custom logo" to webui"
Hi,

The idea is to add a preperty to the webui module to customize "logo" picture at the top of web pages.

Many "managers" love seeing their company logo on screen

It may be something like this :

[code]

Then, if this property is define, we use the proper template.

What do you think ?

I'll try to code this myself but I need your point of view before doing anything.

[2014-05-27 22:55] bergonzzi opened #68 "Graphite graphs broken"
Hi,

I just installed Shinken and Graphite, and although everything seems in place, the graphs in Shinken are all broken. Graphite is working well, I can see everything there. For testing purposes I'm not even connecting to any remote machine, I only have a localhost configuration with everything on the same machine.

I found that the link to graphite's render api seems to be wrong, here's an exam

[2014-06-25 13:07] jccomputing opened #69 "External commands do no handle non ascii characters"
Hello

The WebUI module exhibits the same problem as described in this issue: shinken-monitoring/mod-livestatus#27.

If we follow solution number one, the offending line is [this one](https://github.com/shinken-monitoring/mod-webui/blob/master/module/plugins/action/action.py#L110).

JCC

[2014-07-09 08:36] mohierf opened #70 "Internal error on element detail view"
When host / service do not yet have check results, element view throws an exception.

[code]

[2014-07-10 13:47] mohierf opened #71 "Depgraph do not display images on loading ..."
On first load, depgraph do not display nodes image. It is necessary to zoom in/out the graph for the images to be displayed ...

When loading the page http://myServer:7767/depgraph/myHost, I get this :
![image](https://cloud.githubusercontent.com/assets/2932687/3539200/8002a4ee-0838-11e4-8e65-ab073b652df5.png)

After a simple mouse wheel scroll, I get this :
![image](https://cloud.githubuserconten

[2014-07-11 16:54] #71 closed, assigned to nobody

[2014-07-12 17:42] #70 closed, assigned to nobody

[2014-07-12 17:51] #67 closed, assigned to nobody

[2014-07-21 15:39] rhythmicdevil opened #72 "Install without Shinken Install"
The company I work for has a closed network. How do I install WebUI without using Shinken Install?

[2014-07-21 18:43] #72 closed, assigned to nobody

[2014-07-28 16:04] #7 closed, assigned to nobody

[2014-07-31 03:46] mohierf opened #73 "Log history in element view"
Based upon the logs plugin, I added a log history tab in the element view ... currently in BS3 branch.

![image](https://cloud.githubusercontent.com/assets/2932687/3759776/4b1cab02-1865-11e4-89d1-00ad7d8ebed9.png)

[2014-08-01 16:32] mohierf opened #74 "Contact view proposal"
Sometimes interesting to get info about contacts ... no ?

![image](https://cloud.githubusercontent.com/assets/2932687/3781701/58c4d5b0-1999-11e4-9187-6ed3f18b5831.png)

[2014-08-04 13:08] mohierf opened #75 "Timeperiods view proposal"
List all declared time periods ...
![image](https://cloud.githubusercontent.com/assets/2932687/3797396/5f979df0-1bd8-11e4-82cf-44f401246db5.png)

[2014-08-04 13:12] #68 closed, assigned to nobody

[2014-08-04 13:37] #31 closed, assigned to nobody

[2014-08-04 13:41] mohierf opened #76 "Commands view proposal"
All defined commands ... sometimes interesting ;-)

![image](https://cloud.githubusercontent.com/assets/2932687/3797745/112c2564-1bdd-11e4-8b5a-34af34f0be45.png)

[2014-08-28 16:15] t0xicCode opened #84 "Acknowledges using the WebUI gesture don't work"
The WebUI sends the command with the host `Acknowledged by WebUI gesture.` rather than the correct host/service.

[2014-10-06 10:10] hvad opened #85 "disable feature"
Hi,

I'm interresting to disable feature like minemap or worldmap, etc.. Do you think it's good idea ?

Best regard

[2014-10-21 09:18] dgilm opened #88 "Host/Sevice detail crash when using macros in action_url's template"
I get an error clicking on a host. I think it's related to #70 but I'm not sure.

[code]
I can reproduce the error in a python console, executing MacroResolver the way is executed in the eltdetail template. Look:

[code]

MacroResolver isn't able to translate host macros due output_macros isn't filled because the method init (which is responsible of setting up a lot of variables, one of them outpu

[2014-11-10 09:37] andyxning opened #90 "change "print" to "logger.info""
the `print` clause in the `get_instance` function should be replaced as `logger.info` since the process runs in a damon env, any `print` can get nothing. Thus `logger.info` should be used.

[2014-11-13 01:14] titilambert opened #92 "Questions about images and graphite templates"
Please take a look here:
* https://github.com/naparuba/shinken/issues/1377
* https://github.com/naparuba/shinken/issues/1380

[2014-11-13 10:42] david-guenault opened #93 "mod-webui does not try to reload module after load fail"
an example: configure webui broker module with mongodb module (save user preferences in mongo). Do not start mongo. Launch shinken, webui say that the module failed to load but will not try to reload it later.

here is a diff patch to fix it :

[code]

[2014-11-13 19:10] david-guenault opened #95 "remove import of config_parser and helper from plugins it make plugins loading crash in upcomming version 2.2 of shinken core"
config_parser and helper are loaded (and inherited) from webui broker module. No need to try to load them again in each plugin.

[2014-11-13 19:20] #95 closed, assigned to nobody

[2014-11-16 19:13] david-guenault opened #96 "On branch develop webui stop working with shinken master branch"
centos6  x86_64
shinken from master branch
mod-webui from develop branch and master branch

It is still working with 2.0.3 release.

if you know about docker it is really easy to reproduce with my docker file. Ask if you want it ;-)

[2014-11-16 19:45] david-guenault opened #97 "[Branch develop] Fix hosts and service tags routes"
The hosts and service tags routes are false in sidebar (side_nav_element.tpl)

should be /tags for host tags and /servicetags for service tags.

Btw the servicetags route still have the host tags page header (Hosts tags overview)

[2014-11-17 10:05] #93 closed, assigned to nobody

[2014-11-27 11:30] Dual-Boot opened #101 "hoverit.js is missing"
Hello,

I discovered with FireBug that when clicking on impacts tab, it generate a 404 error about hoverit.js.
Looking at the code for it, "hoverit.js" is not present into /var/lib/shinken/modules/webui/plugins/impacts/htdocs/js/
After some researches I got this :
http://forum.shinken-monitoring.org/showthread.php/822-hoverit-js-missing-from-impacts-page?s=68059422997757ebb048179dba85572c
And look

[2014-11-27 20:26] Dual-Boot opened #102 "Error 404 with wall tab in the dashboard"
Hi,
##  I have install webui with shinken command and I still have this problem when I click on "wall" tab :

Error 404: Not Found

Sorry, the requested URL 'http://localhost:7767/wall' caused an error:
## Not found: '/wall'

 I found nothing on the web related to this problem. I tried to debug but without any success.

  Best regards,

[2014-11-27 21:05] Dual-Boot opened #103 "error 404 with iphonebuttons.css (added a fix)"
Hi,

 I discovered this little error in the dashboard with FireBug :

"NetworkError: 404 Not Found - http://localhost:7767/static/eltdetail/css/iphonebuttons.css_"

Error was in the webui/plugins/eltdetail/views/eltdetail.tpl line 29 :
css=['eltdetail/css/iphonebuttons.css_'
I just changed the pattern into :
css=['eltdetail/css/iphonebuttons.css'

 And it works.
 Regards,

[2014-12-01 19:33] #103 closed, assigned to nobody

[2014-12-02 06:46] DessaiImrane opened #104 "How to use "Try To Fix!""
Hi,

Maybe I missed something in the doc, but how this button works and how can we configure it ?

Can we use it to refer to an External Link (for instance to our internal Knowledge Database) ?

[2014-12-02 06:59] andyxning opened #105 "How to figure out the timezone of the webUI use for scheduled downtime"
I have set the timezone to "Asia/Shanghai", however it comes out that the timezone for the scheduled downtime of webui does not take it. And, appears less that the specified timezone with 8 hours, which come to a hint that webui used UTC time.

Is there any method to configure the timezone of webUI?

[2014-12-04 12:13] andyxning opened #106 "http 404 config profile"
Got http 404 for config and profile file.

[2014-12-04 12:58] #106 closed, assigned to nobody

[2014-12-05 23:19] Dual-Boot opened #107 "Port number 7767 hardcoded"
Hello,

I test webui and I notice that when I click on Shinken -> Shinken UI , I am redirected to myserver.mydomain.tld:7767 .
But I use an apache 2.4 proxy in front of Shinken, so it redirected me to myserver.mydomain.tld:7767 which should be (I suppose) myserver.mydomain.tld .
All proxy redirections are good except this one.
I grep 7767 into /var/lib/shinken/modules/webui/ and I found these refe

[2014-12-06 18:22] #102 closed, assigned to nobody

[2015-01-04 19:20] jimbowarrior commented on #102
I already read it and ticket closed and no solutions....

[2015-01-04 20:26] Frescha commented on #102
@jimbowarrior https://github.com/shinken-monitoring/mod-webui#report-a-bug
* WebUI Version and branch
* Steps to reproduce the problem, with actual vs. expected results

Please post any additional logs

[2015-01-04 21:34] jimbowarrior commented on #102
from frech install they are no issue regarding "Wall" 404 not found. It's only into Hosts details sections : Linux_ssh, linux_ssh_memory and Linux_ssh_processes fields
shinken --version
shinken 2.0.3

How can I print Webui version ? I installed by pip install shinken and shinken install webui...

log:
015-01-04 20:57:23,650 [1420401443] Warning : Printing stored debug messages prior to our daemoni

[2015-01-04 21:40] jimbowarrior opened #110 "Error 404: Not Found into WebUi interface: details hosts sections"
Reproduce on Debian 7 32 bit Ubuntu 14.10 64 bit firefox, Chrome.

[code]
How can I print Webui version ? I installed by pip install shinken and shinken install webui...

log:

[code]

![shinken](https://cloud.githubusercontent.com/assets/10389612/5607625/a45cb224-9462-11e4-83ec-46ea6d188ee7.png)

[2015-01-04 21:41] jimbowarrior commented on #102
ok I open a new one in right section, sorry

[2015-01-04 21:55] jimbowarrior commented on #110
[code]

[2015-01-06 17:10] maximebrun opened #111 "Group downtimes"
Hello,

It is sometime useful to add a downtime on multiple hosts/services.
I found nothing in the issues about that. I'm not sure how to do that with webui evolution so i didn't propose a pull request.

I added downtime action in problem plugin, so it is possible to plan a downtime for a selection.

Do you have a roadmap or something like that for webui next ?

[2015-01-08 21:20] Frescha commented on #111
Hi, sounds interesting. If you have interest to improve the WebUI with us, feel free and send a pull request.

https://github.com/shinken-monitoring/mod-webui#contributing
https://github.com/shinken-monitoring/mod-webui/blob/master/roadmap.md

[2015-01-08 21:22] Frescha commented on #110
@naparuba Could you please have a look. I can't find the issue.

[2015-01-08 22:08] jimbowarrior commented on #110
you don't see my screenshot ?

[2015-01-09 06:47] david-guenault commented on #110
@jimbowarrior i have modified your message as it display correctly as inline code

[2015-01-09 06:52] david-guenault commented on #110
broker module can not find the custom views
those are defined in the templates.cfg from pack-linux-ssh custom_views			+linux_ssh,linux_ssh_memory,linux_ssh_processes

what i do not see is from were the custom views are provided

[2015-01-09 07:20] david-guenault commented on #96
it's all about loading the module config_parser at the root of mod_webui. You can do relative import or just provide config_parser as a module property used in plugins (self.config_parser)

[2015-01-09 08:24] jimbowarrior commented on #110
these user has the same error : https://github.com/naparuba/check-linux-by-ssh/issues/7

my URL are : http://10.100.0.18:7767/host/localhost#cvlinux_ssh_memory  http://10.100.0.18:7767/host/localhost#cvlinux_ssh  http://10.100.0.18:7767/host/localhost#cvlinux_ssh_processes

[2015-01-09 08:29] david-guenault commented on #110
That is what i, said. You do not have the required custom views
in /var/lib/shinken/modules/webui/plugins/

please issue the following command :

ls /var/lib/shinken/modules/webui/plugins/

2015-01-09 9:24 GMT+01:00 jimbowarrior <notifications@github.com>:

[2015-01-09 08:32] jimbowarrior commented on #110
ls /var/lib/shinken/modules/webui/plugins/
action    dashboard  dummy      eltgroup  flow   geomap  impacts      login   mobile  problems  threedimpacts  user  worldmap cv_linux  depgraph   eltdetail  eue       forms  graphs  __init__.py  lookup  ping    system    timeline       wall

[2015-01-09 08:38] david-guenault commented on #110
confirmed, you are missing the custom views

try asking DessaiImrane (creator of this pack)

https://github.com/DessaiImrane/pack-linux-ssh

2015-01-09 9:32 GMT+01:00 jimbowarrior <notifications@github.com>:

[2015-01-09 11:04] david-guenault opened #112 "[2.2RC1]Fix import from plugins for shinken 2.2"
There were changes in the way module are imported in shinken. This make nearly every webui branch unusable bescause of import problem.

One exemple :
in wall.py from helper import .... does not work anymore (not in the global namespace) you must use from webui.helper import ....

There are a lot of other examples

[2015-01-09 13:34] jimbowarrior commented on #110
I installed thise pack with shinken install linux-ssh maybe can I manually copy ?

[2015-01-09 13:49] david-guenault commented on #110
Nop the views are not in the pack. Have to ask ti the oack maintainer
Le 9 janv. 2015 14:34, "jimbowarrior" <notifications@github.com> a écrit :

[2015-01-28 15:15] tchene opened #114 "Error 500 on mobile view"
Hi, I have some problem with the mobile interface. The server return an error 500 with this comment :

"Sorry, the requested URL 'http://192.168.1.33:7767/mobile/main' caused an error:

Template u'header_element_mobile' not found."

I don't know what is a template for webui. I try to search the words "element", "template" or "header_element" in my files, but I have no result.

Anyone know what am

[2015-01-28 17:50] Frescha commented on #114
WebUI Version and branch?
If you use the current version, there is no working mobile interface anymore. sorry

[2015-01-29 08:25] tchene commented on #114
I use the current version of the master branch, so it's ok. But do you know how can I download an usable mobile ui?

[2015-01-30 14:41] t0xicCode commented on #90
@david-guenault any update?

[2015-01-30 15:17] david-guenault commented on #90
not at the moment, working on multiple projects (shinken, docker, kunai .... ) with so little time. Gona check this out this monday

[2015-02-23 12:16] claneys opened #116 "Feature request : ACL on displayed elements for an user"
Hi,

It will be nice, if an user can view only elements that its contactgroup is assigned to.

What do you think ? I don't know what's the better solution, keep based on contact group or add an admin panel to the admin user that will configure acl for each user. First solution may be easier, already test to filter minemap view based on that that works well.

[2015-03-09 22:30] Dual-Boot commented on #102
Hello,

 So I get again the 404 problem with the wall view. And I found a solution this time ;-)
The problem is in this file :
/var/lib/shinken/modules/webui/plugins/wall/wall.py
Using the following command :
python /var/lib/shinken/modules/webui/plugins/wall/wall.py
I got :
Traceback (most recent call last):
  File "/var/lib/shinken/modules/webui/plugins/wall/wall.py", line 31, in <module>
    fr

[2015-03-13 20:25] dchenbecker commented on #102
@Dual-Boot 's solution worked for me. I installed shinken 2.2 using pip, FWIW.

[2015-03-19 15:45] claneys commented on #116
Commit :
f0db4f32363e3db7a2d73c98f77f199049dc1341
0058cc5b11351836bbe57ad936e7dbf4f929928b
c8bcfde624160447b5a407b95b644c1f8eefa8ab

To make a POC of that. And fix some old issues about importing config_parser and helper objects.

Need at least shinken core commit naparuba/shinken@f0cd8cb92aa25ee4b319f46e12c6db168c9620e8

[2015-03-24 14:12] claneys commented on #116
Continue with filter on host's services in eltdetails and reworked way to filter elements.

Any suggestions is welcome, has i'm not sure about how to make it. I replaced some filtering process into module instead of template but can't make it about services.

[2015-03-26 10:24] arthurlogilab opened #118 "Not found /config & /profile"
On debian jessie install I get ```Not found: '/config'``` on ```http:/IP:7767/config``` (same goes for /profile)

ii  shinken                           2.0.3-4

[2015-03-27 09:56] alkero commented on #102
Same problem with Shinken 2.2, and the solution provided by Dual-Boot works for me too.

[2015-04-07 04:08] mohierf opened #119 "Shinken IO plugin"
A seamless integration for the Shinken IO daemons view should be interesting ? I made a test with an iframe ... but it should be interesting to bypass the user login : @naparuba ?

![image](https://cloud.githubusercontent.com/assets/2932687/7016801/733723aa-dcec-11e4-99d6-61361bf5275c.png)

![image](https://cloud.githubusercontent.com/assets/2932687/7016793/374761f2-dcec-11e4-94d1-0ab8982641ce.png

[2015-04-07 07:24] mohierf commented on #112
Seems ok on all modules now ? At least on bs3 branch ...

[2015-04-07 07:28] naparuba commented on #119
Why not, but we just need a way to authentificate with http like with the
key+secret, but so they will appears in a webui user. I don't see any other
way than this currently. any idea?

On Tue, Apr 7, 2015 at 6:08 AM, Frédéric MOHIER <notifications@github.com>
wrote:

[2015-04-07 08:38] mohierf commented on #119
The idea should be to allow only admin users to have this view ... and so, the admin user should have key + secret parameters in his configuration.

 Let us say I have these parameters, how should I authenticate : any web service on your server ?

[2015-04-07 08:56] naparuba commented on #119
only user+pass or api+secret. Last one is only for push, first is for UI
login. but then set cookie so only need one login after all.

On Tue, Apr 7, 2015 at 10:38 AM, Frédéric MOHIER <notifications@github.com>
wrote:

[2015-04-07 08:57] naparuba commented on #119
but as we can add new admin feature there, isn't it dangerous to allow all
webui user to see these part? after all all user don't need to see the
daemons state/names. such view should be restricted to shinken admins at
minimum i think :)

On Tue, Apr 7, 2015 at 10:55 AM, nap <naparuba@gmail.com> wrote:

[2015-04-07 09:00] mohierf commented on #119
Yes, you are right ... this view should be restricted to admin users !

I can make a test for this. which Web Service should I call to log in kernel.shinken.io ?

[2015-04-07 09:13] naparuba commented on #119
POST http://shinken.io/login

name <== the shinken.io username
password <=== I think you know what is it ^^

It will answer with a json object:
{"status": 200, "text": "OK", "api_key": "BLABLALBA", "email":
"THEUSEREMAIL"}

and will set a cookie that is userd after to retrive/auth the user for
other calls.

^^

On Tue, Apr 7, 2015 at 11:00 AM, Frédéric MOHIER <notifications@github.com>
wrote:

[2015-04-08 14:39] mohierf commented on #41
![image](https://cloud.githubusercontent.com/assets/2932687/7047608/dff58122-de0d-11e4-912c-09b99239b1e1.png)

[2015-04-09 07:06] naparuba commented on #41
looks sexy ^^

[2015-04-12 21:02] t0xicCode commented on #102
:+1: for @Dual-Boot's fix.

[2015-04-14 14:56] ThomasBarach commented on #104
Hi,

Did you figure this out ?

Regards

[2015-04-14 16:36] t0xicCode opened #120 "[Security] User's password should never be disclosed in the logs"
In https://github.com/shinken-monitoring/mod-webui/commit/b6ad47a3f89edcba85cc401b9664b29b1f1057bb#diff-d782b22ce2c6b32665a9f262c078cef8R611

The user's password is logged in plaintext to the logs. This is bad from a security point of view, as the logs are often more open than the auth system.

I'm not sure if the other branches have this vulnerability, but this should be fixed ASAP.

[2015-04-14 17:14] t0xicCode opened #121 "Support for Gravatar"
A lot of services are using Gravatar to load a user's image. mod-webui should allow this.

[2015-04-14 17:41] t0xicCode commented on #121
This is for the bs3 branch.

[2015-04-14 18:49] t0xicCode opened #124 "[branch bs3] Method get_services_tagged_with doesn't exist in shinken.misc.Datamanager"
The `get_services_tagged_with` method is called on the [Datamanager](https://github.com/naparuba/shinken/blob/master/shinken/misc/datamanager.py) in many places (mainly in the [tags plugin](https://github.com/shinken-monitoring/mod-webui/blob/bs3/module/plugins/tags/tags.py)). That method should either be added to the shinken Datamanager, or removed from webui.

[2015-04-15 06:08] #120 closed

[2015-04-15 15:35] #121 closed

[2015-04-16 06:05] mohierf commented on #124
You are right ... those methods have never been added to DataManager class because they are only used in WebUI ... I just added with some other in module.py of WebUI. It may be ok now ...

[2015-04-16 06:07] mohierf commented on #118
? Should you explain a little more about why/how you requested on  */config* or */profile*

[2015-04-16 06:22] mohierf commented on #85
In recent BS3 modifications you may choose in the *menu.cfg* file which feature are present or not in the sidebar menu ...

[2015-04-16 09:27] arthurlogilab commented on #118
Click on the menu at the top left, click on the button "configuration" or button "profile"
![untitled](https://cloud.githubusercontent.com/assets/445200/7177995/926e7412-e42b-11e4-81a0-fc2ec6fa9d8b.jpg)

[2015-04-16 13:28] naparuba commented on #104
It try to launch the event_handler in fact :)

On Tue, Apr 14, 2015 at 4:56 PM, ThomasBarach <notifications@github.com>
wrote:

[2015-04-16 15:22] mohierf commented on #118
Ok, I suppose it is some remainings of the initial mock-up @Frescha ?

[2015-04-20 21:22] t0xicCode commented on #124
Still getting the error. The methods need to be added to the Datamanager class in shinken proper (the better option) or the calls in the webui need to be changed to remove the `datamgr` part.

[2015-04-23 08:23] tarak666 commented on #102
@Dual-Boot  Thanks Your  solution works for me.

[2015-04-23 08:37] tarak666 opened #127 "Downtime Can trigger in log, but Not showing in webui"
Hi,

We have shinken2.2 installed using pip, everything working fine for me but only downtime is not working.
When i add downtime it showing in log, but not showing  on webui or commant box.

Shinken Version:- shinken 2.2
Log in shinken.log
=======
 EXTERNAL COMMAND: [142912347187] SCHEDULE_SVC_DOWNTIME;localhost;Check Memory Usage;142345340;142345540;1;0;0;tarak;sdsad

Can any one help me to fix

[2015-04-23 14:20] t0xicCode commented on #102
In the meantime, the bs3 branch doesn't have this issue.

[2015-04-25 14:21] Dual-Boot commented on #57
Hi,

 I met the same problem and used this simple workaround :
cp -a /var/lib/shinken/modules/webui/htdocs/images/sets/database/state_ok.png /var/lib/shinken/modules/webui/htdocs/images/sets/database/state_up.png
You can also rename it only but I prefer to have an old copy.

Regards,

[2015-04-28 11:26] andyxning opened #128 "Memory leak in broker module webui"
We use WebUI as the frontend of Shinken, however, after about a month later, we find that the memory of WebUI is holding almost 30G memory.

We do not restart Broker daemon meantime. We only do some reload of arbiter if the configuration has changed. So, any threads about how this comes?

I have issued the same question in shinken [1597](https://github.com/naparuba/shinken/issues/1597).

[2015-04-29 20:00] tarak666 commented on #84
Hi,

We have shinken2.2 installed using pip, everything working fine for me but only downtime is not working.
When i add downtime it showing in log, but not showing on webui or commant box.

Shinken Version:- shinken 2.2

Log in shinken.log

EXTERNAL COMMAND: [142912347187] SCHEDULE_SVC_DOWNTIME;localhost;Check Memory Usage;142345340;142345540;1;0;0;tarak;sdsad

Can any one help me to fix this iss

[2015-04-30 15:15] ChrisHeerschap commented on #102
Found this problem in 2.4-RC4 - installed following this video: https://www.youtube.com/watch?v=jtUytVXtw14 and the fix proposed by @Dual-Boot worked for me. Thanks!

[2015-05-01 15:47] t0xicCode commented on #84
We switched to the bs3 branch, which doesn't have gestures.

[2015-05-01 23:49] mohierf commented on #84
In BS3 branch you can activate gesture with a simple parameter (tab_gesture=yes
) in the file *eltdetail/plugin.cfg* file ...

I am not quite sure that this feature is fully operationnal because I never use ... and I intend to remove from the WebUI.

[2015-05-02 06:52] hvad commented on #84
Hi,

i use webui since 2 years and i never use gesture. i think it's not
necessary.

Good job on BS3.

Best regard

2015-05-02 1:49 GMT+02:00 Frédéric MOHIER <notifications@github.com>:

--
David Hannequin

[2015-05-02 07:44] mohierf commented on #84
Thanks !

[2015-05-02 18:29] mohierf commented on #124
I just commited a bunch of modifications in BS3 branch to manage those functions ... I added a lot of functions initially located in datamanager as a stub in module.py ... the idea is to isolate the WebUI from Shinken core modifications.

 I tested in my env that the services tag are well managed !

 Please give it a try ...

[2015-05-02 18:29] #124 closed

[2015-05-02 18:32] mohierf commented on #111
In BS3 branch, I added a *Schedule downtime* action in the problems view. You may be able to select all hosts from an hostgroup and then apply Schedule downtime action on all the hosts of the group. The downtime is scheduled for one day ...

[2015-05-02 18:33] mohierf commented on #104
I close because a valid answer has been published.

[2015-05-02 18:33] #104 closed

[2015-05-04 07:44] naparuba commented on #84
gestures did work on the past, but it was more a joke than a real feature
to use ^^

On Sat, May 2, 2015 at 9:44 AM, Frédéric MOHIER <notifications@github.com>
wrote:

[2015-05-04 08:21] olivierHa opened #129 "BS3 branch = Can't expand details"
Hello,

Using bs3 branch, expanding details doesn't work in alerts view, you can expand every host, but not a particular one.

Olivier

[2015-05-04 08:23] olivierHa opened #130 "[BS3]Error with service group"
Servicegroup isn't working with branch bs3 (and shinken 2.4).

Traceback (most recent call last):
  File "/usr/local/lib/python2.6/dist-packages/Shinken-2.4_rc4-py2.6.egg/shinken/webui/bottlewebui.py", line 686, in _handle
    return callback(**args)
  File "/usr/local/lib/python2.6/dist-packages/Shinken-2.4_rc4-py2.6.egg/shinken/webui/bottlewebui.py", line 1357, in wrapper
    rv = callback(*a, *

[2015-05-04 08:42] mohierf commented on #129
I suppose that the concerned view is the Problems view, right ?

 If so, I am currently refactoring this view because I also noticed some problems in its content ... I will commit some modifications soon about it.

[2015-05-04 08:44] mohierf commented on #130
I will try to reproduce the problem ... it seems that there are some missing lines in your message :;)

[2015-05-04 19:48] hvad commented on #85
Great ^^

Thanks

[2015-05-04 19:48] #85 closed

[2015-05-05 08:17] Peter-YAN opened #131 "How to develop a custom view for a plugin in webui"
Hi, could you give some guide about developing view for a plugin?
I need to write a brand new plugin, i hope to config it using page1 and show it result in page2.
Please guide me to develop page1 and page2, and how to add this pages into webui?

[2015-05-05 08:47] Peter-YAN commented on #131
Please also list the technologies about developing webui?
I am a new to developing web page, i have some knowledge about python.
Thanks.

[2015-05-05 11:47] mohierf commented on #131
For custom views you should have a look in the bs3 branch in ```plugins/cv_*``` directories. Each of these directories is a custom view and you will find useful information in the source code ...

 If you are not easy with the technologies used in the WebUI it will be quite hard to you to manage this easily : python, bottle templates, html, javascript and, finally, HTML5 canvas ...

 In a few word

[2015-05-07 10:02] Peter-YAN opened #132 "How to develop a email notification with a html attachment"
Hi,
Could i use shinken to send a email notification, and the email should be a custom format, such as highlight text, use table form; attachment is also want to used in the email.

I found zabbix could run external script to meet this requirement.
But I do not find it in Shinken,

[2015-05-07 10:07] Peter-YAN commented on #132
I found zabbix could run external script to meet this requirement.
But I do not find it in Shinken,

[2015-05-07 12:05] mohierf commented on #132
The Shinken WebUI is not concerned by this feature ... to send an email notification you should configure the host/service/contact notifications attributes in your Shinken hosts/services/contacts configuration file.

[2015-05-07 12:05] #132 closed

[2015-05-07 12:13] mohierf commented on #128
I met the same problem this morning ! I do confirm that the master branch WebUI seems to have heavy memory leaks ! Still on survey on my production ...  more than 19Gb memory in few minutes for 20k services.

 I will make a test with BS3 branch on the same environment to check.

[2015-05-07 15:47] tarak666 commented on #73
Hi ,
Can you please give pull request details for history tab.

Thanks,Tarak

[2015-05-08 03:20] andyxning commented on #129
i meat that in our situation, too. One of our front end team worker said that it is the Javascript problem.

[2015-05-08 06:16] andyxning commented on #128
As far as i can tell is that the notificationways is duplicated between each shinken reload.
I use webui to log the number of each field of a regenerator instance. Then i find that between each shinken reload the notificationways is duplicated. So, if we have many(3w, acutally) contacts, then we can have as many notificationways as contacts, so the memory will be added up.

[2015-05-08 06:26] lermit commented on #129
Hi,

I confirm that. I've Fix a similar mistake in a past pull request. If i've right it's related to host containing dot.

Regards

[2015-05-08 07:03] mohierf commented on #129
@andyxning : is it possible that you copy an image of the javascript console ? I cannot reproduce the problem in my current configuration ...

[2015-05-08 11:17] hvad opened #134 "[BS3] install doc"
Hi,

Can you write a minimal howto install BS3 ?

Thanks

[2015-05-09 06:34] mohierf commented on #134
I will try to find some time to make such a doc ... currently I install the "standard" WebUI and then I replace all the files with the content of BS3 branch :/P

[2015-05-09 15:59] t0xicCode commented on #84
At this point I wouldn't mind removing them

[2015-05-09 16:06] gst commented on #128
ah ! that would explain why I don't always (or at all) succeed to reproduce such issues : because often I use a relatively simple config, if in which there is no notificationways then I could simply don't hit the "bug".

So thanks for the info/tip when I'll retry an investigation with notificationways enabled :)

[2015-05-11 04:20] andyxning commented on #128
i can now tell that there is something wrong when processing contacts and notificationways in regenerator.py.

We only clear hosts and services when we reload the configuration or when one scheduler has down and the spare one takes over the configuration, however, we lost the contacts and notificationways.

we initial new notificationways wrongly after the `add_item` function which will then use `

[2015-05-12 17:10] redactlabs commented on #102
@Dual-Boot :+1: thanks again for this fix.

[2015-05-13 06:20] andyxning opened #135 "globally disabled notification can not be reflected in WebUI"
currently, WebUI displays service or host Notifications with `elt.notifications_enabled` variable, however, if we use the 'DISABLE_NOTIFICATIONS' external commands we only change the value of `enabled_notifications` of the conf which is then inherited by service, host  and contact. Thus notification is disabled globally.

So, if we issued an `DISABLE_NOTIFICATIONS` external command then the **Noti

[2015-05-13 14:26] gst commented on #128
Some references (in any order) concerning memory (leaks) in Python (worth to read) :

http://stackoverflow.com/a/1316799/2451329
http://effbot.org/pyfaq/why-doesnt-python-release-the-memory-when-i-delete-a-large-object.htm
http://deeplearning.net/software/theano/tutorial/python-memory-management.html#internal-memory-management
http://www.digi.com/wiki/developer/index.php/Python_Garbage_Collection

[2015-05-16 12:11] mohierf opened #136 "BS3 improvements - ideas are welcome ..."
**Note:** I open this issue to track ideas for improving Shinken BS3 WebUI ... please feel free to drop your ideas in this check-list ...

Improvements :
- [ ] open a global Shinken parameters page
- [ ] allow to schedule a downtime for a contact

Look and feel :
- [x] real bootstrap theme / skinnable interface

[2015-05-18 15:54] maethor commented on #136
Hello,

I'm just beggining to use the BS3 branch, I have one major comment.

Some pages are really too long to display few information. `/commands` and `/contacts`, for instance, could be a very efficient using simply a bootstrap table.

In my opinion, the best example is `/problems`. This page looked wonderful at the first look… and then I realized it is completely unusable. On this page, efficie

[2015-05-18 16:04] mohierf commented on #136
Thank you for your comment and time. BS3 was, at first, built as a moke-up and you are right ... some pages seriously need to be reworked to be more efficient when used ... I am currently working on some improvements for the problems page !

 I already refactored some of this page building process but do not yet have a commitable version ...

 For more information, how many objects do you have in

[2015-05-18 20:06] maethor commented on #136
Hi, thanks for your answer. I'm available to discuss it and to help you on the code if you want. I use shinken every day and I know very well bootstrap. I never contribute to the shinken code, but I'd be happy to.

I have around 150 hosts and more than 2000 services. I have currently 27 services down, 20 warning and 8 unknown. I have 3 contacts, the usual 5 or 6 timeperiods, around 15 hostgroups a

[2015-05-18 20:08] maethor opened #137 "[BS3] Error in problems page"
On the BS3 branch, the `/problems` view was working fine 2 hours ago, but now it returns a 500 error:

[code]

[2015-05-18 20:12] mohierf commented on #136
I am never connected on the IRC channel ;-)

I know quite well the WebUI source code based upon python bottle Web server and its templating feature ... but I am not an expert in bootstrap coding. This is why I am interested in your proposal for helping with the bootstrap code ... it may really help if you could build an HTML/Bootstrap moke-up for a problems page based upon a bootstrap table ?

 Pl

[2015-05-20 15:21] mayasd commented on #130
Hi,
I have same issue (Shinken 2.4). Traceback :

Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/shinken/webui/bottlewebui.py", line 686, in _handle
    return callback(**args)
  File "/usr/local/lib/python2.7/dist-packages/shinken/webui/bottlewebui.py", line 1357, in wrapper
    rv = callback(*a, **ka)
  File "/var/lib/shinken/modules/webui/module.py", line 559,

[2015-05-20 16:44] mohierf commented on #130
Did you copy all the Traceback logs ... it seems that there are missing lines at the end ?

[2015-05-21 04:29] mohierf commented on #131
I suppose my previous comment is ok, so I close .

[2015-05-21 04:29] #131 closed

[2015-05-21 04:31] #137 closed

[2015-05-21 07:12] mayasd commented on #130
Argh...it's better now ;)

[2015-05-21 07:57] mohierf commented on #130
Is it fixed ? If so, I do not understand why ... :/P

[2015-05-21 15:49] mayasd commented on #130
Sorry, it's not fixed. Look at my first comment, traceback is complete now :)

[2015-05-21 16:16] mohierf commented on #130
Sorry (also ...) I did not understood your comment ... ok, now I see where the problem should be. I will try to fix very soon ...

[2015-05-21 21:08] mohierf opened #141 "Comments, acknowledgements, ... with accented characters"
French accented charcarcters seem not to be considered ...  to be checked and fixed if buggy !

[2015-05-26 10:39] deepy opened #143 "Authentication fails with auth-cfg-password, APP is None."
I followed http://shinkenlab.io/online-course-2-webui/ up until the point where I had to log-in, when I try to log-in I get: Warning! Invalid user or Password

And then in broker:
[code]

[2015-05-29 09:31] mohierf opened #147 "Element state icons ..."
We decided to make more consistent the element's state rendered by the WebUI ... as of it this issue explains the rules used for this ..

Element (host/service) state icons rules definition :
- for an host :
  - use the same icon whatever the state is
  - icon color is *success* if host is UP
  - icon color is *alert* if host is UNREACHABLE
  - icon color is *danger* if host is DOWN
  - icon color

[2015-05-29 09:57] mohierf opened #148 "List views pagination"
Some rules about pagination in list views :
 - [x] pagination widget include buttons for :
   - First page
   - Previous page ( X-1 )
   - Current page (X)
   - Next page (X+1)
   - Last page

 - [x] pagination widget allows to modify the current number of displayed elements in the view

 - [x] current number of elements may be stored in user's preferences

[2015-05-29 10:08] mohierf opened #149 "Services view with filtering"
Based upon the most recent problems view, we should build a view with the following features :

 - [x] build a table of monitored hosts with current main information

 - [x] build a table of monitored services with current main information

 - [x] includes a pagination widget as of #148

 - [x] allows choosing a sorting criteria for the list

 - [x] bookmark defined sort criterias for current user

[2015-05-29 10:16] maethor commented on #147
Instead of `thumbs-up` and `remove`, we could simply use up and down, like in `eltview`. Using `check` for the acknowledged state is a good idea.

[2015-05-29 11:09] tarak666 commented on #73
Hi,

Can you help me out from this issue, I cant check logs and History from webui.
using: Webui-Bs3
Shinken 2.2
Error: Sorry, I cannot load the service history!
On log tab: Error : Unable to create mongo DB connection localhost:27017

![hc1](https://cloud.githubusercontent.com/assets/3509727/7881498/50e75a32-0621-11e5-9b10-bbd1e19ead06.PNG)

[2015-05-29 11:37] mohierf commented on #73
Have you installed and configured the mongodb module ? and logstore-mongo ?

 If so you should have logs in this tab ...

[2015-05-29 11:46] tarak666 commented on #73
Yes, I have mongodb and logstore-mongo installed and i see log generating in mongo.
My logstore_mongodb.cfg
define module {
    module_name     logstore-mongodb
    module_type     logstore_mongodb
    mongodb_uri     mongodb://localhost/?safe=false  ; Set to your value
    # If you are running a MongoDB cluster (called a “replica set” in MongoDB),
    # you need to specify it's name here.
    # W

[2015-05-29 12:26] mohierf commented on #73
The database name is not the default one ... so you should configure the WebUI plugin. Please have a look to the file plugin.cfg in the plugins/logs directory. You should have this self explanatory configuration file :
[code]

[2015-05-29 12:43] tarak666 commented on #73
okay, I changed database name and even in logstore-mongodb.cfg, but no luck.

My plugin.cfg
===========
[plugin]
# Mongo DB server connection
mongo_host=localhost
mongo_port=27017

# Database name
db_name=shinken_logs

[2015-05-29 12:48] mohierf commented on #73
Have you declared mongodb as a module of your webui in webui.cfg ?

Your database name seems to be *shinkenLivestatusLogs* ... and the one used by the webui is *shinken_logs* ... they do not match!

[2015-05-29 12:53] tarak666 commented on #73
I have changed both databases names as shinken_logs and declared in webui.cfg.
i see log generated in new database.

local   0.078125GB
logs    0.203125GB
shinken 0.203125GB
shinkenLivestatusLogs   0.203125GB
shinken_logs    0.203125GB
test    (empty)

switched to db shinken_logs

 "_id" : ObjectId("55685c52693dc30ec24b179f"), "comment" : "", "plugin_output" : "", "attempt" : 0, "message" : "[1432

[2015-05-30 10:31] maethor commented on #147
I propose a new set of rules:

- Whatever the state is, stack an icon on a plain circle. The icon is white (fa-inverse), and the plain circle has a CSS class `font-{{state.lower()}}` (`font-ok`, for instance). These CSS classes are already declared in the CSS. So we don't use bootstrap's color anymore (they are not punchy enought).

- For an host, the icon is always fa-server.

- For a service:

[2015-05-30 12:26] mohierf commented on #147
Really nice !

![image](https://cloud.githubusercontent.com/assets/2932687/7897311/dbf4853a-06d7-11e5-95f6-8246baa8b388.png)

[2015-05-30 19:32] maethor commented on #147
I also really like it. The next thing I will do is to replace every icons by theses ones… or at least try to :)

Typically, it would be nice to use this function in the problems synthesis. Maybe with a base function that would be more generic, I don't know. What I'm sure is that we should convert states to icons in only one place.

[2015-06-01 09:01] maethor commented on #147
I propose a new set of rules:

- Whatever the state is, stack an icon on a plain circle. The icon is white (fa-inverse), and the plain circle has a CSS class `font-{{state.lower()}}` (`font-ok`, for instance). These CSS classes are already declared in the CSS. So we don't use bootstrap's color anymore (they are not punchy enought).

- For an host, the icon is always fa-server.

- For a service:

[2015-06-01 09:20] mohierf commented on #147
Hi @maethor ... what is the difference with your previous comment 2 days ago ?

[2015-06-01 11:00] maethor commented on #147
The difference is that I posted the comment two days ago, and today it's a javascript bug in my browser that reposted the comment :)

I was about to do the same modifications, so thank you :)

[2015-06-01 11:13] maethor commented on #130
I think we can close this bug, because the line concerned have been removed.

[2015-06-01 11:19] #130 closed

[2015-06-01 11:23] maethor commented on #141
With or without accents, the comments doesn't works for me. I can post a comment, but the content is "undefined".

[2015-06-01 11:37] maethor opened #153 "cv_linux-nrpe: is it supposed to work ?"
I cv_linux-nrpe tab supposed to work ? I just add it for testing, and I'm getting this:

![2015-06-01-133508_1920x2100_scrot](https://cloud.githubusercontent.com/assets/2410576/7911942/503e7e00-0863-11e5-95ac-ce9378bd03a9.png)

[2015-06-01 16:20] mohierf commented on #141
I am trying to fix the accented characters bug ... but it is not very simple ! There is a solution that is to convert all accented characters in the WebUI to their non accented version, but it is not very user friendly ...

[2015-06-03 16:37] maethor commented on #153
Ok, it's fixed.

[2015-06-03 16:37] #153 closed

[2015-06-03 16:39] maethor commented on #141
Failing is not user friendly. If you can fix by removing the accents, I think it's OK for a workaround. We can always improve later.

[2015-06-03 16:45] maethor commented on #135
I also see a bug when there is no notification_period. I think we can generalize to this:

[code]

I have a PR coming with this modification.

[2015-06-03 16:46] maethor commented on #129
I think we can close this bug since we have completely rewrite the /problems view.

[2015-06-03 16:54] mohierf commented on #141
I think this will be the first scenario ... because it does not seem that
easy to deal with accented characters in Shinken :/P

2015-06-03 18:39 GMT+02:00 Guillaume Subiron <notifications@github.com>:

[2015-06-03 16:54] mohierf commented on #135
+1

[2015-06-03 16:54] #129 closed

[2015-06-03 19:01] maethor commented on #134
I think we can close this issue now.

[2015-06-03 19:05] maethor commented on #127
I know it may not be the answer you expected, but we are working hard on the `bs3` branch. You should try it, I think this bug is fixed in this branch.

[2015-06-03 19:15] maethor opened #155 "[BS3] Javascript bug in problems view"
In the problems view, I think the problem's details shouldn't collapse when we click on the checkbox to select the problem. It's really a pain when we try to select many problems.

@mohierf I understood you are the JS expert, can you try to fix this ? I tried for many hours, but didn't succeed :(

[2015-06-04 02:04] andyxning commented on #135
@maethor , i think you should take `elt.enabled_notifications` into the test clause. And, can you please explain what does the "a bug when there is no notification_period" mean and under which circumstance we can see this bug? :)

[2015-06-04 02:08] andyxning commented on #135
@mohierf , can you please take a look at this issue. I have see what is in  @maethor RP, i think it is based on your bs-3 branch.

[2015-06-04 02:09] andyxning commented on #129
@maethor , you said that this problem has been resolved in bs-3 branch?

[2015-06-04 02:15] andyxning opened #157 "what is the release cycle about mod-webui"
@mohierf , i think we have make the WebUI more robust under bs-3 branch. So, my question is what is the release cycle about mod-webui. I want to make a chance with bs-3, however, when i click the release tab in Github, i have seen that we have about currenly 139 commits ahead of the release bs-3.

So, i was confused that,
* can i use bs-3 with the expect that we have make more enhancement proposed

[2015-06-04 03:30] #134 closed

[2015-06-04 03:52] mohierf commented on #157
We are still in a transition phase with this project and BS3 branch is a really good candidate to become the new master branch of the Shinken WebUI!

 We made real improvements on this branch and we are still testing if it is stable enough to become the new master ... discussions are ongoing about it.

 As of it, we did not yet defined a roadmap or a release cycle. As you may see, we are regularly

[2015-06-04 04:14] mohierf commented on #127
Yes, this bug is fixed. I made some tests yesterday with ack and downtimes and all are displayed correctly.

[2015-06-04 04:14] #127 closed

[2015-06-04 04:49] andyxning commented on #157
Absolutely Yes, then i decide to get the BS3 branch to make a tempt instead
of the BS3 release.

If i have some questions, i will let you know soon. :-)

++++++
Ning Xie

2015-06-04 11:52 GMT+08:00 Frédéric MOHIER <notifications@github.com>:

[2015-06-04 05:24] maethor commented on #129
Yes, we have entirely rewritten the /problems view. Is it not fixed for you ?

[2015-06-04 07:17] andyxning commented on #129
I just want to make sure of that.:)

I will give ti a try.

++++++
Ning Xie

2015-06-04 13:24 GMT+08:00 Guillaume Subiron <notifications@github.com>:

[2015-06-04 07:39] maethor commented on #155
This is awesome. Thanks @mohierf !

[2015-06-04 08:20] maethor commented on #155
Argl, to bad it creates a new bug. Now the action panel doesn't show up.

[2015-06-04 08:38] maethor opened #158 "[BS3] New filter system"
To unify `problems`, `hosts`, `services`, and `all`, I think we should work on a new, simple, filter system. So I was looking around on the web to find something nice, and I think I'm really in love with the Github issues filter.

With a system like this, we could regroup bookmarks and filters in one line, and we could present some common presets to the user (problems, ack, etc.). It would be real

[2015-06-04 08:43] andyxning commented on #157
@mohierf , can you please see the PR #115 about default downtime values. It is very simple. :)

[2015-06-04 08:56] mohierf commented on #158
Nice idea ... up to you !

[2015-06-04 09:50] andyxning opened #159 "details info show Error with Internal server error."
i have test BS3 branch in our situation with the install guide given in the readme.md. However, when i want to get  the detail info about a service or host i get an internal server.

![image](https://cloud.githubusercontent.com/assets/2404712/7980831/4fc3b3ce-0add-11e5-87b7-5644ffaa2233.png)

And when i choose the hostgroups something is still wrong.

![Uploading image.png…]()
![Uploading error.pn

[2015-06-04 11:00] b-keller opened #161 "[BS3]minemap : Internal Server Error"
with the lastest  BS3 version, I have the error below with minemap. I missed something ?

Error: 500 Internal Server Error

Sorry, the requested URL 'http://192.168.0.100:7767/minemap/all' caused an error:

Internal Server Error

Exception:

KeyError('minemap_hostsHide',)

Traceback:

Traceback (most recent call last):
  File "/var/lib/shinken/modules/webui/lib/bottle.py", line 862, in _handle

[2015-06-04 13:43] maethor commented on #158
Hm… besides the filters, there is a small difference between /problems and /all.

In /problems, the elements are retrieved using `app.get_all_problems()`. Impacts are regrouped under the main issue, and are not displayed.

In /all, the elements are retrieved using `app.get_all_hosts_and_services()`. The impacts are regrouped under the main issue, but there are also returned by the function, and di

[2015-06-04 15:39] mohierf commented on #158
Seems to be a good idea. You propose a modification in this way in a PR ?

[2015-06-04 15:55] mohierf commented on #161
Sorry but I did not reproduced this problem on my test environment ... do you have a *plugin.cfg* file in your minemap directory ?

In this file you may declare the hosts to be hidden in the minemap in the *minemap_hostsHide* variable ...

 It should look like this :
[code]

[2015-06-04 16:00] maethor commented on #158
Yes. it works just fine. In fact, I have completely remove the /problems page, the controller now redirects to `/all ?search=isnot:OK isnot:UP isnot:PENDING ack:false downtime:false`.

I don't have time to commit right now, but tonight you'll see it.

[2015-06-04 17:54] mohierf commented on #159
@andyxning : your screen captures did not copied ...  I made more tests this evening on hostgroups and servicegroups but did not found any problem. Please copy new captures or error messages, I will have a look ASAP.

[2015-06-04 18:00] mohierf opened #162 "Sidebar menu animation ..."
... should be smoother. Currently menu appears / disappears abruptly :/P

And have the current item selected in the sidebar

[2015-06-04 18:28] #155 closed

[2015-06-04 18:29] mohierf commented on #143
Please try BS3 branch ... bug is not present and not known to bepresent in master branch

[2015-06-04 18:29] #143 closed

[2015-06-04 18:31] mohierf commented on #119
It would be better to allow connection to this WS with an UI login ... but not that easy to implement ... the user is not a Shinken modules project contributor :/P

[2015-06-04 18:34] mohierf commented on #116
Have you tested this feature with BS3 branch ? I had a look and it seems your required feature is implemented ... please feel free to comment about it.

[2015-06-04 18:35] mohierf commented on #111
Closing ... @maximebrun comment if you are still interested.

[2015-06-04 18:35] #111 closed

[2015-06-04 18:37] mohierf commented on #90
@andyxning : BS3 has improved the logging in WebUI ... many prints were removed and replaced. Your feedback about it is interesting ... do not hesitate to request for more logs if you need.

[2015-06-04 18:37] #90 closed

[2015-06-04 19:27] mohierf opened #163 "Problems view : responsive design ..."
Depending on browser viewport resolution ... take car about table columns ... some columns should not be displayed for lower resolutions :
 - duration and output should be hidden
 - in panel : realm, active/passive check information should also be hidden

[2015-06-04 20:08] b-keller commented on #161
no, any plugin.cfg... this file doesn't exist on the BS3 repo.
I created the file with the line above but I made one little change
`minemap_hostsLevel=1,2,3,4,5` Instead of `minemap_hostsLevel=3,4,5`
Otherwise no hosts are diplay on Minemap...

[2015-06-05 05:19] mohierf commented on #161
Sorry for the mistake ... I committed a file

[2015-06-05 05:19] #161 closed

[2015-06-05 06:23] maethor commented on #158
I see you merged my PR. What do you think @mohierf ?

[2015-06-05 06:26] maethor commented on #159
Instead of making screenshot, you can also simply copy paste the Traceback blocks.

[2015-06-05 06:29] maethor commented on #159
Hum, I just see that @mohierf have made a commit yesterday that should fix your bug in `eltview`. Please update to the head of the branch and try again.

[2015-06-05 06:53] mohierf commented on #158
I just made few tests and I like it ... just fixed a problem with navigation element :-)

Filters dropdown may include downtimed ?

[2015-06-05 07:06] maethor commented on #158
Filters dropdown may include anything.

In fact, I think they will include global bookmarks, and the bookmark dropdown will only include user bookmarks. That way, we could deliver the webui with some pre-configured global bookmarks, and allow the user to do what he want with them (create, update, delete…). The only problem with this idea is that I don't know how to add the "Problems" global bookma

[2015-06-05 07:18] mohierf commented on #158
I will have a look on it ...

I am currently looking how to implement global and user's preferences ... how it is implemented and how to enrich this feature !

[2015-06-05 21:58] b-keller opened #165 "[BS3]navbar : small bugs"
with 1366*768 resolution, there are some small bugs on the navbar :
- search box hide the date
- problems and impact icons focus overflow

![sans titre](https://cloud.githubusercontent.com/assets/12746104/8015814/4d606c80-0bdc-11e5-8efd-5201cfecc96b.png)

[2015-06-07 19:32] mohierf commented on #165
Should be fixed with my last commits ...

[2015-06-07 19:32] #165 closed

[2015-06-07 19:38] mohierf commented on #147
I close this ..

[2015-06-07 19:39] mohierf commented on #2
Very old ... I close.

[2015-06-07 19:39] #2 closed

[2015-06-07 19:40] mohierf commented on #4
Available in BS3 branch. Very old ... I close.

[2015-06-07 19:40] #4 closed

[2015-06-07 19:40] #6 closed

[2015-06-08 05:10] mohierf opened #166 "Sidebar layout of menu items ..."
On wide screens, the menu items in the sidebar are not displayed correctly :/P

![image](https://cloud.githubusercontent.com/assets/2932687/8028420/749ec26a-0dad-11e5-8038-54592ade7e30.png)

[2015-06-08 07:57] maethor commented on #166
@mohierf tu as regardé le thème sb-admin-2 de bootstrap ? Je pense que ça pourrait fournir une bonne webui pour l'interface.

[2015-06-08 08:06] maethor opened #167 "[BS3] WebUI fu**ed up"
@mohierf I just pull the lasts commits… what have you done!? :D

I seems the skin doesn't works anymore, neither does the JS in `/problems`.

[2015-06-08 08:47] mohierf commented on #167
I do not understand ... the modifications I commited are clean on my environment ! The JS on problems page are Ok ... I even installed on my production and it is ok !

It only changed the look and feel of the pages ...

 Whar are exactly your problems ?

[2015-06-08 08:58] maethor commented on #167
I sent you an email with the screenshot, you'll see :)

[2015-06-08 09:00] maethor commented on #163
I agree, I can do it in the problems view.

[2015-06-08 10:04] mohierf opened #168 "User's preference : elements per page"
The number of elements per page is saved as a user preference.

The number of elements per page is displayed and editable in the pagination component (as an input field and as a selectable item).

The main poroblem is that the pagination element is only displayed if needed on a page ... and if it not displayed the user is not able to change the number of elements per page ! Deadlock ...

 A soluti

[2015-06-09 15:21] maethor commented on #168
It's not a problem. I can do this tonight.

[2015-06-09 15:36] maethor commented on #167
Since I completely rewrote the layout to use sb-admin-2, I can close this issue.

[2015-06-09 15:36] #167 closed

[2015-06-09 15:36] maethor commented on #166
Since I rewrite this to use "sb-admin-2", @mohierf you can close this issue.

[2015-06-09 15:37] maethor commented on #162
Since I rewrite this to use "sb-admin-2", @mohierf you can close this issue.

[2015-06-09 15:38] maethor commented on #159
@andyxning can you confirm this issue is closed, and close it, please?

[2015-06-09 15:41] maethor commented on #17
@mohierf you can close this. It's now implemented in BS3.

[2015-06-10 01:27] andyxning commented on #159
Yes, it can be closed.

++++++
Ning Xie

2015-06-09 23:38 GMT+08:00 Guillaume Subiron <notifications@github.com>:

[2015-06-10 03:17] #159 closed

[2015-06-10 03:28] #166 closed

[2015-06-10 03:49] mohierf opened #172 "Login page layout broken"
With the new layout, the login page layout is broken ... a left margin appears. Probably because there is no sidebar on this page ...

![image](https://cloud.githubusercontent.com/assets/2932687/8074555/6897673c-0f34-11e5-9fcd-16b572be2b07.png)

[2015-06-10 16:53] mohierf opened #174 "WebUI user's class: role, profile, ..."
The sidebar menu configuration currently in a *menu.cfg* that has been removed to be replaced by parameters to be stored in the User's preference.

[2015-06-10 17:32] maethor commented on #174
Is it really a useful feature ?

[2015-06-10 17:32] maethor commented on #172
@mohierf you can close this bug.

[2015-06-10 17:34] maethor commented on #168
@mohierf you can close this issue.

But there is still a bug in the widget. The field always display "25" instead of the actual number of elements per page.

[2015-06-10 18:42] #172 closed

[2015-06-10 18:43] mohierf commented on #168
I leave open for the "25" ... :-)

[2015-06-10 18:43] mohierf commented on #174
Find this useful if it is coupled with a kind of user's profile ...

[2015-06-11 08:51] maethor opened #175 "Actions panel buttons doesn't work on select page."
When I select problems, the actions panel open correctly, but the buttons doesn't work. They only work if I use the "select all" button to select all the items.

[2015-06-12 11:31] mohierf opened #176 "WebUI BS3 roadmap proposal"
The BS3 WebUI roadmap doc (https://github.com/shinken-monitoring/mod-webui/blob/bs3/roadmap.md) has been updated.

The main idea is to focus on building an effective and pleasant interface that implements the main necessary features for daily monitoring.

Main features:
 - clean and pleasant layout
 - filterable monitored resources lists
 - bookmarkable filters
 - backend configuration for applica

[2015-06-12 12:38] mohierf opened #177 "WebUI - common and user's preferences"
WebUI module should be self sufficient for storing common preferences and user's preferences. This will avoid to install and operate a MongoDB database server for storing simple parameters.

Storing preferences in files should be sufficient.

[2015-06-12 14:18] maethor commented on #177
Hm… How do you propose to do that ? Serialize and deserialize the configuration in pickle or json files ? Where can we store theses files ?

[2015-06-12 14:34] mohierf opened #178 "WebUI should have its own DataManager class"
Currently, the Shinken data model is stored in a "standard" Shinken DataManager but some methods should be overloaded for easier object management ...

Methods used by the WebUI have been included in the *module.py* file but should be moved to a specific DataManager inheriting from Shinken one.

[2015-06-12 14:36] maethor commented on #176
I'm OK with this. I think we are close to the goal.

[2015-06-12 14:42] mohierf commented on #177
Currently, JSON objects are store in Mongo or SQLite if one of these modules is installed.

If WebUI detects that there is not any installed module that allows to store users' preference, it will create some text files in a directory for storing JSON objects. In this directiry, on sub-directory for common preferences, and one sub-directory for each user ... this is quite simple and will allow to m

[2015-06-12 15:03] maethor commented on #177
One question remains, what would be the point of the Mongo and SQL modules if the WebUI can store the things directly?

I don't see the point of having 20 backends. We should have one, one that works everywhere. It should be either flat JSON files or SQLite database. SQLite is risky because it may not be available on every distribution, while JSON files can be managed by python stdlib but would be

[2015-06-13 05:40] mohierf commented on #176
Edited the initial comment to add the last line ...

[2015-06-13 07:02] maethor commented on #176
Oh yep! I forgot about that, it would be great indeed.

[2015-06-13 07:04] maethor commented on #175
@mohierf can you take a look? I think it's linked to #155

[2015-06-13 07:26] mohierf commented on #175
I will have a look today ...

[2015-06-13 08:56] mohierf commented on #177
The WebUI will store preferences if no other module is installed and configured. If someone wants to store the user preferences in a database, we leave him install mongodb or Sqlite modules ...

We do not need to import anything into Json files ... because they are used only to store Web UI configuration ...

[2015-06-13 18:07] mohierf opened #179 "Dashboard - relooking"
Top bar indicating :
- hosts state : total hosts number / percentage of hosts down
- services state : total service number / percentage of service critical
- number of IT problems
- number of impacts

![image](https://cloud.githubusercontent.com/assets/2932687/8145409/967dadb6-1207-11e5-92a4-8c8a404509dd.png)

[2015-06-14 12:35] b-keller opened #180 "[BS3]missing requirement"
with your lastest modification, the webui crash on startup
a dependancy is missing, i must install python request...
` pip install requests`

[2015-06-14 12:58] mohierf commented on #180
You are right ... sorry for this mistake. Will update the doc ...

[2015-06-14 16:46] maethor commented on #168
@mohierf now you can close this issue.

[2015-06-14 16:46] #175 closed

[2015-06-14 17:01] #168 closed

[2015-06-14 19:17] maethor opened #182 "[BS3] Minemap sorting"
In the minemap, I think we should sort columns (services) by the frequency they appears in the hosts. For example, in my minemap, the ~50'ths firsts columns are "Backups hostname.sysnove.net", a service that present only on my backup server. On the contrary, I have to scroll a lot horizontally for "SWAP usage", a service present on every host.

@mohierf I can do this, if you are OK.

[2015-06-14 20:02] ddurieux commented on #179
I think the button "+ Add new widget" is too big, perhaps only have button "+" and the text in 'alt' of < img >

[2015-06-14 21:00] maethor commented on #179
@ddurieux we don't need to save space. So I think explicit is better than implicit.

@mohierf I like the dashboard. I think when we click on "Hosts DOWN" and "Services KO" we should be going to `/all?search=type:host isnot:OK` and `/all?search=type:service isnot:OK` instead of hosts-group and minemap.

[2015-06-14 21:08] ddurieux commented on #179
Sorry, not explain enough :p
It's not a space problem, but it's too big and so eyes see it more / same than other important information

[2015-06-15 03:17] mohierf commented on #182
Ok for me.

[2015-06-15 03:36] mohierf opened #183 "Layout broken on low resolution"
On low resolution device, the new layout is broken because the sidebar seems to be fixed on top of the screen.

![image](https://cloud.githubusercontent.com/assets/2932687/8152642/54395b02-1320-11e5-9db2-02620101ab63.png)

[2015-06-15 04:47] mohierf commented on #179
I agree with both of you ... but I think that the button should be removed from the top bar ... but where should we place it ... to be discussed and tested ...

[2015-06-15 04:49] mohierf opened #184 "Main page improvement, still some to do ..."
We still should try to improve the main page layout:
- filters and bookmarks buttons should only have an icon, at least on low resolution (md)
- filter input box should be responsive
- minimize the breadcrumb
- elements per page input form

![image](https://cloud.githubusercontent.com/assets/2932687/8152695/e7ff4b94-1320-11e5-859e-afd6312dc4df.png)

I will commit a simple modification that makes i

[2015-06-15 05:07] mohierf commented on #179
Dashboard currently view (click on eye icon in the navigation bar ...)

![image](https://cloud.githubusercontent.com/assets/2932687/8153359/203267e2-132d-11e5-954f-7cc3debbe7dc.png)

[2015-06-15 05:44] ddurieux commented on #179
I prefer text horizontal instead vertical because verticial is not easy to read :p

[2015-06-15 05:49] maethor commented on #184
Hm… We don't have the same display.

![2015-06-15-074800_1600x900_scrot](https://cloud.githubusercontent.com/assets/2410576/8153789/00606170-1333-11e5-9b64-2a37512bc1a3.png)

[2015-06-15 05:53] maethor commented on #183
Yes, the input field should be responsive, but I don't know how to do it.

[2015-06-15 05:54] maethor commented on #179
I agree with @ddurieux.

[2015-06-15 06:50] mohierf commented on #183
Made a test with last commit: https://github.com/shinken-monitoring/mod-webui/commit/ee800841ff27f519fee3507b9232a8fa4e363333, do not set input field width. It is not yet responsive but the navigation bar seems mode fluid :/P

[2015-06-15 07:08] maethor commented on #183
I agree, this commit is nice.

[2015-06-15 07:20] mohierf commented on #183
My last commit (https://github.com/shinken-monitoring/mod-webui/commit/82d5b972bd80b02d7a1e73b42e374c8f876db6b4) intends to make the navigation bar more fluid, but it is still broken on smaller resolution ... :/P

Width >= 1200px
![image](https://cloud.githubusercontent.com/assets/2932687/8154872/d8c6a564-133e-11e5-9e39-4c4a4bebf6ee.png)

Width < 1200px
![image](https://cloud.githubusercontent.com

[2015-06-15 07:25] maethor commented on #183
On wide screens, the input field should be wider.

[2015-06-15 07:29] mohierf commented on #183
You are right ... but it does not seem that easy :/P

[2015-06-15 07:37] maethor commented on #183
Oh, it's not that complicated either. But I was looking for a way to do it with pure bootstrap classes (like col-sm-*), and I can't find a way to make it work.

[2015-06-15 08:02] mohierf commented on #183
Neither did I ! It seems that pure bootstrap is not enough ... I propose to leave as is and to create an issue to keep tracking this problem. We will manage this feature later ?

[2015-06-15 08:09] maethor commented on #183
OK.

[2015-06-15 08:13] maethor commented on #183
For low resolution screens. I see 2 solutions:
- remove the input field (and every wide and dispensable elements),
- or set a min-width (maybe 780px, I don't know).

[2015-06-15 11:47] mohierf opened #186 "Navigation bar layout for low resolution devices"
For low resolution devices the current layout of the navigation bar is corrupted because of the search input field:

![image](https://cloud.githubusercontent.com/assets/2932687/8157826/0cd00df0-1358-11e5-9d88-1bb75fbbfcd3.png)

The input field width seems to get width = 100 %

Several solutions:
- adapt the search input field width
- remove the input field,
- change the min-width (maybe 780px, I d

[2015-06-15 12:12] maethor commented on #186
I think we need the top navbar. And my last PR is already fixing this issue.

[2015-06-15 12:12] mohierf commented on #179
Relooking, horizontal texts ...

![image](https://cloud.githubusercontent.com/assets/2932687/8159605/94d7b864-1368-11e5-8133-4013cfd7503d.png)

[2015-06-15 12:15] mohierf commented on #186
You are right. I close this issue.

[2015-06-15 12:15] #186 closed

[2015-06-15 12:16] maethor commented on #183
@mohierf I think you can close this issue.

[2015-06-15 12:18] maethor commented on #163
This is done by #185. @mohierf you can close this issue.

[2015-06-15 12:23] #183 closed

[2015-06-15 12:23] #163 closed

[2015-06-15 12:24] maethor commented on #184
@mohierf did you find why the navigation links are not right aligned in your webui ?

[2015-06-15 12:32] mohierf commented on #184
No. I still have this problem with a screen width at 800px ...
![image](https://cloud.githubusercontent.com/assets/2932687/8159894/535e6ace-136b-11e5-9ce5-0377f66690d5.png)

[2015-06-15 15:02] maethor commented on #184
This is crazy, 800px looks fine on my computer.

![capture d ecran 2015-06-15 a 17 01 44](https://cloud.githubusercontent.com/assets/2410576/8162891/56c39f12-1380-11e5-8d64-a6ea5fed8fe9.png)

[2015-06-15 15:05] maethor commented on #184
I see, with Chromium I get a different result, and indeed on 800px I see your screenshot.

[2015-06-15 15:26] maethor opened #189 "Bug displaying overall states icons in navbar"
Since https://github.com/shinken-monitoring/mod-webui/commit/d1be3105f4937a3d8571621183f85737c0b3e2d5, the content of the buttons is not aligned with the "blocks".

![2015-06-15-172529_1600x900_scrot](https://cloud.githubusercontent.com/assets/2410576/8163500/addd4610-1383-11e5-9423-040e4db79c5f.png)

[2015-06-15 16:17] #184 closed

[2015-06-15 16:34] maethor commented on #182
@mohierf you can close this issue.

[2015-06-15 16:35] maethor commented on #180
@mohierf you can close this issue.

[2015-06-15 16:43] mohierf commented on #189
Probably, I should try a badger on top and one on bottom ... on top, number of hosts and on bottom percentage of hosts UP. What do you think @maethor ?

[2015-06-15 16:45] mohierf opened #191 "Problems page : downtime scheduling"
On problems page, scheduling a downtime does not dispaly the downtime scheduler form ... as of it, it is not possible to choose for a time range and to include a message.

 Indeed, it is the same behavior for Ack ...

 We should implement a consistent behavior in all the application, because element view displays modal forms when acknowledging or schedulling a downtime ...

[2015-06-15 16:46] #180 closed

[2015-06-15 16:47] mohierf commented on #182
Nice feature !

![image](https://cloud.githubusercontent.com/assets/2932687/8165222/fd443a0a-138e-11e5-936e-2f11ccfd6198.png)

[2015-06-15 16:47] #182 closed

[2015-06-15 17:01] maethor commented on #189
Should be nice.

[2015-06-16 13:41] mohierf commented on #189
![image](https://cloud.githubusercontent.com/assets/2932687/8184284/d8d94a70-143d-11e5-91aa-2c37faeb94e1.png)

What do yout think @maethor  :
- host overall state goes to */all?search=type:host* or */all?search=type:host%20isnot:OK* ? First choice seems better ...
- service overall state goes to */all?search=type:service* or */all?search=type:service%20isnot:OK* ? First choice also seems better ..

[2015-06-16 13:50] maethor commented on #189
I think the top badger should be "nb_down/total", because with the current display it's impossible to tell what is displayed (down ? up ? total ?).

And I think the link should filter to only display the problems. So second choice seems better to me. But I'm not sure. I never use them.

[2015-06-16 13:50] maethor commented on #189
By the way, I really like having one on top and one on bottom!

[2015-06-16 14:17] maethor commented on #189
And I think you should also filter the downtime and acknowledged elements in the links. And on the hosts link, you have to do "isnot:UP" instead of "isnot:OK".

[2015-06-16 14:22] maethor opened #193 "Element synthesis"
We have to decide if the elements (hosts and services) synthesis should be based on the current page or on all the elements matching the current filter.

For now, it's based on the current page. I think it's a mistake.

What do you think @mohierf ?

[2015-06-16 15:37] mohierf commented on #189
Ok, I will make some tests for the top badger to display nb_down / total ... but I am not sure it will be quite explicit ...

For the link, we have the Problems sidebar menu that displays the problems ... I think that these two buttons should display all the hosts/services whatever their current state is ? If you want the same as Problems, click on problems ... no ?

[2015-06-16 15:41] mohierf commented on #193
You are right ... I observed it today and discussed about it ... I think the synthesis should consider all hosts/services matching the filter and not only the currently displayed.

 My idea about it is that it should be a *module.py* function that returns an array of states that may be used in any page ... a function that should be like *get_all_problems*, *get_nb_problems*, ...

[2015-06-16 15:44] maethor commented on #193
I agree. I am refactoring element search right now (with a new function in module.py). I can follow with this tonight.

[2015-06-16 15:44] mohierf commented on #193
Thanks

2015-06-16 17:44 GMT+02:00 Guillaume Subiron <notifications@github.com>:

[2015-06-16 16:01] maethor commented on #189
I don't know. As I was saying, I'm not using this links, so… you can do as you want :)

[2015-06-16 23:40] mohierf opened #194 "Debian 8 : very long time before login available"
On a Debian 8 Jessie, the login page of the WebUI is displayed but the user authentication is not available before several minutes (4/5 minutes). This problem is probably to be related with the many connections errors that occurs between the Shinken daemons (https://github.com/naparuba/shinken/issues/1659).

In fact, the WebUI does not receive its configuration from the scheduler and, as of it, do

[2015-06-16 23:51] mohierf opened #195 "Roadmap BS3"
This issue is a simple copy of https://github.com/shinken-monitoring/mod-webui/blob/bs3/roadmap.md to keep tracking current developments.

## Layout:
- [ ] clean UI layout
- [x] design rules for hosts/services state
- [ ] boostrap themable layout + how-to

## All / Problems view:
- [x] simple and compact user interface
- [x] Github like filtering system

   - [x] filter on host/service name
   - [

[2015-06-17 03:48] mohierf commented on #191
Actually, when downtime modal dialog is displayed, only the first dialog has a date time range selector ... have a fix for this.

[2015-06-17 03:55] mohierf opened #196 "Element view : refactor tags for host/service"
- [ ] search for tags image in /share directory
- [ ] do not HTTP:404 when image does not exist

![image](https://cloud.githubusercontent.com/assets/2932687/8199429/56fa5508-14b5-11e5-9054-ecef10fdbe9d.png)

[2015-06-17 06:26] mohierf opened #197 "Navigation bar - hosts/services state to improve"
![image](https://cloud.githubusercontent.com/assets/2932687/8200822/8ebe15e6-14ca-11e5-872f-0cfe44dd71c0.png)

When service count is quite large, the labels are not displayed correctly

[2015-06-17 09:24] mohierf opened #198 "Problems view : responsive table"
Should be interesting to be able to see long_output for problems. For instance, the displayed output is truncated and the check long_output is not visible.

![image](https://cloud.githubusercontent.com/assets/2932687/8203545/e2d8c0f0-14e2-11e5-853b-6bbb483eccf8.png)

We should implement a popover to display output and long_ouput ?

[2015-06-17 18:36] mohierf opened #199 "Element (host/service) tags in element view"
![image](https://cloud.githubusercontent.com/assets/2932687/8215350/99e6fec8-152f-11e5-9d7b-b8efed78ace8.png)

Logical behind this display is:
1/ search tag image in share dir, if found (image provided by an installed monitoring pack) use this image
2/ else, search tag image in own tags library (common tags), but if not found ...
3/ use a default tag image
![image](https://cloud.githubusercontent.

[2015-06-17 18:37] mohierf commented on #199
My lastest commit ...

[2015-06-17 21:09] maethor commented on #199
I'm not found of the default image, because we loss the information at first sight. But this is nice. It could encourage to deliver icons with the packs.

[2015-06-17 21:11] maethor commented on #198
I was planning to try to do this to avoid huge outputs.

The only question is how to truncate ? It should depends on the screen width. Do you have an idea ?

[2015-06-17 21:16] maethor commented on #195
I can't check the boxes, but you can already mark some of them as done. The Github like filtering system is done, for instance.

You can also add an item to remake the pagination mecanism, and another to regroup hosts/services tags/groups in a common plugin that manages the four routes but use only one common template. I intent to work on these two tasks.

Thanks.

[2015-06-17 21:17] maethor commented on #194
I'm on Debian 8, but I don't have this problem.

[2015-06-17 21:38] maethor opened #201 "Mobile plugin"
The mobile plugin doesn't work at all. One of the goals of BS3 is to propose a responsive interface, so this plugin should not be usefull anymore. I think we should remove it.

What do you think @mohierf ?

[2015-06-17 21:51] ddurieux commented on #201
+1 for remove it

[2015-06-17 22:00] maethor opened #202 "Actions panel doesn't show up when selecting elements"
@mohierf can you fix this ?

The actions panel only show up when I click on "select all", but not when I select elements one by one.

Thanks.

[2015-06-18 03:26] mohierf commented on #199
I prepared a version with small labels but I did not found it nice :
![image](https://cloud.githubusercontent.com/assets/2932687/8223610/875cd76e-157a-11e5-9e3b-47efb2483281.png)

[2015-06-18 03:36] mohierf commented on #199
Event with some buttons, but ...
![image](https://cloud.githubusercontent.com/assets/2932687/8223713/eaf20dfc-157b-11e5-9027-ec459f959d86.png)

At end, I found the image only version to be the best solution

[2015-06-18 03:40] mohierf commented on #199
Forgot this version ... with simple buttons.
![image](https://cloud.githubusercontent.com/assets/2932687/8223771/7eb2eb7e-157c-11e5-8402-f3aa12357358.png)

[2015-06-18 03:49] mohierf commented on #198
Why not using a popover like for perfometer ?

[2015-06-18 03:56] mohierf commented on #195
Main idea is :
- we have a list of ressources
- we display this list, after filtering, in :
   - a table (problems view)
   - a minemap
   - a worldmap

We must consider groups/tags plugin as a kind of "filter build helper" ... why not include in this plugin a form to include/exclude ack/downtimes, choose resource type (host/service), choose resource state. It would not be that difficult ...

[2015-06-18 03:57] mohierf commented on #194
Do not have no more ... I came back to a Debian 7 :-)

I suppose this problem was due to Shinken issue.

[2015-06-18 04:00] mohierf commented on #201
+1

[2015-06-18 04:15] david-guenault commented on #194
https://github.com/naparuba/shinken/commit/e8d929c5aa8fb0e9e8b524919997715640335485

2015-06-18 5:57 GMT+02:00 Frédéric MOHIER <notifications@github.com>:

[2015-06-18 04:32] mohierf commented on #194
Already tried this fix ... no success.

[2015-06-18 05:33] maethor commented on #199
When we find an icon, the label is not useful anymore, so there is no need to print it. But when we don't find the icon, maybe we should print label he instead of a generic icon label.

[2015-06-18 05:37] maethor commented on #198
That's not my question. Correct me if I'm wrong:
- The popover will display the "long_output" when we hover the "short_output", right?
- The idea is that this "short_output" should not exceed one line in the output column of the table, right?

So how to you compute this "short_output"? It completely depends on the screen width.

[2015-06-18 05:44] maethor commented on #195
I'm not sure to understand what you are saying.

To me, the main goal of services/hosts groups/tags is to be used as a dashboard. Some user have told me they use host_groups at the office, displayed all day long on a TV as a dashboard of their infrastructure.

If you just want to display a group, you shouldn't get threw this view, you just type "hg:foo" in the filter engine.

With that said, yes,

[2015-06-18 08:11] mohierf commented on #199
Why not ... I will try this solution

[2015-06-18 08:25] mohierf commented on #198
What I propose for the check output overall management by the WebUI :

 There are parameters for this feature in WebUI.cfg :
[code]

 We should make this management consistent in element and problems view, so I propose :
 - the output of the check is displayed and truncated to *max_output_length* value
 - in the views, we should truncate the truncated output to be more responsive ?
 - when hoverin

[2015-06-18 08:27] mohierf commented on #195
You are right! Let us keep it simple ...

 When i wrote this *early morning* comment I did not yet had a look to the *nightly PR* ;-)

[2015-06-18 09:01] maethor commented on #198
I agree to this solution. But we have to find a way to make the output responsive to the browser width. I don't know how, but it should be possible.

With that said, I can begin to work with the `max_output_length`.

[2015-06-18 09:07] mohierf commented on #198
BS3 responsive truncation seems to be possible : http://stackoverflow.com/questions/23431970/bootstrap-3-truncate-long-text-inside-rows-of-a-table-in-a-responsive-way

[2015-06-18 09:10] maethor commented on #193
@mohierf you can close this issue.

[2015-06-18 09:10] maethor commented on #189
@mohierf This bug is fixed, but there is a new one :(

![2015-06-18-110853_1920x2100_scrot](https://cloud.githubusercontent.com/assets/2410576/8227853/aac5e7ba-15aa-11e5-8782-1eeb59687d02.png)

[2015-06-18 09:17] #193 closed

[2015-06-18 09:19] mohierf commented on #189
You are right ... this is why I did not closed this issue. I am testing on a production environment if these information are consistent and useful ... I will rework the navigation bar once validated.

[2015-06-18 09:52] maethor commented on #195
eheh :)

[2015-06-18 09:55] maethor commented on #198
This is so awesome… I'll try it right now.

[2015-06-18 10:53] mohierf opened #205 "Problems view : count elements per business impact"
Should be nice to include number of elements in each Business impact ... using a badge ?

![image](https://cloud.githubusercontent.com/assets/2932687/8229627/f35f052a-15b8-11e5-86f5-61fb5abb3c6f.png)

[2015-06-18 13:59] maethor commented on #205
Why not. It's quite simple, I can try it.

[2015-06-18 14:19] maethor commented on #205
Hm… the number of elements… in the current page, or in all the items retrieved by the search ? :)

[2015-06-18 15:30] mohierf commented on #205
In all the items ... should be more logical, no ?

[2015-06-18 15:45] maethor commented on #205
Logical, yes, but right now it's not that simple :D

[2015-06-18 15:48] maethor commented on #205
I need to rewrite the pagination system to make this work. For now I can submit a PR with the elements in the current page. They are not displayed in a badge (because it was ugly), but right aligned in the panel.

[2015-06-18 15:50] maethor commented on #205
It has been added to my last PR : #207

[2015-06-18 15:51] maethor commented on #201
@mohierf you can close this issue.

[2015-06-18 15:51] #201 closed

[2015-06-18 15:52] #158 closed

[2015-06-18 16:07] mohierf commented on #205
You may leave it for the moment ... I will have a look to store in the module or in the regenerator some global counters. May be we should then use : app.services.count_bi['important'] ...

[2015-06-18 16:08] mohierf commented on #201
You won :D

[2015-06-18 16:11] maethor commented on #205
This seems like an insult to the entire python philosophy, I can't use this, sorry :D

More seriously, the count should take the be done after the filters. I know how to do it, you can leave it to me. I'll do it next week.

[2015-06-18 16:12] maethor commented on #201
Fatality! :)

[2015-06-18 16:19] mohierf commented on #205
+1 for you ... philosophy and Shinken are not that friends :-)

I thought that when the regenerator receives updates from the scheduler, he may update counters for services OK, WARNING, ... and that we may use these counters without to be obliged to iterate throught lists to fetch the number of services that are OK ... not really philosophical, but efficient for the WebUI ?

[2015-06-18 16:27] mohierf opened #208 "Problems view : link to filtered view from synthesis panel"
![image](https://cloud.githubusercontent.com/assets/2932687/8236249/675e1596-15e7-11e5-9c7f-cfa6419607be.png)

From this panel, it should be interesting to link directly to a filtered view ... clicking on Warning services links to a filtered view showing services with a Warning state.

[2015-06-18 17:18] maethor commented on #208
Yes, I was already planning to allow enabling and disabling filter by clicking on the icons. I should not be very difficult, but I want to rewrite the pagination first. Next week :)

[2015-06-18 17:28] maethor commented on #205
Counting a list with `len()` is O(1). Basic filtering is O(n).

We talk about… what… maybe 500k elements maximum? I don't think we should care about optimizing O(n) functions. We'd better limit the number of function to avoid bugs and improve maintainability

[2015-06-18 17:35] mohierf commented on #205
This is joining mathematics and philosophy ... I really do agree ! +1 for you :+1:

[2015-06-18 17:53] mohierf commented on #198
I added **Bug** label because of this :
![image](https://cloud.githubusercontent.com/assets/2932687/8238064/a9253f34-15f3-11e5-9c00-54d25aa82071.png)

It seems that the new table layout is not really responsive ... :/P

[2015-06-18 18:58] #149 closed

[2015-06-18 18:59] #162 closed

[2015-06-18 19:00] mohierf commented on #119
Available but no included in default configuraton ... too much specific! Sorry @naparuba ...

[2015-06-18 19:00] #119 closed

[2015-06-18 19:01] mohierf commented on #118
No more necessary with recent BS3 developments ...

[2015-06-18 19:01] #118 closed

[2015-06-18 19:02] mohierf commented on #114
Mobile view is to be removed ... Bootstrap takes care natively for mobile devices

[2015-06-18 19:02] #114 closed

[2015-06-18 19:07] mohierf commented on #135
Should be an interesting feature to be able to view global configuration in WebUI ...

[2015-06-18 19:07] mohierf commented on #116
Closing ... if needed, reopen this issue

[2015-06-18 19:08] mohierf commented on #157
Opened a roadmap issue ... https://github.com/shinken-monitoring/mod-webui/issues/195

[2015-06-18 19:08] #157 closed

[2015-06-18 19:10] mohierf commented on #107
Closing ... future release fixes.

[2015-06-18 19:10] #107 closed

[2015-06-18 19:11] mohierf commented on #105
Closing ... future release fixes.

[2015-06-18 19:11] #105 closed

[2015-06-18 19:11] mohierf commented on #101
Closing ... future release fixes.

[2015-06-18 19:11] #101 closed

[2015-06-18 19:12] mohierf commented on #110
Closing ... future release fixes.

[2015-06-18 19:12] #110 closed

[2015-06-18 19:12] mohierf commented on #112
Closing ... future release fixes.

[2015-06-18 19:12] #112 closed

[2015-06-18 19:14] mohierf commented on #97
Closing ... future release fixes.

[2015-06-18 19:14] #97 closed

[2015-06-18 19:14] mohierf commented on #88
Closing ... future release fixes.

[2015-06-18 19:14] #88 closed

[2015-06-18 19:14] mohierf commented on #84
Closing ... future release does include this feature.

[2015-06-18 19:14] #84 closed

[2015-06-18 19:16] mohierf commented on #76
Closing ... future release includes this feature.

[2015-06-18 19:16] #76 closed

[2015-06-18 19:16] mohierf commented on #75
Closing ... future release includes this feature.

[2015-06-18 19:16] #75 closed

[2015-06-18 19:17] mohierf commented on #74
Closing ... future release includes this feature.

[2015-06-18 19:17] #74 closed

[2015-06-18 19:17] mohierf commented on #73
Closing ... future release includes this feature.

[2015-06-18 19:17] #73 closed

[2015-06-18 19:19] mohierf commented on #69
See #141

[2015-06-18 19:19] #69 closed

[2015-06-18 19:20] mohierf commented on #63
Should be included in a future release ...

[2015-06-18 19:20] mohierf commented on #62
Closing ... future release includes this feature.

[2015-06-18 19:20] #62 closed

[2015-06-18 19:21] mohierf commented on #60
Closing ... future release includes this feature.

[2015-06-18 19:21] #60 closed

[2015-06-18 19:23] mohierf commented on #5
Closing ... still any interest in this feature ... I suppose so, if needed please require!

[2015-06-18 19:23] #5 closed

[2015-06-18 19:23] mohierf commented on #59
Closing ... future release includes this feature.

[2015-06-18 19:23] #59 closed

[2015-06-18 19:23] mohierf commented on #58
Closing ... future release includes this feature.

[2015-06-18 19:23] #58 closed

[2015-06-18 19:24] mohierf commented on #53
Closing ... to be discussed for future release.

[2015-06-18 19:34] mohierf commented on #52
Closing ... future release includes this feature.

[2015-06-18 19:34] #52 closed

[2015-06-18 19:35] mohierf commented on #51
Closing ... future release includes this feature ... still needs to be discussed ... see roadmap

[2015-06-18 19:35] #51 closed

[2015-06-18 19:35] mohierf commented on #50
Closing ... future release will store parameters in user's preference.

[2015-06-18 19:35] #50 closed

[2015-06-18 19:37] mohierf commented on #49
Currently, WebUI allows to use an *auth-ws-glpi* authentication module ... included in the future release.

[2015-06-18 19:37] #49 closed

[2015-06-18 19:37] mohierf commented on #37
Closing ... to be tested in next release ... but should be ok.

[2015-06-18 19:37] #37 closed

[2015-06-18 19:38] mohierf commented on #23
See new timezone parameter in webui.cfg

[2015-06-18 19:38] #23 closed

[2015-06-18 19:38] #25 closed

[2015-06-18 19:39] mohierf commented on #24
Impact view is to be refactored

[2015-06-18 19:39] #24 closed

[2015-06-18 19:39] mohierf commented on #22
Closing ... future release includes this feature.

[2015-06-18 19:39] #22 closed

[2015-06-18 19:40] mohierf commented on #21
Closing ... future release includes this feature.

[2015-06-18 19:40] #21 closed

[2015-06-18 19:40] #18 closed

[2015-06-18 19:40] mohierf commented on #17
Closing ... future release includes this feature.

[2015-06-18 19:40] #17 closed

[2015-06-18 19:40] mohierf commented on #16
Closing ... future release refactore this feature in a more usable way.

[2015-06-18 19:40] #16 closed

[2015-06-18 19:41] mohierf commented on #15
Closing ... not really useful regarding current Problems view.

[2015-06-18 19:41] #15 closed

[2015-06-18 19:42] mohierf commented on #14
Closing ... should be tested on future release. But seems to be related on Shinken framework behaviour ....

[2015-06-18 19:42] #14 closed

[2015-06-18 20:41] maethor commented on #198
f**k :(

The problem is that we have to use `table-display:fixed;` on the table. So the table columns are not responsible anymore: column sizes are fixed. I think we should try to use percents instead of px in the column widths. But it will be hard to make this responsive :(
I don't know…

[2015-06-18 20:46] maethor commented on #195
@mohierf It a lot of work, but I think you should convert all these checkboxes to issues, and regroup them in a 2.0 milestone.

[2015-06-19 05:08] mohierf commented on #195
You are right ... not enough time yesterday evening :-) I wanted to track all the ideas first ...

[2015-06-19 08:03] #10 closed

[2015-06-19 08:05] #9 closed

[2015-06-19 08:08] #8 closed

[2015-06-19 08:11] mohierf commented on #11
Bookmarks are managed in BS3 version

[2015-06-19 08:11] #11 closed

[2015-06-19 08:13] mohierf commented on #13
Do not know what it is about ... and very old ... closing.

[2015-06-19 08:13] #13 closed

[2015-06-19 08:14] mohierf commented on #92
Future release is compliant ...

[2015-06-19 08:14] #92 closed

[2015-06-19 16:25] mohierf commented on #179
New dashboard currently version :
![image](https://cloud.githubusercontent.com/assets/2932687/8257807/89bf3b1e-16b0-11e5-8230-1f726d7ddccd.png)

[2015-06-19 16:49] mohierf commented on #147
I think that changing opacity for acknowledged and downtimed elements will be interesting ...

![image](https://cloud.githubusercontent.com/assets/2932687/8258262/d82246ea-16b3-11e5-9c3d-51fb0c223404.png)

What do yout hink about it ? @maethor

[2015-06-19 17:01] mohierf commented on #208
@maethor : You may have a look at #179 ... I used the synthesis and I linked the big icons to /all with appropriate filters

[2015-06-19 18:09] #197 closed

[2015-06-19 18:35] mohierf commented on #202
Fixed with https://github.com/shinken-monitoring/mod-webui/commit/f9972bbd40532efbb3ffb84607fb3dc999e277da

[2015-06-19 18:35] #202 closed

[2015-06-19 18:36] mohierf commented on #194
Seems to indepedent from WebUI

[2015-06-19 18:36] #194 closed

[2015-06-19 18:37] #176 closed

[2015-06-19 18:38] #96 closed

[2015-06-20 08:00] mohierf opened #209 "New ajax refresh breaks the element view refresh ..."
The new Ajax refresh currently breaks the element view refresh ...

[2015-06-20 16:57] mohierf opened #210 "Business impact : labels used for business impact levels"
Proposal for labels used for each business impact levels :
- 0 : None
- 1 : Low
- 2 : Normal
- 3 : Important
- 4 : Very important
- 5 : Business critical

Inspired by thruk using 6 levels ... what do you think about it ?

Actually:
- 0 : None
- 1 : Low
- 2 : Normal
- 3 : High
- 4 : Very important
- 5 : Top for business

[2015-06-21 16:17] ddurieux commented on #210
Seems better, except perhaps rename 'normal' in 'medium'

[2015-06-21 17:32] mohierf opened #211 "Bookmarks creation - common bookmarks"
When the current user creates a bookmark and he is an administrator, he may choose between common and user bookmark. Currently, only user bookmarks can be created ...

[2015-06-21 19:05] mohierf opened #212 "Navigation bar - hosts / services state indication"
I simplified hosts . services states icons in the navigation bar ... a coloured percentage is enough ! Popover allows to have more details ...

![image](https://cloud.githubusercontent.com/assets/2932687/8272965/1d373690-1859-11e5-99c0-4b60d657e9e5.png)

![image](https://cloud.githubusercontent.com/assets/2932687/8272967/2a00e9fc-1859-11e5-866e-c60fed0b714d.png)

[2015-06-22 03:55] mohierf commented on #205
![image](https://cloud.githubusercontent.com/assets/2932687/8275318/441327c0-18a3-11e5-8c7e-29a311f0e098.png)

[2015-06-22 03:55] #205 closed

[2015-06-22 03:56] mohierf commented on #189
Closed by #212

[2015-06-22 03:56] #189 closed

[2015-06-22 04:34] mohierf opened #213 "Command modal disappears quickly"
When a modal command window is opened on element view, it disappears almost immediatly ...

[2015-06-22 04:35] mohierf opened #214 "Command modal does not hide sidebar menu"
![image](https://cloud.githubusercontent.com/assets/2932687/8275587/e6cc7f34-18a8-11e5-8fbf-7cd6c2a1934e.png)

Probably a simple CSS tuning to be done ...

[2015-06-22 16:49] maethor commented on #147
I think it's very nice!

Just an idea, did you try to change only the opacity of the inner icon, not the background?

[2015-06-22 16:54] maethor commented on #208
I'm sorry but I don't see how this is related to the current issue.

[2015-06-22 16:56] maethor commented on #209
Can you describe your problem a little more ? For me it's working perfectly.

[2015-06-22 16:59] maethor commented on #210
Seems good to me. @ddurieux I prefer "Normal" than "Medium".

I think "None" should be "No-importance". But in fact I don't care :)

[2015-06-22 17:00] maethor commented on #211
After creating the bookmark he can move it to the common bookmarks. This is inspired by the previous workflow for creating bookmarks.

[2015-06-22 17:03] maethor commented on #212
This is really nice!

But the popover width is not good on my install:

![2015-06-22-190224_1920x2100_scrot](https://cloud.githubusercontent.com/assets/2410576/8287634/502bfc76-1911-11e5-9003-a4494d543711.png)

[2015-06-22 17:05] maethor commented on #214
Yes, I saw that but I don't know how to fix it. I have the same problem on another website.

[2015-06-22 17:06] maethor commented on #213
Do you have an example? I don't see the problem when I click on "Add a comment"…

[2015-06-22 17:37] mohierf commented on #208
Simply to add a link to icons :-)

[2015-06-22 17:38] mohierf commented on #209
I noticed a problem when refreshing a tab in element view ... especially the graphs tab. I simply logged this issue to keep tracking the problem ...

[2015-06-22 17:39] mohierf commented on #210
+1 for normal!

I prefer None : "Business impact is none" ...

Except if you shout very loud, I close :-)

[2015-06-22 17:39] #210 closed

[2015-06-22 17:40] mohierf commented on #211
Previous workflow may need to be improved ... keep this issue opened and we
will see when using the bookmarks what should be more practical ?

2015-06-22 19:00 GMT+02:00 Guillaume Subiron <notifications@github.com>:

[2015-06-22 17:41] mohierf commented on #212
I noticed this also on my install this afternoon ... but I do not have this
problem anymore. Perharps something to be refined ... keep opened for this
issue.

2015-06-22 19:03 GMT+02:00 Guillaume Subiron <notifications@github.com>:

[2015-06-22 17:42] mohierf commented on #214
I will have a look ... probably a bad z-index !

[2015-06-22 17:42] mohierf commented on #213
Click on "Add a downtime" in element view ... I always have this problem.

2015-06-22 19:06 GMT+02:00 Guillaume Subiron <notifications@github.com>:

[2015-06-22 17:43] maethor commented on #211
I agree.

[2015-06-23 05:02] mohierf commented on #196
See #199

[2015-06-23 05:02] #196 closed

[2015-06-23 08:03] mohierf opened #216 "Element view - relooking ideas."
First moke-up ...

Main ideas:
- more compact interface
- remove vertical and horizontal tabs

![image](https://cloud.githubusercontent.com/assets/2932687/8299222/d40d81a4-1975-11e5-988b-335d1f4fe8d8.png)

[2015-06-23 09:28] mohierf opened #217 "Host/service maintenance_period : what to do with it ?"
Shinken allows to define a maintenance period for an host/service : http://shinken.readthedocs.org/en/latest/08_configobjects/host.html

Currently, the WebUI displays this maintenance period (if it exists ...) near the check period.

[2015-06-23 09:31] maethor commented on #212
It's OK, I don't see the problem anymore. Probably a CSS cache problem.

[2015-06-23 09:42] maethor commented on #216
This is *very* nice! Great idea!

[2015-06-23 09:45] maethor commented on #217
Is anybody using this feature?

How does it work? Does it really schedule a downtime period?

[2015-06-23 10:07] mohierf commented on #217
I opened this issue for discussing about it ... if someone is using this feature, he will comment :-)

Indeed this feature allows to configure a specific period of time that is known as an exclusion for he check period ... as far as I understand. Perharps that @naparuba may explain more about it ?

 Is there an interest to schedule such a period from the WebUI ? Not sure about that ...

[2015-06-23 10:20] mohierf commented on #216
Host information :

Hovering for check output / long output:
![image](https://cloud.githubusercontent.com/assets/2932687/8303961/3d0490ae-19a2-11e5-85ef-1dfdfdf322a2.png)

Hovering for check period (date/time sorted ...) :
![image](https://cloud.githubusercontent.com/assets/2932687/8303951/1fc76250-19a2-11e5-9aa5-9da842842ba7.png)

[2015-06-23 10:22] mohierf commented on #216
Element overview:
![image](https://cloud.githubusercontent.com/assets/2932687/8303997/7abdaf8e-19a2-11e5-98fa-dd4b4b0c7ac2.png)

[2015-06-23 12:54] maethor commented on #216
Hm… What's the difference between output and long output?

[2015-06-23 13:26] mohierf commented on #216
Not visible on my screen capture, but some checks output are formatted as is (from Nagios plugin specification):
[code]

[2015-06-23 13:52] maethor commented on #216
OK, I didn't knew that. I mostly use NRPE, the output length is really limited.

[2015-06-23 13:59] mohierf commented on #147
Really nicer with this opacity:
![image](https://cloud.githubusercontent.com/assets/2932687/8307779/d27d48ba-19c0-11e5-8b63-6af1b2738878.png)

[2015-06-23 14:09] mohierf commented on #198
Last commit allows this:
![image](https://cloud.githubusercontent.com/assets/2932687/8307968/3a48a042-19c2-11e5-9e00-089266d8d616.png)

[2015-06-23 15:20] maethor commented on #147
I agree, this is awesome.

[2015-06-23 15:29] maethor commented on #198
I like it. I don't want popovers poping everywhere when I just move my mouse around. And I think clicking on the line to unfold it is nicer. It should be better to put directly "long output" instead of "output" in the output column.

[2015-06-23 15:31] mohierf commented on #198
You must have output **and** long_output because they are not the same ... *output* is the first part of the first line output by the check, and the long_output contains all the lines after the first lines, but wihout the extra perfdata. What a mess this specification !

We should activate the popover only on click instead of hovering ?

[2015-06-23 15:32] maethor commented on #216
I don't see this new view in BS3. Are you working in a dedicated branch?

[2015-06-23 15:37] maethor commented on #198
"on click" will not work nicely because it will be visually in conflict with the collapse.

I think the collapse is enough. When it's "closed", it will show only the first line of the output. When it's "open" it will show all the lines.

[2015-06-23 15:47] mohierf commented on #216
I did not yet commited anything on this new view ... it is still quite unstable and buggy :/P

I am currently trying to improve tab management to avoid the scrolling effect and to keep staying on the same tab when refreshing the page.

[2015-06-23 15:48] mohierf commented on #198
Ok for collapsing ... should you make this modification ?

[2015-06-23 15:54] maethor commented on #216
OK :)

[2015-06-23 15:55] maethor commented on #198
OK, I'm adding this to my todolist for tonight :)

[2015-06-24 05:13] mohierf commented on #209
In fact, the page loaded javascript code is not executed after refresh. As of it, come elements are not properly updated, like popovers, event handlers, ... I am investigating

[2015-06-24 06:10] maethor commented on #209
The JS need to be included in the page div to be reloaded too. See the end of `problems.tpl`.

[2015-06-24 06:58] maethor commented on #213
Ok, I see the same problem.

[2015-06-24 07:01] maethor commented on #212
Hm. I see this only on the /all module. Everywhere else I don't.

[2015-06-24 07:10] mohierf commented on #213
I think I found a solution  ...

[2015-06-24 07:12] mohierf commented on #212
We will try to fix this later, no ? When all the pages will be clean ...

[2015-06-24 07:12] maethor commented on #212
This is fixed by my last commit.

[2015-06-24 07:13] #212 closed

[2015-06-24 07:13] mohierf commented on #212
+1 for you !

[2015-06-24 07:26] maethor commented on #198
@mohierf I'm currently testing the responsiveness of the elements table. What should be the minimum supported screen width?

[2015-06-24 07:33] mohierf commented on #198
I believe that we should be able to downgrade the interface to 640px ... which is the resolution of many smartphones ?

[2015-06-24 07:52] maethor commented on #198
OK!

[2015-06-24 08:16] #198 closed

[2015-06-24 09:34] mohierf opened #220 "Element view - relooking ..."
Closes #216. This issue to keep tracking of the current progress ...

**Main features:**
- [x] element overview panel
  - [x] element notes
  - [x] element actions

- [x] element groups

- [x] element tags, #199

- [x] host services overview

- [x] business rule alert

- [x] problem alert

**Element tabs:**

- [x] custom views

- [x] information

- [x] impacts

- [x] configuration

- [x] commands

[2015-06-24 09:41] #216 closed

[2015-06-24 10:10] maethor commented on #220
Can you push your work @mohierf? It's a dev branch after all.

[2015-06-24 10:12] mohierf commented on #220
Yes, I will push in a few minutes ... you curious :-)

[2015-06-24 10:17] #141 closed

[2015-06-24 11:26] maethor commented on #220
[code]

Does'nt seem to work :)

[2015-06-24 11:33] maethor commented on #220
For Guido's sake, use booleans in this dict :)

You can even use a simple list :

[code]

[2015-06-24 11:39] mohierf commented on #220
You are right ... as I said, very first draft ! I am still cleaning ...

Do you want to clean this tab configuration part ? The idea was to define in the plugin config file, which tabs are to be displayed ... I don't know wether it is still interesting :/P We should auto-detect if tabs are to be present or not ... it would be better !

[2015-06-24 12:08] maethor commented on #220
I agree, it's not useful.

Right now I'm working on the problem page. I don't want to conflit with your work in progress.

[2015-06-24 14:57] maethor commented on #179
@mohierf I think you can close this issue.

[2015-06-24 15:19] tarak666 opened #223 "History tab not showing any logs."
We are using shinken2.2 with BS3 webui, But I am unable to see History in History tab,

Error: Sorry, I cannot load the service history!

Thanks,
HTR

[2015-06-24 15:23] #179 closed

[2015-06-24 15:39] mohierf commented on #223
Same as #73 ... did you try all we already discussed in #73 ? I suppose so ...

[2015-06-24 15:42] mohierf commented on #223
I propose to you to make a test to provide some more information.

If you are easy with development mode in your browser ... hit F12 and then try to catch a network URL that is formatted as is : *'http://shinken:7767/logs/inner/host/service'* where host and service are the host/service for which you want to get the history.

 Once catched, please copy the request response ...

[2015-06-24 16:16] maethor commented on #220
@mohierf should I fix the bug?

[2015-06-24 16:19] tarak666 commented on #223
Yes i have tried all as we dicussed in#73.
This is the output when i use F12 .

<li class="history_pane active"><a class="link_to_tab active" href="#history" data-toggle="tab" id="tab_to_history" aria-expanded="true">History</a></li>

[2015-06-24 16:40] mohierf commented on #223
You copied a capture of an HTML element, it is not a capture of network traffic ...

 Indeed, the content of the history tab is requested using an Ajax request : *'http://shinken:7767/logs/inner/host/service'* where host and service are the host/service for which you want to get the history.

It is the response of this ajax request that I am interested in ... with F12, with Chrome, you have a *net

[2015-06-24 16:41] mohierf commented on #220
I did ... but not yet commited.

[2015-06-25 06:01] mohierf opened #224 "Change custom variable do not change variable ..."
When changing a custom variable thanks to Web UI, an external command is sent to Shinken (`CHANGE_CUSTOM_HOST_VAR;sim-0001;_ENTITIESID;3`) but the value of the custom variable is not really changed!

When fetching the customs variables of the host, the value did not changed !

Probably a problem in Shinken that do not refresh the values after receiving the external command !

[2015-06-25 07:57] mohierf opened #225 "Dependency graph (impact graph) should be relooked ..."
Use new state icons in the dependency graph

[2015-06-25 08:52] mohierf opened #226 "Enable / disable host/service checks from the WebUI"
Currently, when enabling or disabling passive checks, the active checks are also enabled or disabled.

Do not know if this behavior is the best ... to be checked

[2015-06-25 09:19] tarak666 commented on #223
Yes, I can see url as you said, but it showing 404 error.

![1](https://cloud.githubusercontent.com/assets/3509727/8351237/69d78160-1b49-11e5-98fc-74ae740d9d43.PNG)

[2015-06-25 09:54] mohierf commented on #223
Ok. I suppose that it may be because of the long service name you are using : **Check Mysql Count : No_...**. To confirm, should make the same test with a shorter and simple service name ?

[2015-06-25 10:00] tarak666 commented on #223
I tried with short service and host name, But no Luck.

http://10.0.0.2:7767/logs/inner/c01/Admin
Same 404 error.

[2015-06-25 11:21] mohierf commented on #223
Ok, so is your mongodb really available on localhost:27017

[2015-06-25 15:52] #223 closed

[2015-06-26 07:57] maethor commented on #209
Indeed, I see a bug. The tab following works before but not after refresh.

[2015-06-26 08:41] mohierf commented on #209
Yes, that is right. I think I fixed this with my last commits ...

[2015-06-26 08:55] maethor commented on #209
Nope. But I found a solution, PR coming soon.

[2015-06-26 09:31] #209 closed

[2015-06-26 09:41] mohierf opened #228 "Hostgroups view, relooking ..."
New hostgroups view  :

![image](https://cloud.githubusercontent.com/assets/2932687/8374706/f9a1b80c-1bf7-11e5-9ce6-b3cfcbd1a5d1.png)

Left side:
- synthesis about hosts states
- group title includes business impact information
- group title navigates to the /all view filtered for the hostgroup
- detail state icon navigates to the /all view filtered for the hostgroup and for the host state

Right

[2015-06-26 09:52] maethor commented on #228
We are loosing the "dashboard" aspect of the previous view? I know some users like to have this view on a monitoring screen.

[2015-06-26 10:03] mohierf commented on #228
You are right, but we there are a lot of groups (mine are > 1000) the "dashboard" view does not make any sense ...

I am moking-up a more synthetic view based on group level to view all the groups on one page :-)

[2015-06-26 10:08] maethor commented on #228
For hostgroups it may not be relevant, but it may be for service groups, hosts tags, services tags, etc. Everyone have a different configuration. I only have ~30 groups, and I think the last view was great to have on overview.

I don't know how to find the right balance, so I'm open to your ideas :)

[2015-06-26 10:15] mohierf commented on #228
I kept the last view on my testing environment and I am using as a basis for my moke-up :-)

[2015-06-26 15:54] mohierf commented on #228
More synthetic groups view

![image](https://cloud.githubusercontent.com/assets/2932687/8381445/f3cbe054-1c2b-11e5-9e81-5ab835005b23.png)

Progress bar of all hosts

Synthesis view of all hosts

For each hosts group:
- background color depending upon worst member hosts state
- hostgroup level information, navigates to a level filtered view ... should navigate to the parent group ?
- displays hosts

[2015-06-26 15:55] mohierf commented on #228
This dashboard view is available on : http://shinken:7767/hosts-groups-dashboard

[2015-06-26 18:08] mohierf commented on #53
Timeline plugin to be updated if needed ...

[2015-06-26 18:11] mohierf opened #230 "Global Shinken configuration"
Build a page for Shinken overall configuration ... to  be discussed.

It may be interesting to be able to view and change global parameters.

[2015-06-26 18:11] #63 closed

[2015-06-26 18:12] mohierf commented on #128
BS3 branch do not suffer from memory leaks ... I close this issue.

[2015-06-26 18:12] #128 closed

[2015-06-26 18:12] mohierf commented on #230
As of #135

[2015-06-26 18:13] mohierf commented on #135
Opened #230 for this feature

[2015-06-26 18:13] #135 closed

[2015-06-26 18:14] mohierf commented on #148
@maethor: should you modify pagination or we close ?

[2015-06-26 18:16] mohierf commented on #136
Boostrap theme and skinnable seems to be ok. Build your own bootstrap theme and copy in *webui/htdocs/js*, *webui/htdocs/css*, *webui/htdocs/fonts* directories ...

[2015-06-26 18:16] #136 closed

[2015-06-26 18:21] mohierf commented on #217
Currently, WebUI displays this timeperiod if it is defined for an host/service ... and that is enough for the moment.

[2015-06-26 18:21] #191 closed

[2015-06-26 18:22] #213 closed

[2015-06-26 18:22] mohierf commented on #147
Available in all the WebUI, except for dependency graph and impacts view ...

[2015-06-26 18:22] #147 closed

[2015-06-26 18:23] mohierf opened #231 "Dependency graph, relooking ..."
Use new icon state formalism ...

[2015-06-28 06:33] maethor commented on #148
You can close.

[2015-06-28 16:48] #148 closed

[2015-06-29 08:25] mohierf opened #232 "Element view, history tab, loading indicator"
When history tab is selected there is a message indicating that logs are not available, and then, once logs are loaded they replace the message.

It will be cleaner to replace this alert message by a loading indicator, and then display the alert message only if logs are not available.

[2015-06-29 08:26] mohierf opened #233 "Element view, graphs tab, loading indicator ..."
When graphs tab is selected there is a message indicating that graphs are not available, and then, once they are loaded they replace the alert message.

It will be cleaner to replace this alert message by a loading indicator, and then display the alert message only if graphs are not available.

Moreover, each graph should have its loading indicator while loading ...

[2015-06-29 08:48] maethor commented on #233
I have already done this in my company information system. I can make it work here.

[2015-06-29 09:25] mohierf commented on #233
Up to you ...

[2015-07-02 01:00] mohierf opened #234 "Generic and configurable custom view"
When an host has a *custom_views* property, extra tab(s) is(are) added in the host element view.
[code]

Custom views are intended to be delivered by installed packs (linux-ssh, ...) but the WebUI may provide a generic and configurable custom view, as of it :

![image](https://cloud.githubusercontent.com/assets/2932687/8468024/697a4eec-2066-11e5-89a8-cd731c43b5de.png)

[2015-07-02 15:55] mohierf opened #235 "Hosts / services groups view improvements"
Display hosts groups properties:
- [x] notes
- [x] notes_url
- [ ] action_url

*Same as in element view*

Display services groups properties:
- [x] notes
- [x] notes_url
- [ ] action_url

*Same as in element view*

[2015-07-02 16:06] mohierf opened #236 "Manage contacts groups"
Enhance this view to group contacts by contacts groups:

![image](https://cloud.githubusercontent.com/assets/2932687/8481715/067d508a-20e5-11e5-9c0e-165dc1817f80.png)

[2015-07-02 16:23] mohierf opened #237 "Dashboard hosts/services groups view"
As proposed in #228:

![image](https://cloud.githubusercontent.com/assets/2932687/8482063/5a148108-20e7-11e5-8fd5-df124774bb03.png)

[2015-07-02 16:31] mohierf opened #238 "Filtering - include contacts"
Should be able to filter with contacts:
- [ ] **ctag** to filter with contacts tags (`use` property)
- [ ] **cg** to filter with contacts groups

[2015-07-02 16:35] maethor commented on #237
This seems very nice.

[2015-07-02 16:47] mohierf commented on #237
Still some improvements needed (tested on my production env):
- [ ] sort by impact ... worst state first
- [ ] nicer layout

[2015-07-02 16:49] mohierf opened #239 "Create a notification ways view"
On the same basis as _timeperiods_ ... list notification ways.

[2015-07-02 17:12] mohierf commented on #178
@ddurieux : what do you think about it ?

Main ideas are:
- [ ] build Shinken configuration from hosts inventory
- [ ] store hosts/services/contacts/ .... indeed monitoring configuration objects  in a monitoring backend
- [ ] use an API to get/set monitoring objects

[2015-07-02 17:14] mohierf opened #240 "Brainstorming around Business rules"
What should the WebUI do with business rules:
- [ ] display business rules
- [ ] help in building business rules ?

[2015-07-02 17:18] mohierf opened #241 "Problems view : action buttons bar on top of view"
When selecting a problem in problems view, the action buttons bar appears on top of the problems view even if the selected problem is far from page top ...

![image](https://cloud.githubusercontent.com/assets/2932687/8483144/f77db192-20ee-11e5-9b49-36aa3c712295.png)

**... two pages down ...**

![image](https://cloud.githubusercontent.com/assets/2932687/8483151/0d412d7e-20ef-11e5-9633-3190cd8f4d53

[2015-07-02 17:53] mohierf opened #242 "Element view, graphs tab - active tab is not persistent ..."
When selecting a time period in the graphs tab, the selected time period is not persisting after refresh ... and is not always selected on first click

[2015-07-03 06:26] mohierf opened #243 "Problems view - sort problems by duration"
Currently, problems are sorted and grouped by **business priority** and then by **hostname**, **service description** ... may be interesting to sort by problems duration ?

[2015-07-03 06:37] mohierf opened #244 "Problems view - expand / collapse business priority"
Make collapsible elements for business priority problems list

[2015-07-03 07:16] maethor commented on #244
I disagree because to be efficient I think the UI should be as simple as possible. We can already filter business impacts with the filter, and elements are already sorted so we can easily identify the blocks.

[2015-07-03 07:26] maethor commented on #243
After *business priority* and before *hostname* and *service description*, they are sorted by status (critical, warning, etc.).

It's a good idea. Ideally, the user should be able to sort by any column. But it's not simple.

[2015-07-03 08:24] mohierf commented on #241
Build an action bar in a fixed bar built inside the layout ...

[2015-07-03 08:25] #244 closed

[2015-07-03 08:38] mohierf opened #245 "Create an escalations view"

[2015-07-03 08:59] #228 closed

[2015-07-03 09:01] #225 closed

[2015-07-03 09:03] #220 closed

[2015-07-03 09:03] #217 closed

[2015-07-03 09:07] #199 closed

[2015-07-03 09:13] cwahl-Treeptik commented on #194
I am also facing this issue.

[2015-07-03 09:14] #195 closed

[2015-07-03 09:23] mohierf commented on #174
Create a WebUI user class with its role, profile, ...

[2015-07-03 09:24] #177 closed

[2015-07-03 09:43] mohierf commented on #194
Sorry, we should not help very much ... this problem seems to be a Shinken one. I saw you opened an issue in Shinken project ... I also did it, but with no success. I downgraded to Shinken Wheezy ...

[2015-07-03 10:03] cwahl-Treeptik commented on #194
I have actually found a work around though it's not very elegant. Since I use a distributed architecture, with many hosts and several realms, and only the shinken master is based on Debian 8, I simply use a distant poller for this host. Then, I got no more error message from the broker and all my hosts are properly monitored.

[2015-07-04 06:00] mohierf commented on #235
![image](https://cloud.githubusercontent.com/assets/2932687/8506711/97e492de-2222-11e5-86b0-ebde3768ef53.png)

![image](https://cloud.githubusercontent.com/assets/2932687/8506714/ac105fea-2222-11e5-8694-c6dfc12eacce.png)

[2015-07-04 06:00] #235 closed

[2015-07-04 06:56] maethor opened #246 "Documenting cv_host"
@mohierf I'm testing the cv_host plugin. What is the best way to configure it ? I can't modify default.cfg because it will be modify at the next commit. Can I make a "config.cfg" to overwrite the configuration ?

Thanks.

[2015-07-04 07:02] david-guenault commented on #246
what about branching and merge when you are ready ?

[2015-07-04 07:04] maethor commented on #246
The idea of this plugin is to be configurable by every user. I don't intend to push my configuration ;)

[2015-07-04 07:11] maethor opened #247 "Service tree should be collapsed in by defaut"
In the service tree, I think the "branches" that are completely OK should be collapsed to let the user see directly what is important. This is obvious when we see a database (oracle, postgres, mysql…).

[2015-07-04 07:36] mohierf commented on #246
@maethor : you are right, the default configuration file is *default.cfg* ... we should first try to get this file in the share directory of WebUI and then, if not found, in the cv_host plugin directory ? More interesting, we may use the first host tag (if exists ...) as the configuration file name ?

[2015-07-04 07:37] mohierf commented on #246
@david-guenault : we defined a milestone to merge BS3 branch in the master branch and publish a new WebUI version

[2015-07-04 07:39] mohierf commented on #247
In the host custom view, all the tree branches are expanded ... the idea was to have a quick look at all the services. In the impacts tab, the OK branches are collapsed to focus on problems.

[2015-07-04 08:01] maethor commented on #246
I don't know @mohierf. In fact I can't make the plugin works. I don't know how to configure the default.cfg.

[2015-07-04 08:05] maethor commented on #247
Ok, I understand. In theory I agree, but it's a problem when the host inherit the mysql, postgres or oracle packs, because they contain *many* hosts.

Maybe we could collapse the branch if it matches "mysql", "postgres" or "oracle" ?

[2015-07-04 08:12] mohierf commented on #246
The plugin tries to find some services for the host : cpu, memory, disks, ...

The rule to find a service/metrics is that the service description must match the regexp defined in the plugin.cfg file and the metrics name must match the regexp defined with the right unit of measure (uom). This is for cpu, memory, disks and network ...

With the following configuration, we try to find a service descr

[2015-07-04 09:10] mohierf commented on #247
These packs contain many hosts ? You mean many services, no ?

You are right, we should collapse if the branch contains many services ...

[2015-07-04 09:23] maethor commented on #247
Many services, yes.

[2015-07-05 06:53] #230 closed

[2015-07-05 06:53] mohierf commented on #230
![image](https://cloud.githubusercontent.com/assets/2932687/8510627/56ee564e-22f3-11e5-976e-c3c83ad0d854.png)

[2015-07-05 07:20] #214 closed

[2015-07-05 07:52] mohierf opened #248 "Sidebar menu activation mark"
When on system parameters page, the sidebar menu activation marks are not properly displayed because configuration and status are activated.

![image](https://cloud.githubusercontent.com/assets/2932687/8510799/7d17ecc4-22fb-11e5-8f6f-ecd40b6cd3f1.png)

[2015-07-05 09:53] mohierf commented on #241
Actions bar when on problems view:

![image](https://cloud.githubusercontent.com/assets/2932687/8511180/4a384568-230c-11e5-8b13-df902f884fe6.png)

Actions bar when on element view:
![image](https://cloud.githubusercontent.com/assets/2932687/8511181/60577684-230c-11e5-9ae9-d74737cd8763.png)

[2015-07-05 09:53] #241 closed

[2015-07-05 18:57] mohierf opened #249 "Impacts view: relooking"
![image](https://cloud.githubusercontent.com/assets/2932687/8512944/73694544-2358-11e5-8bcf-7261e022324f.png)

[2015-07-05 18:59] #232 closed

[2015-07-05 18:59] #233 closed

[2015-07-05 20:24] mohierf commented on #247
Last commit proposes a behavior based on two parameters:
- **expanded** (True/False)
- **max_sons** (integer)

If tree branch state is not Ok, the branch will be expanded.

If tree branch state is not Ok, the branch will be collapsed if **expanded** is False or if the number of elements in the branch is >= **max_sons**

[2015-07-05 20:24] #247 closed

[2015-07-05 22:11] mohierf commented on #234
Last improvements :
- load indication
- several configuration for same host view

![image](https://cloud.githubusercontent.com/assets/2932687/8513632/8d976e94-2373-11e5-8011-5431c3e65129.png)

![image](https://cloud.githubusercontent.com/assets/2932687/8513623/857c3f46-2373-11e5-8e4f-f4334f791084.png)

[2015-07-05 22:18] mohierf commented on #234
How-to:
- add the *custom_views* property to an host to activate the host custom view
- the required views are a comma separated list
- each element in the list may contain a */config* part to specify the configuration file to use

In this example:
[code]
two views are built:
- the first one uses the *default.cfg* configuration file
- the second one uses the *default2.cfg* configuration file

The

[2015-07-06 01:27] mohierf commented on #246
@maethor: More info in #234 ...

[2015-07-06 01:27] #246 closed

[2015-07-06 01:32] mohierf opened #251 "Merge history view in mongodb module ..."
Currently the *mongodb* module provide some hooks to the WebUI for handling user's preferences. The same feature should be used for the logs displayed in the history view. The history plugin do not care about this module ... and we are not able to "discover" this feature.

 It may also be interesting to merge the mongodb and the mongo-logs modules in one single module which will be easier to maint

[2015-07-06 10:28] mohierf opened #252 "Fallback to cv_host when a declared custom view does not exist"
When installing some packs, and tagging hosts, the configuration inherits from custom views that should be available ... what a wonderful world!

In fact, some packs do forget to install the declared custom views (eg. linux-ssh declares 3 custom views that do not exist anywhere ...).

The Web UI should try to call the new generic host custom view with a configuration named from the original failin

[2015-07-06 15:58] maethor commented on #248
We have the same problem in the element page.

[2015-07-06 15:59] maethor commented on #241
This is awesome. Thanks.

[2015-07-06 17:00] mohierf commented on #248
A screen capture to illustrate ? I do not see any problem ...

[2015-07-06 17:01] mohierf commented on #241
You are welcome ...

I used it all day and it is really comfortable !

[2015-07-06 19:26] mohierf commented on #248
I got it !

It is because of the refresh strategy that we modified recently ... it is realy complicated up to now to define what is loaded on document load and what is to be loaded on page refresh ... as of it some events are no more bound to HTML elements !!!

I think we need to refactor page refresh ... I will have a look on it.

I reopen to keep tracking about this problem ...

[2015-07-06 19:30] mohierf opened #253 "Element view - commands tab should be removed ..."
... because it now contains only toggle commands. These toggles should be dispatched near their own properties ...

[2015-07-06 19:58] mohierf opened #254 "Login page - cleaner, lighter, nicer ..."
On top of login form:
- shinken version
- company logo (default or defined in *webui.cfg*)

On bottom of login form:
- shinken logo
- welcome text as defined in *webui.cfg*

Footer recalls shinken version and copyright.

![image](https://cloud.githubusercontent.com/assets/2932687/8531801/21ae0eba-242a-11e5-8969-38d427e49d2e.png)

[2015-07-06 20:03] mohierf commented on #252
This host has two known custom views (*host* and *host/default2*) and a missing *test* custom view ... instead of the missing view the WebUI builds an *host/replace* view and tries to make something with the metrics collected by the standard checks (cpu, memory, ...).

 Result is not that bad :-)

![image](https://cloud.githubusercontent.com/assets/2932687/8531891/bf7ae3ac-242a-11e5-8347-2ae7597d5

[2015-07-06 20:52] mohierf opened #255 "Process performance data on/off"
It may be interesting to implement a toggle command to enable / disable processing perfdata for host / service.

[2015-07-06 20:58] mohierf commented on #253
Toggle commands are integrated near their attached parameters:
![image](https://cloud.githubusercontent.com/assets/2932687/8533035/7ec1556e-2432-11e5-92a7-7b966c267720.png)

[2015-07-06 21:13] maethor commented on #253
I completely agree.

[2015-07-06 21:14] maethor commented on #252
I agree, this is great.

[2015-07-06 21:15] maethor commented on #249
This is so nice. I can't wait to tomorrow to try it :)

[2015-07-07 05:49] maethor opened #256 "Refresh desactivation"
In the problem page, when I select an host, the refresh is disabled (that's ok). But when I deselect it, the refresh is not re-enabled.

[2015-07-07 05:54] maethor commented on #234
I don't like the new service tree, because we are loosing too much vertical space so I have to scroll to see a tree that I was seeing in one sight before. I think the last view was really more readable.

[2015-07-07 06:03] maethor commented on #249
Ok, I still don't like this view, but at least it doesn't take 5 seconds and half of my RAM to load. Thank you @mohierf :)

[2015-07-07 06:07] mohierf commented on #234
You are right ... it is a "standard" Bootstrap list and we may customize the CSS for this view ... I open an issue for his

[2015-07-07 06:08] mohierf opened #257 "Services tree view"
![image](https://cloud.githubusercontent.com/assets/2932687/8539741/5fae2894-247f-11e5-9f10-145f5d9b7dc9.png)

Make it more compact

[2015-07-07 06:42] #256 closed

[2015-07-07 06:58] maethor commented on #257
I think the old way to display it was nice enought.

[2015-07-07 07:03] maethor opened #259 "Actions panel doesn't show up after refresh"
In the problem view, after a refresh the actions panel doesn't show up when we select elements.

[2015-07-07 07:10] maethor commented on #259
After refresh, the action buttons on each host doesn't seems to work neither. This was working after I implemented the new refresh.

[2015-07-07 07:36] mohierf commented on #259
As I explained in another issue, the whole page refresh system is a bit messy ... because some events are not anymore bound after page refresh ... I am currently looking at it and it is not that easy to cope with:/P

[2015-07-07 08:00] maethor commented on #259
I don't think it is so hard to solve. Each page should bring it's JS at the end of the page, or at least an `on_page_refresh()` command like at the bottom of problems.tpl. This JS is called by the brower when the page is reloaded.  All the event must be bound in this function.

[2015-07-07 08:29] mohierf commented on #259
It is not that easy ... :-)

On first load, the events bound in *on_page_refresh* are not all bound correctly because all the elements are not yet created in the DOM ... so you must also call *on_page_refresh* when the document is ready and it may create several bindings on the same element!

This is what I am testing at the moment ...

[2015-07-07 09:13] mohierf commented on #259
Forget the previous comment ... I confused my brain with too many concurrent tests!

[2015-07-07 09:40] mohierf commented on #259
As a conclusion:
- all the plugins template concerned with refresh must propose an *on_page_refresh* function
- this function must be called in a script included in the template
- all events must be bound in this function
- this function must **never** be called on document load!

[2015-07-07 09:40] #259 closed

[2015-07-07 11:19] mohierf commented on #234
Added state icon near graphs:

![image](https://cloud.githubusercontent.com/assets/2932687/8545000/9ba830bc-24aa-11e5-85de-c8aa4d58d721.png)

Rotate X-axis label if more than 5 bars in the barchart:

![image](https://cloud.githubusercontent.com/assets/2932687/8545009/b50dac94-24aa-11e5-908a-ff53c9602afa.png)

[2015-07-07 12:11] maethor commented on #234
Nice. May I ask what memory and network plugins are you using?

[2015-07-07 12:57] mohierf commented on #234
My *wheezy* host is a virtual box Debian Wheezy and I am using the linux-ssh Shinken pack ... I simply did `shinken install linux-ssh` and added a tag `linux-ssh`on my host

[2015-07-07 13:02] maethor commented on #234
OK. I don't use this pack, I'll take a look.

[2015-07-07 15:24] mohierf commented on #234
This pack is not complete ... I simply use it on my test VM. Else, I am using NRPE for my servers and specific checks for passive checking ...

[2015-07-09 02:12] mohierf opened #260 "Host availability tab in element view"
The availability tab displays daily host/service availability information computed from data gathered from an *availability* collection stored in a mongodb.

The module *mongo-logs*, in its most recent version, computes and stores daily availability data for all hosts in the Shinken configuration ... see https://github.com/shinken-monitoring/mod-mongo-logs/issues/1.

![image](https://cloud.githubu

[2015-07-09 02:57] mohierf commented on #260
Availability information for all hosts on one page in the *system/availability* menu.

![image](https://cloud.githubusercontent.com/assets/2932687/8587038/f40f4cd4-25f6-11e5-97a7-359ac26cac3a.png)

[2015-07-09 04:25] mohierf opened #261 "Filtering should search in check output"
It will allow to search in problems view on:
- host name
- service description
- check output

[2015-07-10 06:48] mohierf opened #262 "Disable some commands for element that are passive checks disabled"
When passive checks are disabled for an element, some commands should be disabled ...

*Submit check result* on a passive disabled host do not deliver the expected result because the WebUI notifies the command to Shinken but it is ignored because passive checks are disabled for this host!

[2015-07-13 09:54] maethor commented on #260
This is *so* awesome. Thank you @mohierf. I can't wait to try it.

[2015-07-13 10:08] maethor opened #263 "Some sidebar items are inaccessible on small screens"
On small screens, the sidebar can't be displayed completely. Most of the time it's not a problem because we can scroll to display the last elements. But when the content is not high enought, we can't scroll enougth to display the last elements of the sidebar.

[2015-07-13 16:06] mohierf commented on #263
Perharps a screen capture may help to understand ...

[2015-07-13 18:41] gego42 commented on #102
Besides the very useful information, this is one of the most polite and at the same time efficient threads I've read in a loooooooong time :+1: thx folks

[2015-07-14 18:01] maethor commented on #263
I have to admit that it's a tricky case. It only happen when the action menu is displayed.

![2015-07-14-195943_1600x900_scrot](https://cloud.githubusercontent.com/assets/2410576/8680667/27598d14-2a63-11e5-8ff3-39c81204c1ae.png)

[2015-07-14 21:36] nordbit commented on #102
..and problem after many months still exist

[2015-07-15 03:34] mohierf commented on #102
@nordbit : did you try the BS3 branch ? If you still have the problem with this branch, should you explain a bit more ?

[2015-07-15 05:58] mohierf commented on #263
We should reduce height of the menu elements depending upon viewport height ?

[2015-07-15 07:25] maethor commented on #263
I don't know.

[2015-07-15 21:38] mohierf opened #265 "Popovers are not always user friendly ..."
On Firefox it seems that the popover do not _pop over_ ... :/P

Moreover, on mobile devices it may be quite difficult to hover an element to display an information box ... should be more interesting to activate the popover boxes when the element is clicked rather then hovered.

[2015-07-16 05:24] maethor commented on #265
Which popover are you talking about ? The perfdata ? It works well on my Firefox (I don't use chrome, I only test in FF).

On mobile we don't display the perfdata, the screen is too small.

[2015-07-16 05:25] maethor commented on #265
Moreover, clicking is less intuitive. The user can miss to discover the functionality.

[2015-07-16 06:36] mohierf commented on #265
The popover in the element view .... for the element notes. Should you make a test with FF ?

[2015-07-16 12:30] maethor commented on #265
We don't have notes on our hosts and services…

[2015-07-16 14:01] maethor commented on #238
There are many methods missing in Shinken core to do this properly. I can insist, it's quite fun, but it will be ugly. Is it an important feature for you?

[2015-07-16 15:22] mohierf commented on #238
No, it is not important. Feel free to leave this ...

It is much more important to build a consistent data manager as discussed in #178 ... and then it will probably be easier to manage contacts.

[2015-07-17 09:34] #238 closed

[2015-07-17 09:38] maethor commented on #261
This is a good idea. But I think if we find some results on the host names and service description, we should'nt be looking in check outputs. What do you think?

I have performance issues in mind. I'm not sure about that, but I think regexp are quite time consuming, so making a full text search on all the elements, twice, may not be a good idea when most of the time we just want to get a host by i

[2015-07-17 10:16] #261 closed

[2015-07-17 13:46] maethor commented on #178
@mohierf what do you have in mind about this DataManager class?

[2015-07-19 07:01] mohierf opened #269 "Glpi helpdesk module support"
This new Shinken module allows to use the Glpi Web Services to list the helpdesk tickets of an host and to create a new helpdesk ticket for an host.

![image](https://cloud.githubusercontent.com/assets/2932687/8764913/b7d7b2be-2df4-11e5-917c-3fc687eb3328.png)

[2015-07-19 20:25] mohierf opened #270 "Wall view : refactoring ..."
The Wall view contains 3 *slideshows* :
- impacts
- IT problems
- last IT problems

Elements in the slideshows are sorted *worse first*.

![image](https://cloud.githubusercontent.com/assets/2932687/8767691/fdb78b04-2e64-11e5-9bb1-488b3172a0a4.png)

[2015-07-20 17:12] mohierf opened #271 "Login refused after some time ..."
Several login / logout may be made successully and, after some time, login is systematically refused despite using right username/password.

[2015-07-20 17:14] mohierf commented on #271
After some more investigation, it seems that this behavior occurs because of the authentication cookie. As long as the cookie is still existing, login is accepted ... until the cookie is expired and then authentication is always refused.

[2015-07-20 17:23] #271 closed

[2015-07-20 18:12] mohierf opened #272 "Dependency graph widget ... graph is quite large for a widget view."
On some screen resolution, the graph is too large for the widget allocated width ... should try to define graph width depending upon widget size ?

![image](https://cloud.githubusercontent.com/assets/2932687/8783343/8130b83c-2f1b-11e5-9da7-7bab8bb9afb3.png)

[2015-07-20 18:12] #254 closed

[2015-07-20 18:13] #234 closed

[2015-07-20 18:13] #249 closed

[2015-07-20 18:13] #260 closed

[2015-07-20 18:13] #270 closed

[2015-07-20 19:57] mohierf opened #273 "Availability logs should be filtered related to currently logged in user"
... as in the title !

Actually, displayed logs are not filtered ... as of it, the logged in user may see logs that do not concern him!

[2015-07-20 20:00] mohierf opened #274 "Add a performance data tab in element view"
Add a performance data tab in the element view to display all the available metrics for all services of an host. Links to a Graphite graph for each metric ...

[2015-07-20 21:45] #242 closed

[2015-07-20 21:51] mohierf commented on #274
In host view, creates a table containing all the metrics of all host services. For each metric, displays : value, warn, crit, min, max and UOM, and then includes a perfometer that displays a Graph for the metric.

![image](https://cloud.githubusercontent.com/assets/2932687/8788343/04594d96-2f3a-11e5-85d8-c35ed0aa1e98.png)

[2015-07-21 08:27] maethor commented on #178
I think the goal is achieved, so I close this ticket. @mohierf you can reopen if you think there is still some work to do on the datamanager.

[2015-07-21 08:27] #178 closed

[2015-07-21 08:35] maethor commented on #174
The WebUI user class is still very limited, and we maybe could move authentication and preferences methods in it. But for 2.0 I think it's a good base so I close this issue.

[2015-07-21 08:35] #174 closed

[2015-07-21 08:37] maethor commented on #248
@mohierf this is the last issue remaining to close the 2.0 milestone ;)

[2015-07-22 07:51] maethor opened #276 "Shinken 1.* with new WebUI - please vote!"
I have tested the new WebUI on Shinken 1.2. As expected, it doesn't work. I didn't try to push it.

@mohierf do you think it would be a huge work to make it compatible? I don't know if this is useful, let me know what you think about it.

[2015-07-22 08:05] mohierf commented on #276
Currently, I do not really know if it would be a huge work ... and I do not know if there are still many Shinken 1.* users ?

**If somebody still uses this Shinken version, please comment this issue**

[2015-07-22 08:58] maethor commented on #276
I do, that's why I'm asking the question :D

[2015-07-22 09:31] maethor commented on #260
@mohierf What do the first and second bars represent ?

[2015-07-22 09:35] maethor commented on #260
Hm… I suppose the first bar is based on the day. And the second bar is the same as the first but minus the "unchecked" ?

So now it's 11:34, I have the first bar 47%UP / 53% UNCHECKED, and the second bar 100%UP.

Am I right ?

[2015-07-22 10:31] mohierf commented on #260
You are right !

The first bar is a 24 hours bar

The second bar is only considering the CHECKED period in the day.

I should have cross referenced this : https://github.com/shinken-monitoring/mod-mongo-logs/issues/1

[2015-07-22 11:48] maethor commented on #260
Ok, I'm starting to see the whole picture.

UI speaking, I think there are some improvements to do to make it more clear. For instance, we don't care so much about the uncheck time. The second bar is enought, we just need to display somewhere "based on X% of the day", or something like that.

Also, we could simply aggregate theses informations to display monthly and yearly availability.

I'll work

[2015-07-22 11:50] mohierf commented on #260
You are right ... I simply made a moke-up to validate !

[2015-07-29 08:02] mohierf opened #281 "WebUI submodules import"
The new submodules in the WebUI make the broker log a Warning:

[code]

**Note:** this log is a simple alert on WebUI module importation by the broker ... at the end, the WebUI is started and runs correctly!

[2015-07-29 08:20] mohierf commented on #281
Source of the WARNING log is in Shinken *modulesmanager.py*, function *try_best_load*.

This function is called twice :
- first with  the module name
- twice with `.module`as module name and module name as `package`

[code]

[2015-07-30 10:11] hemebond opened #282 "service-groups internal server error"
Error occurs on /services-groups. If necessary I can try and cut down my config to test with.

# Error: 500 Internal Server Error
Sorry, the requested URL 'http://localhost:7767/services-groups' caused an error:

```Internal Server Error```

## Exception:
```AttributeError("'Service' object has no attribute 'get_servicegroups'",)```

## Traceback:
[code]

[2015-07-30 10:12] maethor commented on #281
Don't assign this to me. For me, all this module management is pure magic :D

Stupid question: did you find a documentation somewhere that explain how to make a "new style" module ?

[2015-07-30 10:15] maethor commented on #282
Indeed, this method is missing in the Service class. I'll fix it, thank you.

[2015-07-30 10:17] #282 closed

[2015-07-30 12:39] mohierf commented on #281
You are right ... I assigned this issue to you if you had an idea about it. But, no, I did not found any info about what are old style, new-old style, old-new style ... modules :-)

[2015-07-31 05:01] Simage commented on #240
Display is a definite.. possibly in such a way that you can see what part of the rule is causing the failure and which hosts and/or services are referenced.

While I think it may be nice to build and manage business rules and other config items from within the webui I wonder if that's perhaps a better task for a plug in. .. a plugin/module should be able to register it's own url using the internal

[2015-07-31 05:05] Simage commented on #53
Is the time line perhaps better implemented by pushing events to graphite and being able to correlate state changes with changes in the perfdata metrics?

[2015-07-31 05:06] Simage commented on #274
@mohierf. Is this not just a modified graphs tab with a slightly different interface??

[2015-07-31 05:40] Simage commented on #281
Issue appears to be due to the submodules python module not being found in the python path, as such it falls back to an older import mechanism that adds the shinken modules path (too many different definitions of module) to sys.path allowing it to resolve submodules.metamodule. I suspect that the issue is easiest resolved by simply changing the sub modules to use relative imports to pull the paren

[2015-07-31 06:05] mohierf commented on #274
The idea was to have all the known metrics of an host/service in a single tab ...

 For an host element, the graphs tab displays the graphs for the host check perfdata if they exist.

[2015-07-31 06:09] #281 closed

[2015-07-31 06:24] maethor commented on #240
You are absolutely right @Simage. It's not the case for know, but we could make it work to lighten the webui.

[2015-07-31 06:40] Simage commented on #276
@maethor is there any particular reason for you not to upgrade? I thought I had upgraded late 6 weeks or so ago :)

I'm not aware of any "missing" or dropped features in 2 and other than a couple gotchas it was a fairly painless migration for my install

[2015-07-31 06:41] mohierf commented on #240
+1. Thansk @Simage for your comments

[2015-07-31 06:42] Simage commented on #274
Obviously my mind doesn't work so well after midnight, I blame age, I see the difference now

[2015-07-31 06:56] Simage commented on #240
@maethor Unless I'm missing something in my read, that's simply loading the plugins isn't it?

[2015-07-31 07:08] Simage opened #284 "Graph time issue"
Graphs appear to be generating timestamps in GMT+0200

generated graph url for the 4 hour graph is

local time is  GMT-0600 = 0058
Server time is GMT+0000 = 0658
until time in graph URL = 0858

Of course since the timezone in the URL is set at America/Edmonton (GMT+0600) the times are all apparently in the future and no graph is generated

Math all appears to be done in UTC, so where is the 0858 c

[2015-07-31 07:11] maethor commented on #276
The upgrade takes some time to adjust the configuration, and I don't have this time for this project.

[2015-07-31 07:15] maethor commented on #240
That's loading the plugins… for each module (the loop on line 314). So each module can brings it's pages.

Maybe I didn't understand your question?

[2015-07-31 07:18] Simage commented on #276
Fair enough @maethor, I put mine off for quite a while for that reason as well

[2015-07-31 07:32] mohierf commented on #274
:-)

[2015-07-31 07:54] naparuba commented on #274
Cool!!! :D

On Fri, Jul 31, 2015 at 9:32 AM, Frédéric MOHIER <notifications@github.com>
wrote:

[2015-07-31 08:55] mohierf commented on #274
This view raised a problem in Shinken when you do not always receive the same perfdata in the hosts/services checks ... only the last received perfdata/metrics are stored in Shinken objects !

Let me explain with an example :
- you receive a service check with perfdata containing **counter1=1**
- you receive a new check for the same service with perfdata containing **counter2=1**

Only the metric

[2015-07-31 09:08] mohierf commented on #284
As far as I understand, the **0858** comes from the WebUI when it requests graphs from its graph module. The graphs are requested with a start and end range. See eltdetail.tpl, around lines 1130 and lines 1160 ...

 It will be interesting to change this behavior if the *ui-graphite* and *ui-pnp* modules were able to provide an interface with a duration rather than with a fixed range ...

 I will p

[2015-07-31 09:29] maethor commented on #274
Actually, I don't know about Graphite but if you have a service doing that with PNP4Nagios, I will break your graphs.

[2015-07-31 09:44] naparuba commented on #274
It's not to the core to manage perfdata. It's out of it's scope.

What I did in enterprise is just to query graphite to have all metrics for
a service. Simple and efficient ^^

On Fri, Jul 31, 2015 at 11:29 AM, Guillaume Subiron <
notifications@github.com> wrote:

[2015-07-31 09:52] mohierf commented on #274
Ok, if core do not manage perfdata, we should remove the *perfdata.py* from Shinken core ;-)

And for sure, we may request all metrics in Graphite but what about PNP ... is it possible ? Not sure it is ...

1/ We may choose to build a WebUI only with Graphite metrics ... :/P
2/ An extra module should manage and store a simple dictionnary for each host/service to keep all the metrics
 3/ Metrics li

[2015-07-31 09:53] mohierf commented on #274
@maethor: what is the problem with PNP and different metrics in perfdata ?

[2015-07-31 09:57] maethor commented on #274
RRD doesn't manage the case you describe. If you loose a variable in a perfdata, the RRD database for this perfdata « breaks » and is not readable anymore, because she doesn't match the new xml schema.

To answer your previous comment, I don't know if we can retrieve the list of metrics from PNP.

[2015-07-31 10:51] mohierf commented on #274
*Tell me if I am wrong ...*
With RRD, you must specify all the metrics that you may store for a service. Let's say : **counter1**, **counter2** and **counter3**

I a service check contains only **counter1**, it does not break ? It only stores the received value ... And if next check sends values for **counter2** and **counter3**, it is also ok ?

[2015-07-31 11:09] maethor commented on #274
You are wrong :)

I don't know the internals, but RRD init the DB with the first perfdata it receives. So if the first perfdata contains "counter1", "counter2" and "counter3", the DB is init with this "fields". Then, if the perfdata schema changes, the RRD database will break.

But again, I don't know the internals. Maybe I should look at npcdmod (the equivalent of mod-graphite), because it may no

[2015-07-31 11:13] mohierf commented on #274
Too bad ... :/P

[2015-07-31 13:36] naparuba commented on #274
That's in misc (or at least should be) because of common parsing between
modules. But Remeber that shinken is a monitoring tool, not a metrology one
and will stay like this :)

If I'm not wrong pnp is able to be queried like graphite, to have all
metrics. But it's very very long since I try it, so I don't really remember
^^

For the module that look/store metric names, maybe with a redis server? B

[2015-07-31 13:40] mohierf commented on #284
@Simage : I made some modifications in the WebUI to use only durations for graphs (see my latest commits). The idea is that the WebUI do not set start/end date anymore, but requests for the last 24 hours ...

 If the *ui-graphite* module implements a *get_relative_graph_uris* function this function is called with the requested duration, else the *get_graph_uris* function is called with start/end d

[2015-07-31 13:50] Simage commented on #274
Is this a problem?  The purpose of the perfdata module is to display the current perfdata. Display of historic data is managed by the graphing module.  Theoretically, if the set of metrics you receive changes, that change potentially contains meaning, by hiding that change and showing the full set of all metrics ever recieved that meaning is lost from the data.

Graphite and pnp shouldn't care bec

[2015-07-31 13:53] Simage commented on #284
The get graphs url should work as is... the design behind it is to convert a unix timestamp to a compliant string and just pass anything else through.  My bigger concern is for those using other graphing backends. Particularly pnp, does it support relative times, or will this change beak graphs for people using PNP

[2015-07-31 13:58] Simage commented on #284
Actually.. you're doing something slightly different than I expected... I'll put together an alternate when I get to the office.. 10 or 15 minutes

[2015-07-31 14:06] mohierf commented on #284
Please feel free to make some modifications ... no problem with this. I simply proposed something that will allow the WebUI to not use absolute time.

[2015-07-31 14:11] mohierf commented on #274
My concern is not the changing metrics ... but to get a view of **all** the metrics for a check. I all metrics are not always sent in the perfdata, you only see the last sent metrics ...

 I copy the comment I wrote this morning with an example :
[code]

[2015-07-31 14:19] mohierf commented on #274
@naparuba : sure, Shinken is not a metrology tool ... but I find it interesting to allow the monitoring user to see the last value of all the received metrics and not only the last perfdata.

I will open a WebUI issue with this feature ... for future enhancement

[2015-07-31 14:20] mohierf commented on #273
@maethor : should you take care of this?

[2015-07-31 14:30] mohierf opened #285 "Metrics view"
As explained in #274 it will be interesting to be able to view the last value of all the metrics of an host/service and not only the last one sent in perfdata.

When Shinken do not always receive all the same perfdata in the hosts/services checks ... only the last received perfdata/metrics are stored in Shinken objects !

Let me explain with an example :
- Shinken receives a service check with per

[2015-07-31 14:33] Simage commented on #284
I was thinking something more like Simage/mod-webui#cb20b3069adcd08ebf07cd1f3b3a2f2d5c02d726

1 minute untested example, I'll try fleshing it out more when I get home tonight

[2015-07-31 14:48] maethor commented on #273
OK.

[2015-07-31 15:33] maethor commented on #273
In fact, logs should'nt be displayed to common users, only to admin. I just fixed it (will be pushed soon).

But availability should be filtered, of course.

[2015-08-03 22:29] b-keller opened #286 "Color themes ?"
Your work is very great... and the the new features are very useful.
But...
I have a little problem with the colors of the actual theme,  it's too bright for me.
How to modify it by myself ? Or do you plan to add color themes ?

thanks!

[2015-08-04 06:28] maethor commented on #286
Thank's for your comment!

We don't plan to add color themes. We prefer focusing on one theme and do it great :)

If it is too bright for you, so is github too bright also? And google? Wikipedia? etc. What would you change? Only the sidebar and topbar? Or even the main section background?

You can modify the theme by loading a custom css in `module/views/layout.tpl`. But if you are not used to git

[2015-08-04 08:36] b-keller commented on #286
Thanks for the answer, yes I would only change the top and side bar...
With your guidance I will try to change the CSS...

You can close if you want.

Thanks

[2015-08-04 09:33] maethor commented on #286
OK, thanks. I'll keep your idea in mind.

[2015-08-04 09:33] #286 closed

[2015-08-04 18:20] rdoursenaud opened #288 "Empty history leads to error 500"
When the history is empty, the history tab displays a 500 HTTP error.
I think we're trying to use an uninitialized list.
![capture d ecran de 2015-08-04 20-20-12](https://cloud.githubusercontent.com/assets/1210367/9068878/40da6842-3ae6-11e5-9be0-f6ad2399e49f.png)

[2015-08-05 06:05] maethor commented on #288
Mongo-logs is actually a module in active development that may not be usable in production. It is also very very slow. But you are right, thanks for this issue. I'll fix it.

[2015-08-10 15:31] fhoubart commented on #288
Hi,
I got this same issue, and had a very simple workaround in the template. Instead of getting an empty list, the template work on a no iterable object. Checking it the object is iterable in the template fix the issue.
I've just posted a pull request for that: #291

[2015-08-10 15:36] maethor commented on #288
@rdoursenaud can you confirm this bug is closed?

[2015-08-11 09:46] monito-git opened #292 "Graph Widget don't work for me"
Hi,

I don't understand because, my graphite graphs work in the host or service view but not in the dashboard.
I have the folowing message : "Error loading this widget:"
When I restart shinken I can add an empty widget graphs (No graph for this element.) but after the first shinken check I have "Error loading this widget."

In brief, it seems the widget graphs can't display a graphite graph ...

S

[2015-08-11 10:19] maethor commented on #292
Hello @monito-git. What version of the webui are you using? The BS3 branch, or the WebUI installed from shinken-io? What did you mean by "the official webui"?

Widgets in general may not work well. But I'm currently working on graphs, so I'll take a look at the widget.

[2015-08-11 10:29] monito-git commented on #292
Thanks for your answer maethor.
I use the BS3 and by "the official webui" I would like mean the webui from shinken-io.

In my webui, all widgets work well expect the graph.

[2015-08-12 12:59] hvad opened #293 "BS3 - can't work with shinken 2.4.1"
Hi,

After install bs3 like that :
git clone -b bs3 https://github.com/shinken-monitoring/mod-webui
shinken install --local mod-webui

I can't acces to webui BS3.

I saw in log :

[1439383554] WARNING: [broker-master] Cannot import webui : No module named webui
[1439383554] WARNING: [broker-master] Cannot import webui..module : No module named webui.module
[1439383554] WARNING: [broker-master] Try

[2015-08-12 13:23] maethor commented on #293
Is the webui really installed? Do you have the file `/var/lib/shinken/modules/webui/module.py`?

[2015-08-13 07:57] hvad commented on #293
Yes file is present.

[2015-08-13 09:35] monito-git commented on #292
I completely reinstall the webui.
* 1st Step : Reinstall the webui from shinken.io (all work well)
* 2nd Step : Install the bs3 branch with this commands
[code]

I can log me with admin / admin but after I have the error bellow :
[code]

In my broker_log there are 2 errors :
[code]

I think before I didn't use the Bsr Branch but the BS3 pre-release.

I don't know how solve this problem :(

[2015-08-13 09:57] maethor commented on #292
Hm, this is not related to this issue. But it seems I forget to add a dependency in the requirements.txt. You can fix this by installed requests  with `sudo pip install requests` (or `sudo aptitude install python-requests`, or `rpm something`).

Sorry about that. I was sure that requests was already a dependency of the webui.

[2015-08-13 10:25] monito-git commented on #292
Thanks you for your quick answer maethor, I used pip ! The webui is now fine :)

But Graph Widget always don't work and now I can't edit or delete a widget with button on the top right corner of widget panel.

![image](https://cloud.githubusercontent.com/assets/13745844/9247694/905d8d06-41b5-11e5-8017-e20f8811c3d2.png)

[2015-08-13 10:31] maethor commented on #292
Hum. Please report another issue for this deletion problem. @mohierf will take a look in a few days.

[2015-08-13 11:47] monito-git commented on #292
After my lunchtime deletion problem disappeared without I do anything. Maybe web cache or maybe karma. Sorry for this false alerte.

The initial issue with Graph Widget is still here.

PS : Sorry maethor, next time I will post each issue on seperate topic. Github is a new thing for me.

[2015-08-13 12:08] maethor commented on #292
No problem! It's very nice of you to come here and report your bugs. I promise I'll try to debug the graph widget when I find some time.

[2015-08-13 14:54] #292 closed

[2015-08-13 14:55] maethor commented on #292
@monito-git can you confirm that the bug is closed with the last version of the webui?

[2015-08-14 09:24] monito-git commented on #292
Thanks @maethor, good job ! I can now load the graph widget so this bug is closed :)
I will open an other issue to improve this widget.

![image](https://cloud.githubusercontent.com/assets/13745844/9271027/ccbcd9ca-4276-11e5-965e-e6cdcdf7034e.png)

[2015-08-14 12:48] monito-git opened #295 "Graph Widget - Change fontsize in the graph"
Hello,

I try to improve the Graph Widget but I don't know how.
There is a display bug because of a font size witch is always at 18. Sometimes is good but other times it's not relevant (with 365d mode):
![image](https://cloud.githubusercontent.com/assets/13745844/9274084/bec659f6-4292-11e5-9047-3efad72f9604.png)

This is the Url of the graph :
[code]

How modify the args generate by the webui ?
Ex

[2015-08-14 14:11] maethor commented on #295
It's more a graphite-ui bug than a graph widget one. I use PNP4Nagios and I don't have this problem.

Maybe @mohierf will be able to help, but the problem is not on the webui side.

[2015-08-16 17:57] rdoursenaud commented on #288
@maethor fix confirmed

[2015-08-16 17:57] #288 closed

[2015-08-16 17:58] rdoursenaud commented on #288
Thanks @fhoubart

[2015-08-17 08:39] monito-git commented on #295
Yes you are right @maethor ! I searched in the ui-graphite code and I found this :
[code]

Instead of 18 I put 14.
I think graphite-ui is not disigned for the last webui versions.

You can close this issue (I don't know how close my issue )

[2015-08-17 08:43] #295 closed

[2015-08-17 09:25] mohierf commented on #295
@monito-git : you should try to use the ui-graphite module that is in the `refactored` branch (https://github.com/shinken-monitoring/mod-ui-graphite/tree/refactored).

 With this version, you will have a better integration with the WebUI and you can even change some parameters in the cfg file of the module ...

[2015-08-19 09:45] monito-git commented on #295
Ok, thanks you for your advice @mohierf !

[2015-08-19 12:12] #273 closed

[2015-08-20 19:15] b-keller opened #296 "problem with system/logs"
Hi,
I made a mistake with  the system/logs, I unselect all options in parameters : the result is the message bellow...
Now I can't go back, how reset logs parameters ? Is it possible to doesn't save the parameters ? or testing the choice before save ?

Thanks

Error: 500 Internal Server Error
Sorry, the requested URL 'http://XXX.XXX.XXX.XXX:7767/logs' caused an error:
Internal Server Error
Excepti

[2015-08-21 08:37] mohierf commented on #296
In the plugin directory (*webui/plugins/logs*), you will find a `plugin.cfg` file in which you may specify which logs type are to be displayed :
[code]

[2015-08-21 09:16] maethor commented on #248
I can't reproduce it anymore. @mohierf is it fixed for you too ?

[2015-08-21 09:32] #296 closed

[2015-08-21 09:33] maethor commented on #296
Indeed, this was a pretty bug. My mistake.

My commit should fix your problem.

[2015-08-22 23:05] b-keller opened #297 "services and hosts tags overview are empty"
Hi,

I don't understand why these overview are empty whereas the host config file use : generic-host,windows...
I miss some thing ?

thanks

[2015-08-22 23:17] b-keller opened #298 "Availability overview HS"
With the last commits, Availlability overview not working anymore.

Error: 404 Not Found
Sorry, the requested URL 'http://XXX.XXX.XXX.XXX:7767/availability' caused an error:
Not found: '/availability'

[2015-08-23 17:25] maethor commented on #297
`generic-host` is not a tag, it's a template. I suppose windows is also a template…

[2015-08-23 17:29] maethor commented on #298
Works fine for me. Did you install all the python packages listed in `requirements.txt`? I added `arrow` a couple of days ago.

Can you try https://XXX.XXX.XXX.XXX:7767/host/hostname#availability? (replacing "hostname" by a real host name)

[2015-08-23 21:11] b-keller commented on #298
Yes, I install arrow and now it's working perfectly

Sorry et thanks

[2015-08-23 21:11] #298 closed

[2015-08-23 21:20] b-keller commented on #297
ok , can you explain how to use the tags (example)? I've searched but found nothing in the doc...

thanks

[2015-08-23 22:25] maethor commented on #297
As a matter of fact I can't… because I don't use them and I can't see how they could be useful. Maybe @mohierf will be able to help you.

[2015-08-24 10:54] mohierf commented on #293
@hvad : does the problem still exists ? did you made more tests with Shinken 2.4.1 ?

[2015-08-24 10:57] mohierf commented on #248
Seems to be fixed ...

[2015-08-24 10:57] #248 closed

[2015-08-24 11:23] mohierf opened #299 "Problem with user login - too many redirections"
Sometimes, when returning in the Web browser, the Web UI do not load the page and displays an error page indicating that there are too many redfirections :

![image](https://cloud.githubusercontent.com/assets/2932687/9438989/1c0ab468-4a63-11e5-887a-38c0b1bd5ea8.png)

**Fix**: This problem disappears after clearing the user cookie stored in the Web browser.

[2015-08-24 13:34] maethor commented on #299
I never had this problem.

The only time when I see this error is after restarting the broker, when the objects are not loaded yet. So I think it could be an authentication problem. Finding why there is a redirection loop may allow us to see the true error… ?

[2015-08-24 13:49] mohierf commented on #299
I will try to make some more tests because I had this problem several times ... and it is always on a virtual machine ... I opened this issue if someone else also met the same problem.

[2015-08-24 14:59] mohierf commented on #297
Indeed, @b-keller you are right. There has been a bug introduced in the tags management ... I will push a fix for this soon (in testing currently ...).

[2015-08-24 15:58] #297 closed

[2015-08-24 19:53] hvad commented on #293
Hi,

Sorry i not had time to complete test. I try to test soon.

Regard

[2015-08-24 20:01] b-keller opened #300 "hostgroups"
Hi,

I test the Hosts groups overview :
- if the hostgroups is set in the host config file : no problem it's working
- if the hostgroup_members is set in the hostgroup config file : in the webui the hosts groups overview, the group is empty...

[2015-08-25 04:37] mohierf commented on #300
Are your groups present in the host view?

![image](https://cloud.githubusercontent.com/assets/2932687/9458824/b851871c-4af3-11e5-9707-eb1ed8ff6667.png)

Please post your configuration with this problem.

Mine is:
[code]

[code]

And the hosts groups overview is as is:
![image](https://cloud.githubusercontent.com/assets/2932687/9458796/61bd314e-4af3-11e5-8939-764e01390202.png)

`wheezy` is a membe

[2015-08-26 19:00] b-keller commented on #300
hi,
so in th shinken doc (Host Group Definition) :
members : This is a list of the short names of hosts that should be included in this group.
Multiple host names should be separated by commas. This directive may be used as an alternative to (or in addition to) the hostgroups directive in host definitions.

[code]

[2015-08-27 03:36] mohierf commented on #300
Ok, I understand where the problem is ... the Shinken core does not manage correctly the hostgroups members property. This property is used in the configuration phase but does not persist in the objects used by the WebUI ...

I proposed a Pull Request to cope with this problem but I just saw that it has not yet been merged ... even in the last version :/P

My PR: https://github.com/naparuba/shinke

[2015-08-27 06:21] maethor commented on #300
@mohierf :(

@b-keller In my opinion, using `members` is a bad practice anyway. Because when you add an host, you will have many objects to edit. And when you remove this host you will have to think about removing it from all the objects where it's referenced. If you use `hostgroups` in the host object, you don't have this problem.

[2015-08-27 06:43] mohierf commented on #300
@maethor : you are right ... but Nagios/Shinken configuration allows this configuration style and Shinken should remain Nagios compatible!

[2015-08-27 07:05] maethor commented on #300
Yep, I was just giving some advice. But of course Shinken should manage this properly.

[2015-08-27 14:18] maethor commented on #300
@b-keller can I close this issue?

[2015-08-27 14:42] b-keller commented on #300
It's ok for me, you have right  about bad and best practice with hosts group. Maybe it needs to be better explained in Shinken Doc...

Thanks

Le Jeudi 27 Août 2015 16:18 CEST, Guillaume Subiron <notifications@github.com> a écrit:
 
@b-keller can I close this issue?
—
Reply to this email directly or view it on GitHub. 
 

[2015-08-27 20:19] #300 closed

[2015-08-28 06:58] mohierf commented on #299
Problem occured because my test VM IP address changed :/P

[2015-08-28 06:58] #299 closed

[2015-08-28 07:00] mohierf opened #301 "Sorting comments and downtimes for an element ..."
Comments and downtimes of an element should be sorted by descending date instead of ascending ...

[2015-08-28 07:49] mohierf opened #302 "In problems view, filter from synthesis ..."
It should be nice to refine filtering when a state is selected in the synthesis of the problems view.

![image](https://cloud.githubusercontent.com/assets/2932687/9541561/c23bc260-4d69-11e5-8b45-65d175a309d4.png)

Clicking on the DOWN icon would lead to an host DOWN filtered view.

[2015-08-28 07:58] mohierf opened #303 "Minemap colums title should lead to a filtered view"
When in the minemap view, clicking on a column name should lead to a filtered view.

![image](https://cloud.githubusercontent.com/assets/2932687/9541687/ec167732-4d6a-11e5-8dfa-9c25f99b131d.png)

Clicking on the *SoftKiosk* should lead to a filtered view containing the services named as *SoftKiosk*

[2015-08-31 21:00] b-keller opened #304 "custom view"
Hi,
I have this message on the host overview when I use linux snmp or linux ssh pack :
 ``` Sorry, I cannot load the linux/default view! ```
```Sorry, I cannot load the linux_ssh_memory/default view!```
and for these hosts I have no  : Graphs, Impact graph, History, Availability.
But for hosts that not use a custom view, all overviews are ok (graphs, logs...)

[2015-08-31 21:06] b-keller opened #305 "bookmarks"
Hi,

I have no luck with the bookmarks...I can't use it : the screen is greyed out when i want to add or to manage. I can't do anything. I test it with sqlitedb and mogodb : same problem.

![bookmark0](https://cloud.githubusercontent.com/assets/12746104/9590353/52dedd9e-5034-11e5-836f-cc850616d85f.PNG)

![bookmark1](https://cloud.githubusercontent.com/assets/12746104/9590358/5d57c952-5034-11e5-88b

[2015-08-31 21:13] b-keller opened #306 "service graph widgets"
Hi,
Is there a way to add a service graph in a widget on the dashboard  ?

thanks

[2015-09-01 06:34] maethor commented on #306
Yes it is. The WebUI will not assist you, but if you put the right element name you will get the graph. The element name is formed as this: `host_name/service_description`

For instance: `test-www01/Swap`

If `https://monitoring.domain.tld/service/test-www01/Swap#graphs` is showing the service's graph, the graph widget should be able to show it two.

Can you confirm it is working for you?

[2015-09-01 06:39] maethor opened #307 "Dashboard tab on host view"
It could be nice to have a customizable dashboard (like the current dashboard) in each host view, or even service view… Or maybe just a way to have multiple dashboards. Kind of like what we can do with Grafana.

I'm not going to develop this right now, it's just an idea for a future milestone.

[2015-09-01 06:40] maethor commented on #305
I confirm the bug, thank's for reporting it. I will fix it soon.

[2015-09-01 06:41] mohierf commented on #306
I confirm that it works. We should open an issue to improve this widget to help selecting a specific service as it helps selecting an host ...

[2015-09-01 06:41] maethor commented on #305
@mohierf we have to fix this before releasing.

[2015-09-01 06:42] mohierf commented on #305
I do confirm! And yes we must fix before releasing ...

[2015-09-01 06:43] mohierf commented on #307
+1 for me

[2015-09-01 06:48] mohierf commented on #304
I just saw this issue and I will have a look at it today ... keep in touch!

[2015-09-01 08:09] b-keller commented on #306
Yes, it's working for me.

But some time I had a little display bug, when I have more than 1 graph widget, all graph is diplay in the same widget (service graph or host graph). And if I quit the dashboard and then return to it, all graph are show correctly...

 

[2015-09-01 08:10] mohierf opened #308 "Multiple worldmap widgets in the dashboard"
Nice feature that allows several worldmap widgets in the dashboard view ...

The widget parameters allow to select the number of hosts in the map and to filter the displayed hosts by name (regexp).

The new feature is that it is now possible to include multiple worldmap widgets in the WebUI dashboard.

![image](https://cloud.githubusercontent.com/assets/2932687/9599106/621e82ca-5091-11e5-9814-359e

[2015-09-01 08:20] mohierf commented on #306
Concerning this display bug, I will try to have a look at it as I did this morning for the worldmap widget (#308) ...

[2015-09-01 08:20] #306 closed

[2015-09-01 08:30] b-keller commented on #306
OK , thanks...

 

[2015-09-01 09:07] mohierf opened #309 "Worldmap widgets, sometimes map loading fails ..."
Noticed that after many dashboard, I sometimes got a javascript error :
[code]

This error occurs in the *main.js* file, line 70

Seems to be due to several parallel Google maps loading ...

[2015-09-01 09:09] mohierf commented on #306
Commit to come soon ...

![image](https://cloud.githubusercontent.com/assets/2932687/9600201/f289c6fa-5099-11e5-8d62-1f66f2d92618.png)

[2015-09-01 09:11] mohierf opened #310 "Graphite graphs size seems corrupted when proxying ..."
Please note the size of the graphs:

![image](https://cloud.githubusercontent.com/assets/2932687/9600216/0cc1493a-509a-11e5-9758-0523e2ca6a1c.png)

After reloading the page, graphs are smaller :
![image](https://cloud.githubusercontent.com/assets/2932687/9600227/23b65c8e-509a-11e5-99cf-c7aa96e3f251.png)

Probably a side effect of proxying graphs .... because the widget tries to adapt dynamcally th

[2015-09-01 10:25] maethor commented on #310
I don't understand the link with proxying graphs.

[2015-09-01 10:39] mohierf commented on #310
I never noticed this problem before you made this modification ... so I suppose it may be linked. Not sure about it, I am investigating what's happening ...

[2015-09-01 11:11] maethor commented on #310
I don't know how ui-graphite is working. Can you give me the url of the image?

Proxy was not the only modification. If I remember correctly, I also added some with to limit the size of the image in the plugins.

[2015-09-01 11:16] mohierf commented on #310
I found the problem! My bad ... you are clean @maethor ... sorry!

The graphs widget was faulty when resizing the images.

I just commited a fix.

[2015-09-01 11:16] #310 closed

[2015-09-01 11:18] mohierf commented on #308
Same for graphs widget thanks to https://github.com/shinken-monitoring/mod-webui/commit/9a878f53f5732f46b115013000e809c0fb75f166

![image](https://cloud.githubusercontent.com/assets/2932687/9602819/f9dd2f3e-50ab-11e5-9846-741db532948d.png)

[2015-09-01 11:19] mohierf commented on #306
@b-keller : you may have a look at: https://github.com/shinken-monitoring/mod-webui/commit/9a878f53f5732f46b115013000e809c0fb75f166

[2015-09-01 11:27] mohierf commented on #310
One of the most recent modification war to use encoded URL ... where as `width=` became `width%3D`. As of it, no more matches for the regexp `/(width=).*?(&)/`used to find/replace size :/P

[2015-09-01 12:27] mohierf commented on #304
@b-keller : as you may know, each installed pack may provide its own WebUI custom view for an element. The host template in the pack contains a `custom_views`property declaring which views are to be displayed byt the WebUI (eg. `custom_views                 +linux_ssh,linux_ssh_memory,linux_ssh_processes` for linux-ssh).

Unfortunately, the `linux-ssh` (or `linux-snmp`) packs do not provide any cu

[2015-09-01 17:07] mohierf opened #311 "Dependencies graphs: full features ..."
# Dependencies graphes features:

## Widget
Include a dependecy graph for an element in the dashboard. Parameter is an host/service name.

## Inner graph
Tab in the elemetn view with a dependency graph centered on the element (host or service).

## Independent graph
View a dependency graph for an element (host or service) and allow for looping among the nodes !

Use the url: `http://shinken:7767/d

[2015-09-01 17:08] mohierf commented on #311
Thanks to commit: https://github.com/shinken-monitoring/mod-webui/commit/693b30d783aecf37c9d30971c53f914aa5c2efc6

[2015-09-01 17:20] mohierf commented on #293
@hvad : some news about it ? I and @maethor are really interested in your feedback to make sure that our new version is fully ok with Shinken 2.4.1 ...

[2015-09-01 17:21] mohierf commented on #284
@Simage : any news about this issue ?

[2015-09-01 17:21] #257 closed

[2015-09-01 17:22] mohierf commented on #272
Recent commit (https://github.com/shinken-monitoring/mod-webui/commit/693b30d783aecf37c9d30971c53f914aa5c2efc6) makes it more clean ... but some texts are still overlapping :/P

No real solution for this ...

[2015-09-01 17:22] #272 closed

[2015-09-01 17:23] mohierf commented on #252
Implemented

[2015-09-01 17:23] #252 closed

[2015-09-01 17:24] mohierf commented on #308
Ok, but probably still some small bugs ... see #309

[2015-09-01 17:24] #308 closed

[2015-09-01 17:30] #303 closed

[2015-09-01 17:34] #302 closed

[2015-09-01 17:49] mohierf commented on #208
Same as #302 ... duplicate!

[2015-09-01 17:49] #208 closed

[2015-09-01 17:51] mohierf commented on #285
Related to #274

[2015-09-01 17:51] mohierf commented on #274
Closing ... going on #285

[2015-09-01 17:51] #274 closed

[2015-09-01 17:58] #263 closed

[2015-09-01 17:59] mohierf commented on #236
Implemented

[2015-09-01 17:59] #236 closed

[2015-09-01 19:17] b-keller commented on #304
I retest just now, and I don't have the problem anymore... cache problem ?

now I see the message ```Sorry, I cannot load the linux/default view!``` 1 second and the default view is loading.

This is the js trace
[code]

[2015-09-01 21:20] Simage commented on #284
I have a solution thats working for us internally at this time, not
quite certain how safe it is to integrate into mainline tho...

On 01/09/15 11:21 AM, Frédéric MOHIER wrote:

[2015-09-02 04:18] mohierf commented on #284
So I close

[2015-09-02 04:18] #284 closed

[2015-09-02 04:20] mohierf commented on #304
Ok. So everything is ok. Certainly a browser cache problem ...

[2015-09-02 04:20] #304 closed

[2015-09-02 04:21] #253 closed

[2015-09-02 07:16] mohierf opened #312 "Improve services tab in element view"
It should be interesting to enrich the information in the *Services* tab of an host view:
![image](https://cloud.githubusercontent.com/assets/2932687/9625073/24f0ce18-5153-11e5-882d-a68170c3180e.png)

For instance, adding information about the last check of each service

[2015-09-02 08:12] maethor commented on #312
Keep it simple. If you want information, go to the problems view, or to the eltview of the service.

[2015-09-02 10:40] maethor commented on #305
I fix the modal problem. But Manage Bookmarks is still empty. This is a completely different but, and I don't know how to debug this. I think at some point we have accidently remove the code which populates the `bookmarks` and `bookmarksro` divs.

@mohierf do you have some time to take a look?

[2015-09-02 10:47] mohierf commented on #305
I will have a look today ...

[2015-09-02 11:24] rom1701 opened #313 "color metrics values"
If a check give a lot of metric, and for each metric, i give min and max and warning value, it's possible, in the metrics view, to color only the metric if is not in the good rang? because, if the check return just warning, all metrics is on orange. i think is more simple to see why the check return a warning or critical alert.

[2015-09-02 11:34] mohierf commented on #313
Nice idea :+1:

[2015-09-02 11:57] rom1701 opened #314 "auth-htpasswd"
I have with my apache configuration, in my root I have AuthType Basic, when I want to connect to shinken, i need enter my login and password for my apache authentification and for shinken. it's possible to shinken use the apache authentification to access?

[2015-09-02 12:19] maethor commented on #313
@mohierf do you think this is possible?

[2015-09-02 12:21] maethor commented on #314
Yes. You can use the auth-htpasswd module as documented here: https://github.com/shinken-monitoring/mod-webui/wiki/Installing-WebUI-authentication-modules

[2015-09-02 12:34] rom1701 commented on #314
Thank but if I use auth-htpasswd module, I need authenticate me in the shinken page. But if I have before a authentification with my apache serveur, is not possible to skip the shinken authentification? I don't know if it's possible, or it's already available with this module.

[2015-09-02 12:40] mohierf commented on #314
You may have a look in the *modules/webui.cfg* file ... especially this section where you should uncomment `remote_user_variable`and one of the `remote_user_enable`:
[code]

I never used this feature for the WebUI but I suppose it will allow to bypass WebUI login process if you already authenticated an user and that his username is provided to the Shinken Web UI server.

[2015-09-02 12:43] mohierf commented on #314
I just commited a `login.py`modification that adds some more logs if remote user authentication is used and logins failed. See https://github.com/shinken-monitoring/mod-webui/commit/0aae8e63f8eda53c9c0948312421a4fe2bdb9507

[2015-09-02 12:54] mohierf commented on #313
@maethor : quite easy ... I will have a look ;-)

[2015-09-02 14:09] rom1701 commented on #314
OK thank, i need to investigate, because in apache HTTP header, I dont see the X_Remote_User. After, I dont know if it's normal but, if i uncomment the remote_user_enable and remote_user_variable, i dont see in the log the warning  remote user enabled but no user or other error. maybe if shinken dont see the X_Remote_User don't try to login. i dont know.

[2015-09-02 14:35] rom1701 opened #315 "Impact graph"
if you have a lot servers, and for example, all server depend of 1 machine, the impact graph is very big, you can not read any information and the browser (like firefox) become slow, and occasionally, can crash. it's possible to limit that?

[2015-09-02 15:30] mohierf commented on #313
I did not made any modification in current version and I got this:
![image](https://cloud.githubusercontent.com/assets/2932687/9634762/7c695b3e-5193-11e5-9d68-a0e860560a9c.png)

Looking at the source code made me improve this feature (commit to come soon):
![image](https://cloud.githubusercontent.com/assets/2932687/9635787/4f815680-5198-11e5-9fad-255bd2160bc6.png)

- limit text length in the progr

[2015-09-02 15:38] maethor commented on #313
When I developed this part, I remember having try this… but I can't remember why I didn't choose this option.

It's really nice. Thanks.

[2015-09-02 15:52] mohierf commented on #313
I found and fixed several small bugs ... that made having always green state and 100% :/P