[2016-05-24 17:31] alexstaz commented on #504
Hello,

Found that the is_problem is managed by the shinken core.
I use retention-mongodb for keeping informations across restart and I think the problem is here.
An idea ?

Thanks.

[2016-05-24 18:23] mohierf commented on #503
Hum ... it is not that much easy but not too complicated.

The widgets are parts of the dashboard page which includes WebUI files and page specific javascript and Css files used by the widgets ...

The Impacts widget do not have any specific javascript or Css and uses only the *standard* widgets files: `js/jquery-ui-1.11.4.min.js`, `dashboard/js/widgets.js`, `dashboard/js/jquery.easywidgets.js'`.

[2016-05-24 18:26] mohierf commented on #504
I confirm ... the WebUI simply displays the host / service states are they are known by Shinken core. You should have a look at my own Mongo retention module: https://github.com/mohierf/mod-retention-mongodb ... I am using this fork on my own server since several months without any problems :wink:

[2016-05-24 18:26] #504 closed

[2016-05-25 12:38] Azef1 commented on #503
Thx, i will follow your advice.
I inform you of my progress:

I created a quick HTML page:
[code]

But in my console, i have some errors about javascript (jQuery is not defined, widgets is not defined,....).

I continuous my research.

[2016-05-25 13:08] mohierf commented on #503
You should also include almost all of the javascript files included in the main Web UI page ... at least jQuery is needed.

[2016-05-30 10:02] Azef1 opened #506 "[Bug] Servigroups hierarchy doesn't works"
Hi,

I noticed the servicegroups hierarchy doesn't works:
I using WebUI 2.4.1 and i edited this file `/usr/lib/python2.7/site-packages/shinken/objects/servicegroup.py` to add  'servicegroup_members': StringProp(fill_brok=['full_status']), between `servicegroup_name` and `alias`.

I haven't this icon in front of the servicegroup's name
![iconnn](https://cloud.githubusercontent.com/assets/15362041/1

[2016-06-06 05:43] HenriWahl commented on #414
Nagstamon started with website parsing but meanwhile every supported monitor delivers its data in a more useful format like JSON/XML/whatever. So you can easily export your data into Nagstamon without any Web UI.

[2016-06-07 14:49] maethor commented on #414
@HenriWahl do you have a link to a documentation about this?

[2016-06-07 16:37] HenriWahl commented on #414
https://github.com/HenriWahl/Nagstamon/tree/master/Nagstamon/Servers - if you look closer only Nagios web pages still are parsed, the others provide useful data.

[2016-06-08 05:58] maethor commented on #414
Source code is not what I call a documentation. Sorry but I don't have time and motivation to read and understand this.

[2016-06-08 06:10] mohierf commented on #414
I agree with @maethor ... I already had a look at this source code and it is not that easy to understand what may be implemented on the server side to build a NagStaMon server plugin :confused:

@HenriWahl : do you have some few doc that would help to define what must be done for login/logout and getting states ? With such a doc it will be quite easy to set up a kind of REST interface in the Shink

[2016-06-08 08:40] HenriWahl commented on #414
@maethor @mohierf I am sorry, this is all available documentation.

As every monitoring solution treats things pretty differently than others they are all very flexible - and different. The GUI part of Nagstamon expects from a server object (derived from GenericServer, which is basically a Nagios server as template) some dictionaries full of information about host/service states - how it retrieved

[2016-06-08 09:10] mohierf commented on #414
@HenriWahl: Ok.

You are right:
- the Shinken livestatus module does not fit at all for such an interface
- it may be possible to write a module for Shinken, but we would adapt the current WebUI rather than rewriting a module

The best solution is to modify the WebUI to create some kind of REST API that would be used by one of your Server plugin. But, currently, it is mainly a matter of time ...

[2016-06-08 09:46] HenriWahl commented on #414
Yes, if there is already a WebUI with authentication it seems the most useful way to extend it to provide its data in your favorite format.

[2016-06-09 17:55] Azef1 commented on #503
Hi
I used an other strategy: I use a LiveStatus query and show the result in webpage.
I embed this page in NagVis.
The URL method http://myShinken:7767/widget/impacts isn't good solution because i need an authentificate to acces this page and in Nagvis it's boring to authentificate to Shinken only for an iframe.

In other message, you talk about `REST API for WebUI`, Is it to replace Livestatus ?

[2016-06-10 06:56] mohierf commented on #503
A REST API for the WebUI is an interesting feature, as it will allow, for your concern, to replace a Livestatus request, yes.

As you found out a solution, I close this issue.

[2016-06-10 06:56] #503 closed

[2016-06-12 19:01] pihomecloud opened #507 "Hard to follow the updates"
Hi,

I thought that the relases on github were following the relaese on http://shinken.io/package/webui2 but it's not the case.
The latest release is 2.3.2 but i see 2.4.1 on the official site.
What is the method to get the latest stable release from github ?

[2016-06-13 03:51] mohierf commented on #507
The lastest release I published on shinken.in is 2.3.2. The 2.4.1 release is the one that is currently in the develop branch of this repo. This 2.4.1 release is still in tests ...

[2016-06-13 03:51] #507 closed

[2016-06-14 14:13] ryanbsaunders opened #508 "[Bug] Adding a service downtime results in 'generic modal' message."
Our Shinken architecture consists of multiple realms.  When scheduling a downtime for a service which belongs to a host in the 'All' realm, we receive a "Generic modal" box, but no option to add a downtime.  The same occurs when trying to remove a downtime on that host.

To reproduce:

- From a host's page, click the 'Services' tab.
- Click on one of the services.
- Click the 'Downtimes' tab for t

[2016-06-14 14:29] mohierf commented on #508
Thanks for reporting. I will try to reproduce, but I still can request a few more information from you:
 - do you have any log in  your browser console? If so, should you copy them here.
- I am also interested by your `brokerd.log` ...

 Thanks

[2016-06-14 16:52] ryanbsaunders commented on #508
I've tracked this down to having services with forward slashes as part of the name.

Example:  _hostname/service-check-name_

We've prefixed many of our service names with forward slashes as part of the way our automation works.  I've updated these service names to use hyphens instead of forward slashes to mitigate the issue.

I'm going to close this issue since having forward slashes in service n

[2016-06-14 16:52] #508 closed

[2016-06-14 17:46] mohierf commented on #508
Glad to see you fixed this ...

[2016-06-15 15:12] Azef1 opened #509 "[Feature Request] Have different style between output and long output"
Hi,

I noticed a strange behaviour may be misleading for users:
In this page http://MyShinken:7767/all?search=type:service the output column showing the `output ` and just after the `long output`. So when outputs are same, the user cannot difference between outputs.

<h6>Example:</h6>
Here Output column not extended and showing `output `
![output3](https://cloud.githubusercontent.com/assets/153620

[2016-06-15 16:53] mohierf commented on #509
Hi,
what seems strange to me is that your output and long_output are the same ... normally, thos fields are different. Can you tell me more about your check plugin ?

[2016-06-16 08:45] Azef1 commented on #509
Hi,
For traditionnal checks eg: tcp_check i haven't long_output generated.
When check_command is bp_rule!(...), in webui the output=long_output.
So the problem is only on bp_rule check:
![captureoputput](https://cloud.githubusercontent.com/assets/15362041/16110335/84ca2a2c-33ad-11e6-92c6-ca74ec52a4c0.PNG)
In source code:
![longoutput](https://cloud.githubusercontent.com/assets/15362041/16110390/c3

[2016-06-16 12:37] mohierf commented on #509
I do confirm that it is a problem of Shinken. You should open an issue in the Shinken project ... I close this one

[2016-06-16 12:37] #509 closed

[2016-06-16 15:34] Azef1 opened #510 "[Improvement] Add Web Notifications API in WebUI"
Hi,
It's a suggestion :
When the state of a service/host change, generate a notification with Web Notifications API from W3C.
This new API allow to alert the user outside of a web page by displaying notifications (that do not require interaction by the user). Some browsers are compatibles with this API [see](http://caniuse.com/#feat=notifications). Demo [here](https://davidwalsh.name/demo/notifica

[2016-06-16 16:10] mohierf commented on #510
Nice idea !

[2016-06-18 20:08] xila76 opened #511 "[Bug] Error 500 on Minemap (webui2/debian jessie)"
Fresh install from scratch/no update on debian jessie 8.5 amd64
Conf files (for hosts/services/checks/commands/...) are exported from an old nagios install...

Each times i go on http://shinken.###.###:7767/minemap i get this error (for me this page has never worked from initial setup):

[code]

[2016-06-20 20:38] david-guenault commented on #511
same here with version 2.2 of webui on shinken 2.4 on centos 7

[2016-06-22 13:02] hvad opened #512 "Is_admin"
Hi,

To use commands like downtime your contact need to have is_admin=1 with in version 2.4.1.

Best regard

[2016-06-22 13:09] hvad commented on #512
Hi,

Webui 2 confguration issue... it's not a bug and sorry for the noisee

# Manage contacts ACL
# 0 allows actions for all contacts
# 1 allows actions only for contacts whose property 'is_admin' equals to 1
# Default is 1
 #manage_acl                 1

[2016-06-22 13:09] #512 closed

[2016-06-23 10:22] Azef1 opened #513 "[Bug] Bad link to show hosts UP on hostgroups"
Hi,

On hosts groups page, if you click on the button to show all hosts UP of hostgroup the page show "We couldn't find anything."
Because the link contain too quotes.

Example:
![hhhhhhhhhhhhhhhh](https://cloud.githubusercontent.com/assets/15362041/16299808/7995d270-393c-11e6-882c-e7ebb240bfaa.PNG)

The title link is:  `http://myShinken:7767/all?search=type:host hg:"mysql"`
The UP link is:   `htt

[2016-06-23 10:39] Azef1 opened #514 "[Bug] Widget notification toggle switch button broken."
Hi,

I doesn't know why, but the widget show a button broken. The soluce it's to refresh page until to have a good button.

![aaaaaaaaaaaaaaaaaaadd](https://cloud.githubusercontent.com/assets/15362041/16300252/3b188c88-393f-11e6-9174-7098d3665c7d.PNG)
![bbbb](https://cloud.githubusercontent.com/assets/15362041/16300268/53878c1a-393f-11e6-8053-44f973775797.PNG)
Good:
![aaaaaaaadddees](https://cloud

[2016-06-23 11:56] mohierf commented on #513
Thanks for reporting

[2016-06-23 11:57] mohierf commented on #511
Can you provide a list of your host names please ? I suspect something around specific characters in the host name ...

[2016-06-23 11:59] mohierf commented on #514
I will try to reproduce the problem to fix it ...

[2016-06-24 06:32] xila76 commented on #511
mail send on your gmail address (found on ur github page) the email come from "toutainj" with object "shinken webui issue 511" and the list of hosts is in this email

For others : my host_name list contains some "." or some "-" anyone has already got any issue with these characters ?

[2016-06-24 08:27] mohierf commented on #511
I got your list. Is it possible to try without any special characters in the host names ?

[2016-06-24 12:46] xila76 commented on #511
I just tried to turn all spaces, dots, dashes of "host_name"
still the same error ...
host_name new list sent by email

some others informations that would be usefull for debuging

[code]

[code]

[code]

[code]

[code]

[2016-06-24 13:14] xila76 commented on #511
I found the problem!!! it was a service_description named "NSClient ++ version!"
This post really helped me to put me on the track: http://stackoverflow.com/questions/19942314/python-multiple-repeat-error

I close this issue but maybe add info somewhere in the wiki or the installation notes or other than "++" is not recommended in services_description

[2016-06-24 13:14] #511 closed

[2016-06-24 17:00] mohierf commented on #511
Thanks for having searched and reported !

[2016-07-01 11:52] strom18 commented on #514
Same for me :
![image](https://cloud.githubusercontent.com/assets/2601967/16520816/fe35024c-3f92-11e6-98dd-9b3d2c574ce2.png)

Couple refresh solve the issue

[2016-07-04 21:30] Hinnack opened #515 "view port missing"
the following line is missing in the html header:
[code]
so I get no responsive view on mobile devices

[2016-07-05 07:17] maethor opened #516 "Share alerts with…"
This is just an idea, I don't know if I want to implement it, but I would like your input on it.

I think it could be very useful to have a « share » button along with downtime, ack, recheck, etc. To be generic, this functionality could be developed with plugins. Right know, I think I could use an email plugin to notify external users (like clients) and a Trello plugin to send an issue in Trello (

[2016-07-05 07:50] mohierf commented on #516
Nice idea! I made a test with the Glpi ticketing system and you will find the source code  in the ticket plugin ... currently I do not have time to build a new version for the WebUI, but if you have some ;)

[2016-07-05 14:47] Hinnack opened #517 "main menu on mobiles does not work"
on mobiles the menu is hidden. pressing the menu button does nothing (even no js error)

[2016-07-05 16:20] mohierf commented on #517
Thanks for reporting. I never noticed this ...

[2016-07-05 16:37] mohierf commented on #517
Anyway, the web interface is responsive but not really suitable for mobile devices ... except for tablets with a quite high resolution :/P

[2016-07-05 16:42] mohierf commented on #514
What I noticed is that, sometimes, the javascript file associated with the plugin is not loaded correctly by the WebUI on a refresh ... do not known yet why this occurs!

[2016-07-05 17:25] mohierf commented on #501
No news. Closing

[2016-07-05 17:25] #501 closed

[2016-07-05 17:25] mohierf commented on #497
Any news about this @Azef1 ?

[2016-07-05 17:27] mohierf commented on #495
Still present ?

[2016-07-05 19:53] UweSauter commented on #369
Hi.
I'm also interested in running webui2 in a sub folder behind Nginx. The problem I have is that this Nginx instance is already running as a rev proxy for an OpenStack Horizon dashboard. It already has a location rule for /dashboard and I cannot follow the config instructions in https://github.com/shinken-monitoring/mod-webui/wiki/Frontend-Web-server#nginx-http-configuration-relocate-in-sub-fold

[2016-07-06 06:26] #514 closed

[2016-07-06 06:26] #515 closed

[2016-07-06 06:26] #517 closed

[2016-07-06 06:26] #513 closed

[2016-07-06 08:36] Azef1 commented on #495
Yes it's still present. I will try to give you more technicals information to find the bug.

[2016-07-06 09:00] Azef1 commented on #497
I confirm the problem is present only with **non admin** user.
The message error generated by the error 500 is `AttributeError("'User' object has no attribute 'name'",)` but i check my contact and i have an attribute name:

--> I will try to reproduce the problem with other conf

[2016-07-06 09:46] Azef1 commented on #506
Have you same problem with Servigroups hierarchy ?

I would to thank you for your work and to bring the project alive.

[2016-07-06 11:59] Azef1 commented on #497
I test with same contact config on two different WebUI version:
On WebUI 2.2.1: no problem
On WebUI 2.4.1: **Problem**

**My contact conf is:**

**My contactgroup conf is:**

**My template contact conf is:**

[2016-07-11 08:36] mohierf opened #520 "Data visualization depending upon user rights"
When the connected user is not an administrator (`is_admin` True), all the data are not always displayed. Sometimes (on certain configurations ...), an 404 or 500 error is raised !

[2016-07-11 10:37] Azef1 commented on #495
Hi,
The problem is little bit different: Now the problem is: AttributeError("'Contact' object has no attribute 'get_groupnames'",)
![aerror500](https://cloud.githubusercontent.com/assets/15362041/16727987/1b9858ba-4764-11e6-8890-837cd09c104a.png)

Before: User object has no attribute 'get_groupnames
Now: Contact object has no attribute 'get_groupnames

[2016-07-11 19:14] UweSauter opened #521 "Installation on fresh Shinken setup fails due to missing directory"
This is on an up-to-date CentOS 7.2 with Shinken installed from EPEL.

When I try to install WebUI2 from shell the installation fails with the following output:

[root@shinken ~]# shinken install webui2
Grabbing : webui2
[1468264211] ERROR: [Shinken] The installation directory /var/lib/shinken/doc is missing!

Is this an issue with packaging for CentOS or can this addressed by the install routine?

[2016-07-11 19:19] mohierf commented on #521
This is an issue of the Shinken packaging ... the `shinken install` script tries to copy the WebUI _doc_ directory into the Shinken main _doc_ directory ... anyway it is not an issue of the WebUI.

The _/var/lib/shinken/doc_ is created during the Shinken installation process...

[2016-07-11 19:19] #521 closed, assigned to nobody

[2016-07-11 19:21] #520 closed, assigned to nobody

[2016-07-11 19:46] UweSauter commented on #521
I'll open a bug in Red Hats bugzilla.

[2016-07-12 05:48] mohierf commented on #506
I have Shinken 2.4.3 and WebUI 2.4.2.

I did not noticed any problem with this configuration:

[code]

![image](https://cloud.githubusercontent.com/assets/2932687/16756342/bcb98ee4-4804-11e6-8570-563b0abd799d.png)

Check your groups configuration and copy it if the problem persists.

[2016-07-12 05:49] mohierf commented on #497
Problem fixed with most recent version 2.4.2

[2016-07-12 05:49] #497 closed

[2016-07-12 05:50] mohierf commented on #495
Problem should be fixed on most recent version 2.4.2

[2016-07-12 05:50] #495 closed

[2016-07-12 05:52] mohierf commented on #366
Thanks to @RoPP this feature is now availabe in the WebUI

[2016-07-12 05:52] #366 closed

[2016-07-12 05:54] mohierf commented on #243
Abandoned

[2016-07-12 05:54] #243 closed

[2016-07-12 05:54] mohierf commented on #309
No more problem with most recent version 2.4.2

[2016-07-12 05:54] #309 closed

[2016-07-12 08:35] maethor opened #525 "Master branch is old and doesn't work"
Hi,

@mohierf the master branch is quite old and doesn't work. I this develop should be merge in master before every tagged release.

[2016-07-12 08:39] mohierf commented on #525
You are right ... I intend to merge the develop into the master branch.

[2016-07-12 08:49] maethor opened #526 "New action menu"
Hi,

I really don't like the new actions menu in the problems view. I may have missed the discussion, but what motivates it? I don't see the point of forcing the user to open the menu. When we select a service, actions should displayed and available in one click.

Moreover, I think there is a display bug when the actions button is not displayed. The footer should not be that high.

Finally, this i

[2016-07-12 09:21] Azef1 commented on #506
Thank you for you answer. My bad i did one error (i wrote `define servicegroups { ... }`  instead of `define servicegroup { ... }`.

But i have a other problem the child group is empty.
I created a test conf:

[code]

![aaaemptycapture](https://cloud.githubusercontent.com/assets/15362041/16761913/9a55f018-4822-11e6-87fe-64318ee8da97.PNG)

I will recheck my conf

[2016-07-12 09:46] mohierf commented on #526
This modification improves the display on mobile devices that was not rendered correctly before.

I agree that it should not be necessary to open the menu ... it may be opened as default and its position should be some pixels lower on the screen.

[2016-07-12 10:00] maethor commented on #526
Hum. I think I still had some cache that missed up the rendering. Now it's better, the footer is not ugly anymore.

But I think the menu should be open. Maybe a [list group](http://getbootstrap.com/components/#list-group-linked) could do it ?

For simplicity, the menu and the select boxes could be hidden on mobile, because we can always find this action when we unfold a service.

[2016-07-12 10:56] mohierf commented on #526
+1 for the cache ;)

Is is easy to have the dropup menu automatically opened ... I will commit a small patch for this

[2016-07-14 14:27] jesseorr opened #527 "Chrome Column Rendering"
The data laid out in the chrome browser overlaps Output, Duration, and State data, even when on a wide-screen layout. The layout appears to function fine in Firefox and Edge. This started happening when I upgraded WebUI from 2.2.1 to 2.4.2c via shinken.io.

Chrome Version 51.0.2704.103 m (64-bit)
Firefox 47.0
Edge 25.10586.0.0

![chrome-wide](https://cloud.githubusercontent.com/assets/5696766/1684

[2016-07-15 07:23] b-keller commented on #527
Hi,

I had the same problem with Firefox ESR 45.2.0 :

![capture1](https://cloud.githubusercontent.com/assets/12746104/16865984/39b17568-4a69-11e6-9983-0bd90ef1b0e4.PNG)

and no problem with Chromium 51.0.2704.106...

Today, the problem is gone in firefox ESR after  i 've resized firefox windows from maximized size to windows size... (cache problem ?)

[2016-07-15 09:06] mohierf commented on #527
Ok, so there is no more problem, or is there still a problem with a particular browser ? It is not clear to me ... :wink:

[2016-07-18 08:31] b-keller opened #528 "[2.4.2c] and firefox"
Hi,

I find two problems with firefox ESR 45.2.0 :
- There 's a bug with "worldmap" and "worldmap widget" in Firefox
  ![capture2](https://cloud.githubusercontent.com/assets/12746104/16909097/87c61fc4-4cd0-11e6-81a1-7719948ebcbb.PNG)
- When I scroll down on the minemap view, there's a little problem with the top menu...
  ![capture3](https://cloud.githubusercontent.com/assets/12746104/16909267/e22

[2016-07-18 15:41] jesseorr commented on #527
The issue persists, I am unable to 'fix' the problem after resizing windows in Chrome Version 51.0.2704.106 m (64-bit).

[2016-07-25 15:49] furiml opened #529 "Currently view return error 500"
Hi everyone,
I'm getting an internal server error when I try to switch to the "currently" view. Here's the traceback :

[code]

Looking at previous topics, I first though this was in the shinken/misc/datamanager.py file, because atm I don't have any service declared. But looking at the traceback it seems it comes from the currently.tpl file and I must say I have no idea what kind of file this is !

[2016-07-25 16:05] mohierf commented on #529
This error occurs because you did not defined any service ... as of it `s['nb_elts']` (which contains the number of services...) is 0! This should be catched to avoid such an error ... but a configuration with no services is not common... I would say that it should not even exists :wink:

**fyi**: tpl files are html templates that contain some python code to build HTML pages :wink:

[2016-07-27 14:23] EliottGoye opened #530 "currently page never flush memory"
I was using the currently page on a raspberry pi to always have an eye on our infra. But the web browser was crashing frequently, once or twice a day.

I realised it was that particular page that was using more and more RAM.

I think no one noticed this before maybe because they didn't have 1Go of RAM.

Hope you could fix it soon, I really like that page.

[2016-07-27 15:44] b-keller commented on #528
Today,

The first bug is gone... no change on shinken server or Firefox but the map loads normally.("worldmap" and "worldmap widget")

[2016-07-27 16:32] mohierf commented on #530
Thanks for reporting.

I already noticed this problem on this specific view but I did not yet had time to deal with ... and I will not have some more time in the next weeks. I will try to have a look if I can find a quick fix that may help :wink:

[2016-07-27 16:34] mohierf commented on #528
Perharps something with the server or client cache ...

[2016-07-28 15:35] b-keller commented on #528
Hi,

the second also...
Yesterday I have not tested the "minemap view", and now it's ok....
finally, there is only the action button...

[2016-07-28 17:15] mohierf commented on #528
For the action menu, you should try this patch: https://github.com/mohierf/mod-webui/commit/af8b91d5fa554550d7ba3864a2b60711c63271f1

[2016-08-09 13:50] claneys opened #532 "External Command issues"
Hi,

I'm not sure that it is webui that in fault, but I got some problems using webui2 to use actions like recheck or submit a manual result.

I got log message that indicate me that action have been submitted but scheduler doesn't have them like there is a communication issue passing the command between shinken components.

[code]

What can I do ? I search what is the next component called by `se

[2016-08-09 16:20] mohierf commented on #532
I am quite sure it is not a WebuI problem ...

When the command is posted to the scheduler queue, it should get the command from its queue. You should confirm this with Debug logs on the scheduler daemon ... and even on the arbiter daemon.

You should also activate the external commands log in the shinken.cfg file.

On my configuration the commands sent by the WebUI are executed.

[2016-08-09 16:20] #532 closed, assigned to nobody

[2016-08-10 06:34] claneys commented on #532
It isn't a webui problem. But debug logs on the scheduler daemon didn't show these commands come up into its queue. I see the commands leave the broker but I can't figure out where it goes then.

I'll continue working on it. Thanks.

[2016-08-16 16:09] hvad opened #533 "Internal Server Error"
Bonjour,

Lorsque qu'aucun hote n'existe cliquer sur currently provoque l'erreur ci dessous :

Exception:
ZeroDivisionError('float division by zero',)

Traceback:
Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/bottle.py", line 862, in _handle
    return route.call(**args)
  File "/usr/lib/python2.7/site-packages/bottle.py", line 1732, in wrapper
    rv = callback(_a, *

[2016-08-16 20:34] mohierf commented on #533
Seems to be the same as #529. When no hosts exist in Shinken, this error is raised ... but no hosts ? Is it really a good use case for a monitoring system ? :wink:

[2016-08-16 20:37] hvad commented on #533
Hi,
I think it's same as #529. It's not a use case but can arrived.  And i think divided by zero is not good thing :p.

[2016-08-17 05:45] mohierf commented on #533
You are right @hvad. I kept the issues opened to make a fix in a next version for this ...

[2016-08-18 15:51] kp01aj commented on #529
Hi,

I had the same problem.

I solved as follows:

Comment out the validation in the file

`/var/lib/shinken/modules/webui2/plugins/dashboard/views/currently.tpl
`

**On line 626**

`% Pct_known_problems = round (100.0 * known_problems / s [ 'nb_elts'], 2)
`
**Was as follows:**

`<-!% Pct_known_problems = round (100.0 * known_problems / s [ 'nb_elts'], 2) ->`

Temporary solution until a new versi

[2016-08-18 15:51] kp01aj commented on #533
Hi,

I had the same problem.

I solved as follows:

Comment out the validation in the file

/var/lib/shinken/modules/webui2/plugins/dashboard/views/currently.tpl

On line 626

% Pct_known_problems = round (100.0 \* known_problems / s [ 'nb_elts'], 2)
Was as follows:

<-!% Pct_known_problems = round (100.0 \* known_problems / s [ 'nb_elts'], 2) ->

Temporary solution until a new version.

[2016-08-24 17:44] efficks opened #534 "Filter the currently dashboard"
It would be really usefull for my team to be able to filter the currently dashboard.
Be able to select host and service groups.

[2016-08-24 18:12] mohierf commented on #534
Filter the currently dashboard ... you mean being able to select which panel should be displayed, right?

[2016-08-24 18:17] efficks commented on #534
@mohierf No I mean be able to add this the the URL ::

`?search=hg%3AsomeHostGroup`

It would need modification to currently.tpl in the call to get_synthesis to add the search string.

[2016-08-24 18:19] mohierf commented on #534
Ok, understood. Not sure this will be very easy to deal with ... I will have a look to this feature for a next version.

[2016-08-24 19:01] efficks commented on #534
@mohierf I've made a pull request. Fell free to merge it or not.

[2016-08-25 04:27] mohierf commented on #534
Nice shot! It has been a long time since I had a look in this code ... I did not expected as easy as you did :wink:

I will merge your PR for the next version

[2016-08-30 09:47] claneys commented on #116
I'm so late, sorry about the delay !

In fact, yes this feature exists and I use it now, it is almost perfect. it miss only filtering on service.
How can I view only services which I'm the contacts or in the contact_groups service's directive ?

[2016-08-30 20:04] mohierf commented on #116
Indeed, you should already only see the services that you are a contact of ... do you have an example that does not comply with it?

As far as I remember, it is possible that Shinken associates an host contact to all the host services, even if the contact is not attached to the service in the configuration files.

[2016-08-31 08:06] Azef1 opened #537 "Downtime: error Broken pipe"
Hi,

With the latest version of WebUI, i have a problem when i schedule a downtime from all services view.
I have a 404 not found on http://myshinken:7767/forms/downtime/add/myhost/myservice with a empty popu
![capture1](https://cloud.githubusercontent.com/assets/15362041/18120976/9d16dd8c-6f62-11e6-893e-0d2723191dd2.PNG)

In my brokerd.log, i see :

Thx

[2016-08-31 09:04] mohierf commented on #537
I do not think that the broken pipe error is because of the WebUI ... this error is raised when the external command can not be sent to the scheduler :(

Can you confirm that you do not have the problem with the previous version of WebUI with the same configuration?

[2016-09-01 09:15] Azef1 commented on #537
So, with same configuration:
With WebUI 2.3.2 --> No problem
With WebUI 2.4.2.c --> Schedule a downtime **from hosts or service**, works but Schedule a downtime **from http://myshinken:7767/all?search=type:service** not works i have a 404 not found with "Generic modal" empty.

[2016-09-01 09:54] mohierf commented on #537
Ok. Thanks for reporting. I will have a look to this ...

[2016-09-02 09:29] hvad opened #538 "chart don't appear"
Hi,

In curently page  chart don't appear in fresh install. See below.

![capture d ecran 2016-09-01 a 18 30 48](https://cloud.githubusercontent.com/assets/797536/18199344/2e9003bc-7100-11e6-8709-f764e649a4b1.png)

Webui2 version 2.4.2c

Best regard

[2016-09-02 09:30] hvad commented on #538
And i have "currently:1 Uncaught SyntaxError: Unexpected end of JSON input" in debug console.

[2016-09-02 17:34] ceso opened #539 "I can't login thourgh auth-active-directory and even there's no error"
Hi, first of all, english is a foreign language for me, so sorry if something is strange.

Well i'm trying to set login in shinken against ldap (freeipa), the server where shinken is running is already enrolled to it. I have installed and configured auth-active-directory and webui2, but when I try to authenticate against ldap with a valid user, I can't and even theres no log errors.
While i was se

[2016-09-04 08:27] Azef1 commented on #539
Hi,
Have you a contact defined in /etc/shinken/contact/contact.cfg without password with name : "llemos"?
In your brokerd.log, i saw:

I advise to read this doc: https://github.com/shinken-monitoring/mod-webui/wiki/Installing-WebUI-authentication-modules#active-directory--openldap---auth-active-directory

Problem solved ?

[2016-09-05 13:45] ceso commented on #539
Hi,

First of all, I just ignore that line, because, why I'd need define the contact two times? The benefit of LDAP is I could have my users centralized, if I define the users in contacts.cfg and and again define them but in .cfgs, is the same thing that use httpasswd o.O, tl;dr I loss the benefit of use LDAP :| .
And even if you read some of the lines:

[1472834288] INFO: [broker-master] Correctl

[2016-09-06 12:33] #539 closed, assigned to nobody

[2016-09-07 10:20] Azef1 commented on #537
With Firebug i noticed a problem:
My services name contains space (eg; MySQL - TCP)
When i schedule a downtime, URL is `http://myShinken:7767/forms/downtime/add/myhost/MySQL`

I think the URL should be `http://myShinken:7767/forms/downtime/add/myhost/MySQL - TCP`

[2016-09-07 11:14] mohierf commented on #537
Ok. But I think the URL should be: `http://myShinken:7767/forms/downtime/add/myhost/MySQL%20-%20TCP` ...

You should try to modify the file `htdocs/shinken-actions.js` on line 440 with:

[code]

Please confirm that it is ok with this modification ... I cannot make the test currently :wink:

[2016-09-07 12:45] Azef1 commented on #537
I did your modification and it isn't solved. I continue to find this bug...

[2016-09-07 13:03] mohierf commented on #537
Ok. My bad ... I did not proposed the right modification ... sorry.

Replace line 194 of `footer_element.tpl` with:

[code]

[2016-09-08 12:01] Azef1 commented on #537
Not exactly:
Now URL generated: `http://myShinken:7767/forms/downtime/add/myHost%2FMySQL%20-%20TCP`
The problem is %2F, because if i replace %2F by / in my browser, the query works

[2016-09-08 13:14] mohierf commented on #537
Ok, it is a little bit more complicated than I thought ... you should try to replace line 194 with:

[code]

[2016-09-08 19:02] ceso opened #540 "Error 500 on contact groups"
Hi, frist of all english is a foreign language so, sorry if something is strange.

I got this issue too:

https://github.com/shinken-monitoring/mod-webui/issues/495

But the version of shinken I have is 2.4.3, in the comments mohierf says that this should be fixed in 2.4.2, but the issue is still there.

**_Exception:**_
`AttributeError("'Contact' object has no attribute 'get_groupnames'",)`
**_Tr

[2016-09-12 14:16] ghost opened #541 "Bookmark use only "all" view"
Hi,
when I create a bookmark from a minemap view, it's created based only on the filter.
Indeed, the filter is kept but when I use the bookmark I go only to the "all" view, but not on the minemap one.

example :
my URL : http://shinken.mycompany.com/minemap?search=type%3Ahost+htag%3Adb-prod-server#
I bookmark it, but when I use the bookmark, I go to:
http://shinken.mycompany.com/all?search=type%3A

[2016-09-12 14:21] ghost opened #542 "double quote in a filter give issue when using bookmarks"
Hi,
in complement to my previous reports (#541), when I set the filter to
type:host hg:"oracle-servers" htag:db-prod-server, The bookmark failed.
Indeed, the URL retained by the system is :
http://shinken.mycompany.com/all?search=type:host%20hg:
(in which you could also view that the "minemap" keyword had been replaced by "all")

instead of
http://shinken.mycompany.com/minemap?search=type:host+hg:

[2016-09-12 15:55] mohierf commented on #541
You are right, but there is no real simple solution to this problem ...

[2016-09-12 15:56] mohierf commented on #542
Thanks for reporting. I will have a look for a next version

[2016-09-19 15:16] virtual-expo commented on #537
Hello,

I am facing a similar issue. I cannot add a downtime or a comment if my service name contains square brackets. For example:
http://myShinken/service/myHost/Very%20:%20[Long/Name]%20Check%20Something#downtimes
results in an empty "Generic Modal" popup.

I am also using WebUI 2.4.2.c.

[2016-09-21 09:13] jbaptl opened #543 "Error 500 after updated webui2 'Contacts' object has no attribute 'password'"
Hello

After updated webui2, it became imposible to login on the web interface.
Moreover, the login page is unusual.

So, i updated all the composants (now i use python2.7) and reinstaled last version of shinken and of his modules, but i steel have the same error.
When I log, i have an AttributeError : `AttributeError("'Contacts' object has no attribute 'password'",)`
The admin contact is well cre

[2016-09-21 09:14] jbaptl commented on #543
![login_shinken](https://cloud.githubusercontent.com/assets/7994745/18704996/92e08c42-7fec-11e6-930d-a969fa39a09d.png)

[2016-09-21 09:21] mohierf commented on #543
You should not use the `auth_cfg_password` with the WebUI2 ... this module is no more necessary because it is now embedded into the WebUI module itself ... remove this module from you webui2.cfg file and I think that everything will go fine :wink:

Did you see this installation guide: https://github.com/shinken-monitoring/mod-webui/wiki/Installing-WebUI-authentication-modules?

[2016-09-21 09:36] jbaptl commented on #543
I thank you for you quick feedback.
So, i tried to login after removed the `auth_cfg_password` and also after add the `auth_active_directory` module (configuration of this module worked well before the update) , but i still have the error, and the user is still not get in both case.
For sur i restarted shinken after each modifications. :-(

[2016-09-21 10:12] mohierf commented on #543
Ok. Looking more accurately in your logs, I see that the `user` is an empty field !

[code]

You are trying to log-in with an empty username field from the login form ... I invite you to clear your Web browser cache ... and to confirm that the username name is present in the login form. it is certainly the source of this problem.

[2016-09-21 11:49] jbaptl commented on #543
I clear the web browser cache and cookies on differents browser (firefox and chrome) on different computers, but i still have the same error.
The logs still indicate empty field, but i confirm that I set correctly the user and the password present on contact file.
I 'm sure, it is something very stupid but i spended lot of time on it and i'm out of idea.
What do you thinkd about the `route : <GET`

[2016-09-21 12:20] mohierf commented on #543
The `route:` logs are simply here to indicate the configured Bottle routes and messages is a valid one ...

I suppose that you do not have any front-end server before the WebUI port ?

Should you have a look in the browser's development console what is really posted to the webui when you submit the login form ?

[2016-09-21 13:05] jbaptl commented on #543
No device can block the route.
To validated this point, i tried with a browser on localhost and i still have the error.

What is really posted seems to be good.
Here a screenshot :

![formulaire_shinken](https://cloud.githubusercontent.com/assets/7994745/18712016/bc96608c-800c-11e6-999a-73acf8965262.PNG)

Is it what you espected for?

[2016-09-21 14:25] mohierf commented on #543
Ok. Everything seems ok on this part.

I do not understand why you do not have an 'admin' user information trying to authenticate in the webui log ...

I just tested on my environment (Debian) and got this in the log:

[code]

Should you copy the same part of your log?

[2016-09-21 14:33] jbaptl commented on #543
Sur, It is the same you refered upper :

[code]

[2016-09-21 15:28] mohierf commented on #543
You log is slightly different than mine ... I do not find **Embedded authentication** in the most recent source code :/

 And, you post on /user/login with login and password fields. This is managed by a function that:

[code]

I am quite sure that you do not have the most recent version or that you may even not request on the right server ... could you check that please ?

[2016-09-22 07:48] jbaptl commented on #543
Well done!
I found an `auth.py.sav` file on `/var/lib/shinken/modules/webui2/submodules` directory.
My fault! it was certainly a test i have done before opening the issue. I'm sorry for that.

Just in case, I have reset webui2 module with the following operations :

[code]

It doesn t correct the error, i still have the same.
But logs, now looks like this :

[code]

I can re-try a full basic insta

[2016-09-22 08:19] mohierf commented on #543
Yesterday, for my tests, I made a fresh install for Shinken and WebUI2 and I did not got your error ... it looks like if your POST variables were not even seen by the WebUI Bottle server.

For me it has nothing to do with the WebUI itself but with your configuration. Di you made the test locally with http://127.0.0.1:7767 ?

[2016-09-22 08:20] jbaptl commented on #543
Detail of my full resettlement:

[code]

Add `webui2` module on `broker-master`

[code]

I need to modify `/etc/init.d/shinken` file to take `python2.7` in charge :

[code]

I still have the problem. Do i made something wrong?

[2016-09-22 08:22] jbaptl commented on #543
Yes! I have the same problem locally.

[2016-09-22 09:40] mohierf commented on #543
Hum... except for a difference between the Python installed packages, I do not see.
On your configuration:

On my configuration:

[code]

Perharps something to deal with a too recent CherryPy ?

[2016-09-26 09:37] jbaptl commented on #543
Hello,
I made a new install of `python2.7`. I had an error to install the readline library.
So I have had to install the package `readline-devel` and `ncurses-devel`. After that, the installation of `python2.7` succeded and the installation of Shinken and webui2 module succeded too.

Now, shinken webui is working with some error, but it will be easy to debug.
I close the issue
I really thank you f

[2016-09-26 09:37] #543 closed, assigned to nobody

[2016-09-28 20:22] jangeador opened #545 "More zoom to the map"
Is there any way to add more zoom to the map. I have compared it with google maps and google maps can go about 4 more levels of zoom than the worldmap in webui2. I need to get closer to get a distinction between the buildings in my campus.

[2016-10-11 13:49] thequailman opened #546 "Google/OAuth2 authentication?"
Hello, are there any plans to add Google/OAuth2 authentication providers?  Or support some kind of delegated authentication with the webserver where a header is passed containing the username?

[2016-10-11 13:54] mohierf commented on #546
Nope, Google authentication is not in our roadmap currently ...

But it is yet possible to have an HTTP header with authentication, see here for more information about it: https://github.com/shinken-monitoring/mod-webui/wiki/Configuration---Main-parameters. Not very well documented but I hope you will find it useful anyway ...

[2016-10-24 13:44] furiml opened #547 "Trying to login with empty fields results in a 500 error"
Hello,

While showing WebUI to one of my colleague, he clicked on the login button without writing anything in the login fields, and it resulted in a 500 error. He was using IE, and the login page is somehow very distorted, plus there was no "username" and "password" grey text : so, to quote him,

"Yup. But you shouldn't use IE."

Here's the full traceback :

[code]

After further testing, it only

[2016-10-24 14:00] mohierf commented on #547
Thanks for reporting

[2016-11-01 21:23] eherot opened #549 "Problems Page: State filters that are not selected always show 0"
...even when the actual number of items is more than that

![screen shot 2016-11-01 at 5 23 06 pm](https://cloud.githubusercontent.com/assets/400447/19908046/e0034da8-a057-11e6-9cf6-dc743fded910.png)
![screen shot 2016-11-01 at 5 23 22 pm](https://cloud.githubusercontent.com/assets/400447/19908054/e927eb8c-a057-11e6-8d23-ebef2df5c42a.png)

[2016-11-01 21:26] eherot opened #550 "Problems Page (enhancement): When filter result is empty, display the filter bar"
What happens now:
![screen shot 2016-11-01 at 5 25 04 pm](https://cloud.githubusercontent.com/assets/400447/19908107/26b66668-a058-11e6-8056-b7b785fe1685.png)

This is annoying because you can't simply click back and forth between filters, instead you have to use the back button.

[2016-11-01 21:28] eherot opened #551 "Menu bar (enhancement): Let me go directly to state filtered results"
It would be great if I could click on the individual items in this box rather than having the box disappear when I try to mouse over it:
![screen shot 2016-11-01 at 5 27 17 pm](https://cloud.githubusercontent.com/assets/400447/19908189/858141ae-a058-11e6-98b7-70c587ad17fa.png)

[2016-11-02 10:43] aazudd opened #552 "'Duration' reset in webui2 at each shinken config reload"
Hi,
I hope I am in the right place to ask.
I did install shinken 2.4 / webui2 (from pip). I was using shinken 1.4 / webui for about a year.

Since I start to test webui2, I can see at each configuration reload of shinken that I have to wait for all the checks to be (re-)done to have the results of the monitoring , and the 'duration' time is (of course) reset.
That was not the case with the old web

[2016-11-02 11:18] mohierf commented on #552
Hi,
sorry but this not the right place for this ... your problem is due to a lack of retention with Shinken. I suppose you did not installed a retention module and you previsouly had one. Thus, on each Shinken restart, your hosts/services are in their initial state and Shinken must recheck all from scratch ...

[2016-11-02 11:18] #552 closed, assigned to nobody

[2016-11-02 11:21] mohierf commented on #549
I do not understand the problem ... can you provide more information please?

If you filter to get only the OK services, you will have only OK services and thus all other counters will be 0 ... and this is the expected behaviour.

[2016-11-02 11:22] mohierf commented on #550
You would like to have the filter bar instead of the message, right ? But the filter bar is always available on top of the current page ... why do you need to click back and forth ?

[2016-11-02 11:23] mohierf commented on #551
:+1: for this

[2016-11-02 13:42] eherot commented on #550
The filter bar at the top does not allow you to click "back and forth" it only allows you to "view all". See #551 (unless I'm missing something?).

[2016-11-02 13:44] eherot commented on #550
Actually it would be fine to keep displaying the message, but this thing:
![screen shot 2016-11-02 at 9 43 38 am](https://cloud.githubusercontent.com/assets/400447/19930904/e4bf67bc-a0e0-11e6-83b4-2be63b9573c2.png)
...should appear above it.

[2016-11-02 13:58] eherot commented on #549
Hmm. Ok, I guess it's working as expected then. I guess I just find it a bit misleading because unless you actually click through all of the individual categories (or pull down the menu at the top) you would think that they are all empty. I think it would be more useful if each category was gray when it wasn't selected, but the number still showed the actual number of items that would be displayed

[2016-11-02 14:00] eherot commented on #549
Or just don't bother having numbers there at all since, by the current design, they're just redundant to the "XX services" number in black on the left.

[2016-11-02 15:01] mohierf commented on #550
What I call the filter bar is not your screen capture but the header on top of the page where you can choose filters / bookmarks and type in a filter string ...

[2016-11-02 15:02] mohierf commented on #550
The message simply indicates that your current filter did not get any result

[2016-11-02 15:04] mohierf commented on #549
When you have an active filter, you can have (for instance) all WARNING and CRITICAL services and then you will have the count of services for each state. Also interesting, if you filter the ACK services ...

[2016-11-02 15:24] eherot commented on #550
Is there a single click you can make in the filter bar that will show you only services in a particular state the way that the bar I screenshotted can do?

[2016-11-02 15:34] eherot commented on #549
The problem is that if the filter isn't actually displaying items in a particular state, it can give you the misleading impression that there are no items in that state.

E.g. If I use a filter like this:

[code]

The bar will show:
![screen shot 2016-11-02 at 11 30 58 am](https://cloud.githubusercontent.com/assets/400447/19935286/deadaeb0-a0ef-11e6-85cf-4be7a5eec193.png)
Indicating pretty clearly

[2016-11-02 16:45] mohierf commented on #550
No, there is not. But you can bookmark a specific filter and then you will retrieve later ...

[2016-11-02 16:48] mohierf commented on #549
I do agree ... but we chose to display the state of the services that match the current filter ... we should probably enhance this. What do you think about this @maethor ?

[2016-11-03 09:22] aazudd commented on #552
Thank you for pointing me out the problem !
You are right, I forgot to install a retention module.

Sorry for the noise.
And thank you again for your work with webui2.

[2016-11-04 16:18] furiml opened #553 "Midori doesn't save webui's cookie"
Hello,

I currently use Shinken on wallboards powered by Raspberry Pis and running some carousel script to cycle between tabs with the midori navigator.

The problem seems to be specific to Webui, because other tabs stay logged to their respective website even after restarting the Pi.
I've used a workaround with a javascript to automatically POST the login form, but it redirects me on the /dashboa

[2016-11-04 16:49] mohierf commented on #553
I do not know anything about midori ... but what is sure to me is that the WebUI cookie is not specific at all. Thus I do not understand why there is something specific about this ...

What I think is that the cookie expires at the end of the browser session, this will explain the behaviour.

[2016-11-04 16:57] furiml commented on #553
Is WebUI running as a webapp ? I've read something about midori sandboxing webapps, it could explain the cookie expiration

[2016-11-04 17:48] mohierf commented on #553
No it is not a WebApp ... but I suppose that the problem is due to the cookie that is configured to expire when the browser exits ...

[2016-11-05 12:44] furiml commented on #553
I can't understand why.. My only solution would be to set the /problems view as the default one. Where can do this ?

[2016-11-05 14:04] mohierf commented on #553
Why? Because the default cookie behavior of the underlying Web library used by the WebUI is as is :wink:

 **1/** To change the cookie duration

Edit the _plugins/login/login.py_ file on line 88 and replace

[code]

with

[code]

This will set the cookie to expire 3600 seconds after its creation ...

 **2/** To change the default homepage

Edit the _plugins/login/login.py_ file on line 89 and repl

[2016-11-05 15:17] furiml commented on #553
Thank you ! I was sure I saw this line somewhere :)
I'll try it monday morning, will provide feedback. I'm sure this will work

[2016-11-05 15:40] mohierf commented on #553
Have a nice week-end :wink:

2016-11-05 16:17 GMT+01:00 Furiml notifications@github.com:

[2016-11-07 09:12] furiml commented on #553
Hello again !

I set the max_age to the maximum value (2147483647), but Midori just doesn't want to save the cookie :-(.
So I replaced the line 89 Dashboard by Problems. Didn't work either.
I kept on replacing more occurrences after this, and it seems like the redirect that is caught **after a successful login** is line 132 :

[code]

This worked with my javascript login, so my problem is solved :

[2016-11-07 09:12] #553 closed, assigned to nobody

[2016-11-07 09:37] mohierf commented on #553
Thanks for the feedback

[2016-11-09 14:40] akqopensystems opened #554 "Memory issue with Shinken 2.4.3 on RHEL 6"
Hello community,

we use RHEL 6.8 (64-Bit) fully patched with python 2.6.
It is a Hardware Server with 2 socket CPU (E5-2620 @ 2.00GHz) and 24-GB Ram.
Software is shinken 2.4.3 with shinken-modules, both are up2date.
We use mongoDB (3.2.10-1) to store the status retention and also use it for storing history event data.
A mariaDB is storing the performance data via the tondodb-mysql module on an ex

[2016-11-09 14:52] akqopensystems commented on #554
**Further information:**
After a while less hosts and services are displayed in the thruk frontend.
For example we see around 200 hosts and 1200 services.

[2016-11-09 14:59] ddurieux commented on #554
Thruk use livestatus, perhaps it's a livestatus problem... but your problem is the webui, not thruk ?

[2016-11-09 15:20] akqopensystems commented on #554
Hello ddurieux,
thanks for your fast reply. We do not know exactly if the memory leak is part of livestatus, webui or broker itself. While Thruk is receiving his data via livestatus and webui is bind directly to broker, we just can say thruk is showing less and less systems and services after a while.

Do you have any ideas or suggestions what to do?
Regards,
akqopensystems

[2016-11-23 10:08] ThomasBarach opened #555 "Worldmap customization"
Hello!

I wonder if it was possible to display only hosts instead of hosts and services. The fact that a dot is red when a service is critical whereas the host is UP annoys me.

I looked at the source code, but can't figure out how to remove services.

Regards

Thomas

[2016-11-23 10:27] mohierf commented on #555
Which version are you using? the most recent one I suppose?

If so, you may hack the code to get what you want :wink: edit the *plugins/worldmap/views/_worldmap.tpl* file and remove or comment the lines 21-29:
[code]

Each host in the map will have an empty services list.

-----
**Note:** I did not tested this hack... so may be it will raise an error, but I am quite confident that it will be ok

[2016-11-23 11:20] ThomasBarach commented on #555
Thanks for answering.

I was not using the latest version, I upgraded the version and tried to hack the code.

Unfortunately, it raises an error :

[code]

[2016-11-23 11:35] mohierf commented on #555
Ok, got it!

Do not comment but simply remove the lines and only let the brackets:
[code]

[2016-11-23 11:54] ThomasBarach commented on #555
Works like a charm !

Thanks for your amazing work

[2016-11-23 11:57] mohierf commented on #555
You are welcome :wink:

[2016-11-23 13:06] #555 closed, assigned to nobody

[2016-11-25 16:59] hugosxm opened #556 "User permissions are not effective on the "currently" dashboard"
Hi,

let's say i have two group of users, one admin, full right everywhere and one guest, contact group of only some hosts

If i go in the top right corner on WebUI and click the eye to open the "curretnly" dashboard as guest, i have the statictics of ALL the hosts... not only the host that have "guest" as a contact

Feel free to ask for some logs or config file

Hope that help

Have a nice day

[2016-11-25 17:36] mohierf commented on #556
Thanks for reporting. I will try to have a look for a next version

[2016-11-29 09:50] ThomasBarach commented on #556
+1

[2016-11-29 19:03] rednach commented on #556
In module/plugins/dashboard/views/currently.tpl, you may patch

%synthesis = app.datamgr.get_synthesis()
%s = synthesis['services']
%h = synthesis['hosts']

with

%s = app.datamgr.get_services_synthesis(None, user)
%h = app.datamgr.get_hosts_synthesis(None, user)

(I'll send the pr asap)
Regards.

[2016-11-30 05:52] mohierf commented on #556
Thanks @rednach :wink:

[2016-11-30 11:55] ThomasBarach commented on #556
Thanks for your work @rednach  !

[2016-11-30 15:01] b-keller commented on #528
Ok, sorry for the delay... I close...

Thx

[2016-11-30 15:01] #528 closed, assigned to nobody

[2016-12-02 12:46] Furiml commented on #556
I have the same issue with the widgets in the "Dashboard" view, the "All ressources" view, the "Problems" view, the "Wall" view (and "currently" view)
On the "Problems" view, I can click on the problematic service I'm not supposed to see and have the usual overview. However if I click on the host on which the problematic service is happening, I get a 404.
Wasn't this supposed to be fix ? (#520)

F

[2016-12-05 17:40] jesseorr commented on #243
Is this still a complicated addition? Our company is moving away from multiple Nagios installations to Shinken, and has been working towards the migration slowly over the last year and the biggest pain point we've seen thus far is the ability for technicians to sort by duration of the alert.

[2016-12-06 04:34] mohierf commented on #243
I will try to have a look at this feature in the next weeks ...

[2016-12-06 18:00] jesseorr commented on #243
Thank you, I was amazed by how many of our technicians noted this ability as a problem once Shinken was starting to be rolled out as an open-beta within our company.

[2016-12-27 14:34] tchene opened #558 "Groups and contact deleted still appear in UI after reload"
Hi, I work with shinken 2.4.2 and webui 2.2.1.

I have some issue with groups and contact deletion. When I delete  an hostgroup, servicegroup, contactgroup or contact from my configuration, after I reload shinken, they stayed in the webui, I don't understand why.
I got the right data when I log scheduler at reload (in load_conf function scheduler.py:160), but not in the data manager in webui (get_

[2016-12-29 08:56] mohierf commented on #558
Hi
sorry but I cannot reproduce ...

The WebUI is using only the data that Shinken has loaded. As such, you should have exactly the same data ... moreover I do not understand why this problem happens only with contacts/contactgroups and not iwth hosts and services :/

Do you haveany retention module installed?

[2016-12-29 09:01] tchene commented on #558
Yes I have retention-mongodb. And this problem happen too to hostgroups and servicegroups, and I see the commands are also concerned.
As I see, I have good data in the scheduler but not into the broker and I don't understand where shinken reload the data, so I can't verify much more.

[2016-12-29 09:10] mohierf commented on #558
As far as I know, the scheduler loads the data and create some broks that are sent to the broker. The broker uses a *regenerator* to restore the data and it cannot "create" data that so no exist any more :/

This means to me that the scheduler has those data, what I suspect is that it restores those data from the saved retention ... you should give a try without the retention module ?

[2016-12-29 09:12] tchene commented on #558
I will test without the retention module this morning and give you a feedback.

[2016-12-29 09:27] tchene commented on #558
Ok so, I test reloading after delet retention module and things stay the same, have you any variable that I can log to follow the reload process and the data between arbiter and broker?

[2016-12-29 09:34] mohierf commented on #558
All is in the Regenerator class ...

[2017-01-19 08:14] cleonn commented on #540
We have the same problem, and running 2.4.3.

[2017-01-23 12:46] sanketplus opened #560 "Cannot open page for a service"
I am using shinken 2.4.3 installed via pip.

This is list of services for a host

![image](https://cloud.githubusercontent.com/assets/6016802/21586652/4a492954-d0f9-11e6-91af-9d1995462629.png)

When I click on last one, CPU check it leads me to
![image](https://cloud.githubusercontent.com/assets/6016802/21586691/9eab19f8-d0f9-11e6-8329-912cb5a759dd.png)

Notice in address bar its pointing to CPU U

[2017-01-23 12:55] mohierf commented on #560
Very strange indeed !

If you can view the list of services page with your browser developer tools, please copy the resulting HTML somewhere I can see please, and I will have a look ...

[2017-01-23 13:04] sanketplus commented on #560
I wish I could but it has some information which I cannot post publicly :sweat_smile:  I am trying to reproduce the bug in testing environment with same service object names.

The service names were _batillus check on helios_ which was held correct in address bar also but service object it opened was named _batillus conversation check on helios_ This can perhaps help you also to reproduce.

I susp

[2017-01-23 13:21] sanketplus commented on #560
Okay I was able to reproduce it.
Hostname used:
  - batillus101.apps.foo.bar

Service names:
  - batillus conversation check on helios
  - batillus check on helios

[2017-01-23 13:36] sanketplus commented on #560
It is as I suspected:

Inserted
`logger.warn("Request for: <%s,%s> %s",hname,sname,services)`
 before https://github.com/shinken-monitoring/mod-webui/blob/develop/module/datamanager.py#L304

And got the following (the desired service object is second in the list):
[code]

While debug log for datamanager stated
[code]

So in the second line service name got split by spaces and I guess that caused t

[2017-01-23 17:01] mohierf commented on #560
Can you try to change the line 304 with:
[code]

This will enclose the service description between double quotes for it is not splitted by the search regex ?

[2017-01-24 08:18] sanketplus commented on #560
Yes replacing ^$ with quotes worked and now it logs as following:

[code]

Would you accept a PR on the same? I can modify the calls to `search_hosts_and_services` and anything else which you may think is needs a change.

Thanks :)

[2017-01-24 08:22] mohierf commented on #560
Yes. I will accept your PR. But I do not know when I will be able to merge and release a new version.

Because of the low activity on the Shinken project itself, I do not want to invest much effort for releasing new Web UI versions, sorry.

[2017-01-24 08:25] sanketplus commented on #560
Okay I will create one anyway as this is a bug and if anyone else also hit the same,he/she would have reference on what all changes are required to fix it. Thanks anyways!

[2017-01-25 18:04] efficks commented on #534
@mohierf Any plan for the next version?

[2017-01-25 21:50] mohierf commented on #534
Hi @efficks
Sincerely I do not know. Because of the very lack of activity on the Shinken project since several months as of now, I am not really motivated to make more efforts to maintain and upgrade this UI :disappointed:

I am currenlty fully engaged on the Alignak project and do not have much time for anything else.

[2017-02-10 16:00] couloum commented on #437
Hi,

I would also be very interested by a feature like this.

Another goal would be to display the same metric (load average for exemple) of multiple servers of the same groupe (10 web servers in the same load balancing group). This way, it would be possible to identify an issue on a specific sever without performing multiple clics to view 1 graph for each server.

Centreon has a pretty good view

[2017-02-21 22:59] adiospeds commented on #243
Shinken was a very helpful tool until we figured it was not possible to sort alerts based on duration. Is there a plan to include this feature anytime soon - if not we may have to move on for now

[2017-02-22 06:02] mohierf commented on #243
Sorry but please read this: https://github.com/shinken-monitoring/mod-webui#important-information

[2017-03-09 08:24] theogfx commented on #540
I can also confirm: same issue on `2.4.3`

[2017-03-31 09:44] guillaume-u commented on #540
I have the same issue on `Shinken 2.4.3 — Web User Interface 2.4.2c`

[2017-03-31 16:03] Cyrille37 commented on #118
Hi,
But debian jessie still the current version (march 2017) and still got those dead menu entries.
Cheers.

[2017-03-31 17:45] mohierf commented on #118
@Cyrille37 : be sure to follow the steps described here to setup :https://github.com/shinken-monitoring/mod-webui/wiki

[2017-04-14 13:29] hvad commented on #554
Hi,

Can you test without livestatus ?

Thanks

[2017-04-24 09:50] satyan01 opened #564 "webui2 error during installation"
Hello

 I install shinken on ubuntu but I have an error during webui2 installation

![image](https://cloud.githubusercontent.com/assets/15144026/25331674/2c4c7e40-28e4-11e7-8979-bad8fcc6ff08.png)

en fait quoi que je veuille installer en tant que shinken j'ai la meme erreur

[2017-04-24 10:00] mohierf commented on #564
I am sure that the problem is not related to the WebUI package.

IMHO, the problem is almost surely related to the shinken.io repository web site: @naparuba ?

[2017-04-24 10:01] satyan01 commented on #564
I have installed from tarball from shinken website

[2017-04-24 10:03] mohierf commented on #564
The error happen when you `shinken install webui2`, right? And you say that it happens whatever you try to install with the `shinken` cli ? If so, the problem is related to the shinken.io repository ...

[2017-04-24 11:03] satyan01 commented on #564
What I have to do to fix this issue ?

[2017-04-24 11:04] satyan01 commented on #564
I have to open firewall rules ? if yes on which site ?

[2017-04-24 11:27] satyan01 commented on #564
I asked to open 7767 and 7763 port and github.com/naparuba

[2017-04-24 11:54] mohierf commented on #564
Opening firewall ports will not fix this. I think that the problem is residing in the application on the shinken.io server and only @naparuba may fix this.

You can avoid using this command and get the files directly from the github repository:
- copy the repo file *etc/modules/webui2.cfg* to your *etc/modules* directory
- copy the directory *module* in your modules directory and rename it as *web

[2017-04-24 12:01] satyan01 commented on #564
the /etc/modules/ folder contains only sample.cfg

[2017-04-24 12:05] mohierf commented on #564
Ok. So you may try what I suggested ...

[2017-04-24 12:16] satyan01 commented on #564
/etc/modules or /etc/shinken/modules ?

[2017-04-24 12:39] satyan01 commented on #564
same result

[2017-04-24 12:39] satyan01 commented on #564
![image](https://cloud.githubusercontent.com/assets/15144026/25337350/ddb839d2-28fb-11e7-960c-2a6358b65137.png)

[2017-04-24 14:32] satyan01 commented on #564
![image](https://cloud.githubusercontent.com/assets/15144026/25342203/8fa36e0a-290b-11e7-93c0-8984ca6a2259.png)

[2017-04-24 15:37] mohierf commented on #564
Forget the `shinken install` CLI ... it looks buggy as of now.

Get the files directly from the github repository https://github.com/shinken-monitoring/mod-webui:
- copy the *etc/modules/webui2.cfg* to your *etc/shinken/modules* directory
- copy the directory *module* in your */var/lib/shinken/modules* directory and rename it as *webui2*

Is it the first shinken module you are installing?

[2017-04-25 07:06] satyan01 commented on #564
Hello

Yes it is my first installation.

[2017-04-25 07:08] satyan01 commented on #564
open the port have solved the issue but now the message the installation directory/etc/shinken/packs is missing

[2017-04-25 07:36] satyan01 commented on #564
I have reinstalled completely and now I have this message,

![image](https://cloud.githubusercontent.com/assets/15144026/25373603/a626956e-299a-11e7-969d-6879697e6c77.png)

Oh my god Linux is very complicated !

[2017-04-25 08:22] mohierf commented on #564
Your problem is, AFAIR, a known problem with Shinken installation on recent Linux distros :/

I am closing this issue because the WebUI is not concerned.

Please leave me an email to go on discussing this: frederic.mohier at gmail.com ...

[2017-04-25 08:22] #564 closed, assigned to nobody

[2017-04-28 11:05] arthurzenika opened #565 "use sqlite instead of mongodb"
Sorry to hear that this project is not maintained anymore... any recommendations for an alternative ?

It seems that since the last time I deployed webui mongodb was introduced. It seems that it is a hard dependency, is it the case ? Can I still use sqlite ? or a file ?  If so, how do I configure it ?

Using a sqlite uri

[code]

 I get :

[code]

[2017-04-28 11:35] mohierf commented on #565
With the most recent versions of this project, we decided to use mongodb as the webui backend, this to have a better integration with several other Shinken modules: logs, retention, ... I must admit that we deprecated the sqlite backend and I am not sure this may be easy to restore it (indeed I never tried).

I do not know of any alternative solution for Shinken. On my own, I moved to the Alignak

[2017-04-28 13:42] arthurzenika commented on #565
do you know if there is a way to install a previous version of webui2 that supports sqlite ? (with the shinken install command ? )

[2017-04-28 14:04] soujak commented on #481
That's very good! Thank you very much.

I guess this issue can now be closed.

[2017-04-29 10:44] #481 closed

[2017-04-29 10:44] mohierf commented on #565
No way ... sorry

[2017-05-18 14:56] Method68 commented on #373
Hi, after install auth-active-directory, i configure auth_active_directory.cfg

define module {
    module_name     auth-active-directory
    module_type     ad_webui
    ldap_uri        ldaps://ldap.slash16.local
    username        cn=admin,dc=slash16,dc=local
    password        secret
    basedn          dc=slash16,dc=local

    # For mode you can switch between ad (active dir)
    # and openl

[2017-05-18 15:07] Method68 opened #566 "Connexion LDAP failed"
Hi, after install auth-active-directory, i configure auth_active_directory.cfg

define module {
    module_name     auth-active-directory
    module_type     ad_webui
    ldap_uri        ldaps://ldap.slash16.local
    username        cn=admin,dc=slash16,dc=local
    password        secret
    basedn          dc=slash16,dc=local
    mode	    openldap
}

--------------webui2.cfg----------------

def

[2017-05-26 04:14] khanga6tm opened #567 "I could not search availability for service"
Hi Authors,

I configured webui, mongo-logs already, and shinken sent availability logs to mongodb successfully. I could search availabily for hosts
![image](https://cloud.githubusercontent.com/assets/27798807/26480464/25cd920a-4204-11e7-9fb1-8d00c81445c7.png)
 but not for service.
![image](https://cloud.githubusercontent.com/assets/27798807/26480482/3bb82d3c-4204-11e7-852d-b7cb703f0216.png)
I see

[2017-05-29 19:42] #560 closed, assigned to nobody

[2017-05-29 19:49] maethor commented on #556
Patched merged. Will be fixed in the next version.

[2017-05-29 19:49] #556 closed, assigned to nobody

[2017-05-29 20:10] maethor commented on #534
@efficks I'm working on UI improvements so I will try to publish a new version soon, with your PR in it.

[2017-05-29 20:31] maethor commented on #567
Hi @khanga6tm,

Actually, this is not a bug, availability is only available for hosts.

We have develop this view as a proof of concept, and we didn't know the size it could take in the MongoDB database, so we choose to limit it only to hosts. I'm not using this view myself, but if you want to improve it feel free to propose a PR.

[2017-05-29 20:43] maethor commented on #566
This seems to be the right configuration.

What LDAP field are you using for authentication? Upstream auth-active-directory only search for `o` and `mail` (line 93 of the module.py). On my setup I had to add uid.

[2017-05-29 20:48] maethor commented on #565
@arthurlogilab  since webui2 mongodb is indeed a hard dependency because we choose to make one setup that work instead of 5 that don't.

With that said, for this need mongodb is stable and just work. If your server is dedicated to monitoring, you don't need to worry about installing it.

[2017-05-29 20:50] maethor commented on #558
@tchene do you still have this bug with the last version of the webui?

[2017-05-29 20:52] maethor commented on #554
@akqopensystems any news?

[2017-05-29 20:53] maethor commented on #551
It works in development branch. Will be merged soon.

[2017-05-29 20:53] #551 closed, assigned to nobody

[2017-05-29 20:55] maethor commented on #550
@eherot is it a duplicate of #551 ?

[2017-05-29 21:01] maethor commented on #549
I understand the potential problem, but I will not fix it.

As @mohierf said, This panel displays an abstract of the search results. So yes, I you filter only on 'is:ok', it will count only ok services. This is an extreme case, but in the problem page I think the current behavior is what we want.

If you want global stats, you have the "currently" dashboard and the popovers in the navigation bar.

[2017-05-30 05:24] maethor commented on #527
Sorry for the delay.

@jesseorr @b-keller do you still have the problem? We use shinken webui intensively, and I have never seen this. I can't reproduce.

[2017-05-30 05:34] #540 closed, assigned to nobody

[2017-05-30 05:35] maethor commented on #540
I fix it in the development branch.

Thanks you all for reporting and reproducing.

[2017-05-30 05:39] maethor commented on #533
I'm closing. This is fixed by commit ccdf3134 in the dev branch.

[2017-05-30 05:39] #533 closed, assigned to nobody

[2017-05-30 05:41] maethor commented on #529
This is fixed with commit ccdf3134 that will be in the next version.

Thanks.

[2017-05-30 05:41] #529 closed, assigned to nobody

[2017-05-30 05:44] maethor commented on #526
Ahah, funny, I forget I already noticed it in the past :)

I fixed it in 2ba736035cfab355b6ed6a9313a0187a7d34f11c

The new action menu is open, we don't need to get through a button. And I added some CSS for mobile screen to display the action buttons horizontally in the footer.

[2017-05-30 05:44] #526 closed, assigned to nobody

[2017-05-30 05:47] maethor commented on #510
It doesn't seem easy to implement because we don't detect state changes, we only display them. This feature would need a change queue, something like that. I don't know how to implement this kind of stuff.

But it's a nice idead. Would be usefull, I agree.

[2017-05-30 09:03] mohierf commented on #510
@maethor : this may be implemented with the brok management that is done in the `manage_brok_thread` function. When it receives an host/service/contact update brok, you should raise a notification

[2017-05-30 09:05] maethor commented on #510
Yes, but I don't know how to route it to the webui. I'm not a web developer :smile:

[2017-05-30 09:18] maethor commented on #510
I mean, how do you implement this?

Do you make an infinite loop in the frontend to check if there is notifications to display? If so, where do you store the notifications until you display them?

Do you push the notifications from the backend when manage_brok_thread detect something? How do you do that?

[2017-05-30 09:52] maethor commented on #510
If I understand correctly, we should do it with websockets. Sadly I don't have time to learn it, so I won't do it.

[2017-05-30 11:10] mohierf commented on #510
What I would do?

 For the server part, I would create a new thread function (copy of the existing one) to get the host/service status update broks. If an host/service status changed, I would store this information in a global notifications list.

Then, for the Web part, the WebUI client periodically raises an Ajax call to */gotfirstdata* which may be used to pull information from the notification

[2017-05-31 11:31] serge-marie opened #568 "Downtime: Can't remove downtime on service with a 'slash' in the service name"
Hi,

I can't delete downtime on several services, I think that comes from the slash in the name.

Example :
LINUX-DSK_/

I have a "Generic modal" windows" :

![image](https://cloud.githubusercontent.com/assets/15633928/26630042/61afab82-4605-11e7-9f6b-407c06a8bf5e.png)

Thank's in advance

Serge

[2017-05-31 12:03] maethor commented on #568
I will look at it.

[2017-05-31 12:15] maethor commented on #568
Indeed, I just saw the source code, in `shinken-actions.js` we split the element name on the /, because it is supposed to be the element of separation between the host name and the service name.

Right now I can't think about a nice fix, because if we admit / are allowed in hosts or services names, the / could be everywhere.

I think you should really avoid having / in service names.

I'm curious

[2017-05-31 12:37] serge-marie commented on #568
Bonjour,

Je n'ai pas possiblité de supprimer le / dans les services (env 10500
services concernés).

Il faut que je trouve une solution.

Serge
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Hi,

I can't remove slashes because we h

[2017-05-31 13:04] mohierf commented on #568
@maethor : a solution would be to use another separator in the HTML built with the templates. Let's say `host_name$service_description` and then split on `$` rather than `/`

In *helper.py*:

        def get_uri_name(self, elt):
            name = elt.get_name()
            if 'service_description' in elt:
                name = "%s$%s" % (name, elt.get_name())
            return name.replace(' ',

[2017-05-31 13:34] maethor commented on #568
I suppose it is used almost everywhere, but not in `shinken-actions.js` `get_elements` function.

And what if some users have services with $ in them?

[2017-05-31 13:57] mohierf commented on #568
As far as I remember, $ is not allowed in a service description.

See `illegal_object_name_chars` that defines the non-authorized characters in objects names is as default: ``~!$%^&*"|'<>?,()=`

[2017-05-31 14:30] eherot commented on #549
I guess I wonder then why bother having that box at all when it's just redundant to the page title and current filter. The only purpose it really serves when not in "global" mode is to show you how many items are on the currently displayed list (which is also kind of redundant unless the list is really long). Basically you're missing an opportunity to succinctly display data that the user might ac

[2017-05-31 14:34] eherot commented on #550
No. This is a request to display the panel even when there are no filter results. #551 is a request to change how the panel itself works.

[2017-05-31 15:51] maethor commented on #568
oh, that's nice. So | may be ok too…

I will see if I can replace it in all the app.

[2017-05-31 15:53] maethor commented on #550
OK but the panel depends on the results beyond it. So if there is no filter result, the panel will be completely empty, so kind of useless. Am I wrong ?

[2017-05-31 16:09] maethor commented on #549
I agree with you that this box is not essential, but I can't see how it is redundant. The page title doesn't give that kind of information, and the current filter says nothing about it's result.

Actually, the list can be really long. For instance I have 400 hosts and around 4000 services. So even with filter, there can be a lot of items.

![2017-05-31-180051_1920x2280_scrot](https://cloud.githubu

[2017-05-31 16:51] maethor commented on #549
What do you think @eherot ?

![2017-05-31-184845_731x132_scrot](https://cloud.githubusercontent.com/assets/2410576/26643554/0096275e-4632-11e7-90d4-393499f4915e.png)

or maybe

![2017-05-31-185548_727x134_scrot](https://cloud.githubusercontent.com/assets/2410576/26643783/ca6b4f96-4632-11e7-8ff2-a9890d616d25.png)

I remain open to suggestions.

[2017-05-31 17:34] maethor commented on #568
It seems like after some macros and replacements, the command sent by the WebUI to shinken uses `;` to separate the host and the service:

[code]

So I don't understand why `;` is the only character not listed in your list @mohierf :smile:

Yet I'm not sure to understand how it how it works, because I don't see where that `;` is defined. But I will find it.

So `;` should be a pretty good characte

[2017-05-31 17:34] eherot commented on #549
Ooh I like that actually

[2017-05-31 17:35] eherot commented on #549
It took me a second to intuit what it was telling me (so maybe a tooltip might be useful? I dunno), but now that I get it I have to say I think this would be immediately useful to me.

[2017-05-31 17:43] eherot commented on #550
Not quite. Even the empty panel serves a purpose because the icons are also links to different filters.

[2017-05-31 17:54] mohierf commented on #568
Beware @maethor that the `;` is the Nagios legacy separator for the external commands. It is not forbidden to use it but it is a Nagios trick 😉  Never use this character in a service_description or forget the external commands ...

See action.py, line 100 where an ExternalCommand is built to be  push to the broker that runs the WebUI module ...

[2017-05-31 20:13] maethor commented on #568
OK, I see it no, in the try catch.

So, that's exactly what I'm saying, `;` is already forbidden in host_name and service_description, so I can use it as a separator instead of `/`.

Anyway, if you think `$` is the better choice, let's use it :smile:

[2017-05-31 20:14] maethor commented on #550
OK, I understand now. I will do it.

[2017-05-31 20:16] maethor commented on #549
There is tooltips actually, but I still have to adapt them.

OK then, this will come in the next version :smile:

Thanks for your contribution. Don't hesitate to report other ideas.

[2017-05-31 20:36] #549 closed, assigned to nobody

[2017-05-31 20:36] #550 closed, assigned to nobody

[2017-05-31 20:44] maethor commented on #549
I have to limit this new display to medium and large screen. On small screens there is not enough space, it doesn't align properly.

But, I improved the tooltips to clarify this. So you can always have the full information:

[2017-05-31 20:51] eherot commented on #549
Yeah that's awesome. Thanks for considering this!

[2017-06-01 19:01] maethor commented on #568
What I find strange is that you succeed to put a downtime, but not to remove it. I will try to reproduce this bug tonight.

[2017-06-01 19:08] maethor commented on #568
![2017-06-01-210409_603x293_scrot](https://cloud.githubusercontent.com/assets/2410576/26696221/e9d5396a-470d-11e7-8d82-683d9970f5df.png)

So it doesn't seem to come from the /. Everything is working fine on my test : ack, downtime, remove downtime, remove ack.

- @serge-marie can you precise exactly how to reproduce your problem?
- Is it the only thing that don't work in the webui?
- Everything el

[2017-06-01 19:25] maethor commented on #568
@mohierf OK, so now I think I understand the mecanics between shinken-actions.js and action.py. It's really ugly, I mean… it's awful… but I don't see any bug in it. `/` in service names seems to be managed properly.

- The first `/` is kept, but the nexts are replaced by `$SLASH$` in shinken-actions.js/get_elements function
- Then in action.py, the `/` is replaced by `;`, and then `$SLASH$` are re

[2017-06-01 21:06] serge-marie commented on #568
Hi, I'll answer you tomorrow !

Serge

Le jeu. 1 juin 2017 à 21:25, Guillaume Subiron <notifications@github.com> a
écrit :

--
Serge MARIÉ

[2017-06-01 21:10] maethor commented on #568
@serge-marie if you have the possibility to upgrade to develop, I think you should try to reproduce the bug on it. If not, please answer my questions, yes :)

Good night ;)

[2017-06-02 13:08] akqopensystems commented on #554
We are no longer using this solution.

[2017-06-03 15:50] #554 closed, assigned to nobody

[2017-06-06 15:20] serge-marie commented on #568
Hi

Sorry I haven't time today to answer you, I promiss I'll do it tommorow.

Thank's

Serge

Le jeu. 1 juin 2017 à 23:10, Guillaume Subiron <notifications@github.com> a
écrit :

--
Serge MARIÉ

[2017-06-07 08:06] tchene commented on #558
I did a fresh Shinken 2.4.2 install with the last webui version (2.5.0-beta) and I still have the same bug.

I tried to create a windows hostgroup with 2 hosts in it and an linux hosgroups with the same hosts number. I see all of it in the webui. Then, I deleted the windows hostgroups and reload Shinken. After that, I still see the windows hostgroups in the webui but without any host in it.
After

[2017-06-07 08:13] maethor commented on #558
Shinken reload can be really buggy. I always use restart.

[2017-06-08 12:10] serge-marie commented on #568
Hi,

This is my webui version :

[image: image.png]

This is how I can reproduce the problem :

I have an host :

[image: image.png]
I use "Select all elements" -> "Execute an action" -> "Schedule a downtime".

I have :

[image: image.png]
Services are "downtimed" :

[image: image.png]

I remove the downtime with "Click on hostname" -> "Delete all downtimes"

I have :

[image: image.png]

And when

[2017-06-08 12:29] maethor commented on #568
I'm sorry but your image doesn't display. Could you please respond directly on github?

[2017-06-08 12:45] serge-marie commented on #568
Hi,

This is my webui version :

![0](https://user-images.githubusercontent.com/15633928/26928969-55523824-4c58-11e7-9a2b-adc295571a50.png)

This is how I can reproduce the problem :

I have an host :

![1](https://user-images.githubusercontent.com/15633928/26928984-5e213fb8-4c58-11e7-94a2-c3a0a38ab4cc.png)

I use "Select all elements" -> "Execute an action" -> "Schedule a downtime".

I have :

![

[2017-06-08 14:27] serge-marie commented on #568
I forgot to precise that we use mongodb-dt-ct-retention-scheduler module.

For data retention of comments and downtimes.

[2017-06-08 14:45] maethor commented on #568
Ok, so you are still on 2.4.2c and you describes 2 differents problems that I I have found and fixed in 2.5:
1. When we add a downtime on a host, by default the downtime is added on all the services. But when you remove the downtime, it is removed only on the host. This is fixed.
2. The problem with the / in the service name. This is fixed.

[2017-06-08 14:52] serge-marie commented on #568
OK thank's

How can I update it easily ?

Because on SHINKEN-IO :

![image](https://user-images.githubusercontent.com/15633928/26934850-c6113422-4c6a-11e7-89ee-f9c507058958.png)

Serge

[2017-06-08 14:54] maethor commented on #568
2.5 is not published yet. I still have a major regression to fix and then I will publish it. I can't give you a deadline, could be a week or two.

[2017-06-08 14:55] serge-marie commented on #568
ok ! :)

Thank's

Le jeu. 8 juin 2017 à 16:54, Guillaume Subiron <notifications@github.com> a
écrit :

--
Serge MARIÉ

[2017-06-11 06:17] khanga6tm commented on #567
Thank for your reply,

I am clear your idea, but from my side and my boss's demand the availability of services will bring a lot of meaning. For E.x: your server is 100% alive, but it is web-server, and the availability of httpd is the most important and we could not have a view of availability for all web-server.

[2017-06-11 06:17] #567 closed, assigned to nobody

[2017-06-12 06:11] maethor commented on #567
I understand that. I think a good way to do it would be by using a custom var on a service. For instance `_WEBUI_COMPUTE_AVAILABILITY True`. And use it to compute the availability only for the services which need it.

[2017-06-12 20:19] maethor commented on #568
@serge-marie As promised, I published 2.5.0 today. It should be available tomorrow on shinken.io. Please close this issue if the new version is fixing your problem.

[2017-06-12 20:20] serge-marie commented on #568
Ok thank you very much.

Serge
Le lun. 12 juin 2017 à 22:19, Guillaume Subiron <notifications@github.com>
a écrit :

--
Serge MARIÉ

[2017-06-14 11:37] serge-marie commented on #568
Hi Guillaume,

Thank's for publication of 2.5.0, this version solved my problems with
downtimes.

Serge

Le lun. 12 juin 2017 à 22:20, MARIE Serge <serge.marie@gmail.com> a écrit :

--
Serge MARIÉ

[2017-06-30 23:36] cedlerouge opened #570 "save_user_preference is not defined"
Hi,

With the installation of webui2 version 2.5.0, /static/js/shinken-actions.js seems not be requested and so when a user wants to add widgets, he can't because of the javascript error : `save_user_preference is not defined (widjets.js:166)`  .

to turn around :
[code]
Then you can go back to the web interface and add widgets.

Does someone have the same behaviour ?

[2017-07-04 08:41] lermit commented on #570
I think this issue is resolve here : https://github.com/shinken-monitoring/mod-webui/pull/569

:)

[2017-07-04 15:34] cedlerouge commented on #570
Yes this is it, I didn't saw this issue.
Thx

[2017-07-04 15:34] #570 closed, assigned to nobody

[2017-07-10 06:03] #568 closed, assigned to nobody

[2017-07-10 13:03] atelacs opened #572 "auth failed"
Hi all !
I trried to install a shinken 2.2.4 on Centos7.

I have a problem with authentification with mod webui2
I use embeddded authent ( local and htttpsppaswd)

Mod_webu2 configured in broker-master.cfg OK
I have a htppasswd.users in /etc/shinken OK whith admin account
I have contacts in the directory contatcts OK

Every time i tried to connect to the webui i have the same issue
The mod-webui c

[2017-07-10 14:38] maethor commented on #572
Hi @Atelacs

Do you have a contact named "admin" in your shinken configuration ? It should be something like that

[code]

[2017-07-10 14:55] atelacs commented on #572
Hi @maethor

Yep i have it

[shinken@darkx shinken]$ cd contacts
[shinken@darkx contacts]$ ll
total 8
-rw-rw-r--. 1 shinken shinken 336  7 juil. 13:11 admin.cfg
-rw-rw-r--. 1 shinken shinken 252  6 juil. 11:30 guest.cfg
[shinken@darkx contacts]$ cat admin.cfg
define contact{
   use                  generic-contact
   contact_name         admin
   alias                Administrator
   email

[2017-07-10 15:15] maethor commented on #572
OK, this seems nice. And this file is included in your shinken configuration?

[2017-07-10 15:28] atelacs commented on #572
yep
/etc/shinken/contacts

[2017-07-10 15:28] atelacs commented on #572
[shinken@darkx contacts]$ ll
total 8
-rw-rw-r--. 1 shinken shinken 336  7 juil. 13:11 admin.cfg
-rw-rw-r--. 1 shinken shinken 252  6 juil. 11:30 guest.cfg
[shinken@darkx contacts]$ pwd
/etc/shinken/contacts

with good rights

[2017-07-10 15:52] maethor commented on #572
You didn't answer my question :)

The files, or the directory, needs to be included in the shinken main configuration (`shinken.cfg`). Please read about `cfg_dir` and `cfg_file` statements : http://shinken.readthedocs.io/en/latest/03_configuration/configmain.html#configuration-configmain

[2017-07-11 07:43] atelacs commented on #572
Oh sorry
I didn't understand
I checked it
It's also good

[shinken.cfg.pdf](https://github.com/shinken-monitoring/mod-webui/files/1138034/shinken.cfg.pdf)

[2017-07-11 14:36] maethor commented on #572
I don't know. I seems the webui doesn't find the shinken "admin" contact:

[code]

Besides the webui, is shinken working well? Are you sure the broker is receiving the configuration from the arbiter? I believe you have problems between daemons that I will not be able to help fixing :(

[2017-07-13 08:30] xsylx commented on #414
Nagstamon has released 2.01 stable version.

Some news about Webui2 compatibilty with Nagstatmon ?

[2017-07-18 11:26] ylascaux opened #573 "No url button (webui 2.5.1)"
Hi,

On the new version (2.5.1), I don't find the url button on top right of service page.
Are you remove it? Or maybe move to another place?

Thanks in advance.

[2017-07-18 11:31] maethor commented on #573
Hi @hellnight

I'm sorry, I'm not sure to understand what button you are talking about. Do you mean the note url?

Indeed I removed this button it in the last version. I thought nobody was using it. Was you?

[2017-07-18 11:39] ylascaux commented on #573
Hi,
Yes It's the note url. I use it to link the doc for sysadmin :)

[2017-07-18 11:46] maethor commented on #573
Right…

So, indeed, I removed this button. Sorry :(

I will try to make it appear in the Information tab as soon as possible. That would be ok for you ?

[2017-07-18 11:55] ylascaux commented on #573
Yes it's ok for me. I just need this button :)
Thank you in advance.

[2017-07-18 20:58] maethor commented on #573
@hellnight can you paste an exemple of this "notes_url" field please? I have a huge conflict between the shinken documentation and the last webui implementation, I want to know how you use this field in your config.

Is it like in http://shinken.readthedocs.io/en/latest/08_configobjects/hostextinfo.html:

    notes_url  http://url

Or are you using a more complicated syntax, like multiple urls or

[2017-07-19 09:17] ylascaux commented on #573
@maethor I use just a simple action_url :
An example of my config :
[code]

[2017-07-19 16:28] #573 closed, assigned to nobody

[2017-07-19 16:32] maethor commented on #573
Thank you.

@hellnight I just released 2.5.2 which reintroduces action_url and note_url buttons in the eltview information tab. It will take some time to be available in shinken.io, but you should see it tomorrow.

Please let me know if it's OK for you.

[2017-07-20 07:19] ylascaux commented on #573
@maethor Thank you, it's work :)

[2017-07-21 21:33] TheCase opened #577 "allow macro expansion on service notes/action/_url fields"
fields:
notes
action_url
notes_url

It would be nice to be able to create link to something like a http://$HOSTADDRESS$/endpoint/

Nagios currently supports macro expansion in these fields.

[2017-07-23 14:06] maethor commented on #577
I think it should be managed by shinken (typically by the arbiter, which parses the config), not by the webui.

@hvad @mohierf @naparuba @ddurieux am I wrong ? Do you have an advice on this?

[2017-07-25 09:18] serge-marie commented on #566
Hi,

Do you have a local cfg file ?
in you log : "[1495119242] ERROR: [broker-master] [WebUI-auth-cfg-password] You need to have a contact having the same name as your user: vroche"

Because you must have a "/etc/shinken/contacts/vroche.cfg" file.

Like :
define contact{
    use             generic-contact
    contact_name    vroche
    is_admin        1
    expert          1
}

And restart arbite

[2017-07-27 14:27] geekmichael opened #578 "Could not import bare 'module.py'"
I installed two modules: livestatus and logstore-mongodb. After restarting shinken, I got following error message, and there is no log in History tab. Can some one help? Thanks.
[code]

[2017-07-29 07:50] geekmichael commented on #572
I have the same issue after install Shinken from source, however it works through package installation (yum).

I can see 2 contacts in my configuration and both accepted by Aribiter:
/usr/bin/shinken-arbiter -v -c /etc/shinken/shinken.cfg
[code]

Checking system log, I can see following errors:
[code]

[2017-07-29 08:02] geekmichael commented on #572
Shinken 3.0.0 — Web User Interface 2.5.2

[2017-07-29 08:12] maethor commented on #572
Shinken 3.0.0 ??? I don't see it published https://github.com/naparuba/shinken/releases

[2017-07-29 08:15] geekmichael commented on #572
Me too. However, I got this message on the login page.
Here is how I installed Shinken:
[code]

[2017-07-29 08:18] maethor commented on #572
OK, I think your should'nt install the master branch.

[2017-07-29 08:21] geekmichael commented on #572
Agree. I will do downgrade.

[2017-07-29 08:42] #578 closed, assigned to nobody

[2017-07-29 09:48] geekmichael opened #579 "comment lost after restart broker process"
All comments will be lost after restart the broker process. I am not sure if this is a issue regarding webui or Shinken Broker. I can see a record in system log as below:
[code]

[2017-07-29 09:50] geekmichael commented on #579
BTW, I have enabled external command in the main configuration file shinken.cfg
[code]

[2017-09-03 16:42] maethor commented on #579
Hi @geekmichael,

This cannot be a webui bug because comments are managed directly by Shinken. The webui only ask Shinken to store a comment.

So I believe there is a problem in the retention configuration of your Shinken.

[2017-09-03 16:48] maethor commented on #542
Should be fixed by #580 in Shinken WebUI 2.5.4. I'm closing the issue, ping me if it is not fixed.

[2017-09-03 16:48] #542 closed, assigned to nobody

[2017-09-07 14:35] guillaume-u opened #581 "Use status bar states to refine the search"
Hello,

When I make a search like "Test", I get this view (that is normal) :

![shinken_01](https://user-images.githubusercontent.com/469104/30168463-c03a5a12-93e9-11e7-8e3c-b6b538653e07.png)

But, if I click on the status bar : 8/X (where my cursor is), "Test" is not in the search query anymore and returns all services, as below :
![shinken_02](https://user-images.githubusercontent.com/469104/301

[2017-09-08 12:09] pirona opened #582 "issues with dashboard currently"
Hello,

I have a non-updated shinken in production.
I also have an updated shinken, separated from the first one including this commit : https://github.com/shinken-monitoring/mod-webui/commit/ccdf31341a7c347bd09bccd3cc6e030102062905
I have two because I want to move the first one to another server.

Except that :

I'm meeting this following issue, when going to dashboard/currently.
I'm a bit confu

[2017-09-09 09:44] maethor commented on #582
Hi @pirona

It seems you are not running the code you think you are. On your paste I can't see the modification added by https://github.com/shinken-monitoring/mod-webui/commit/ccdf31341a7c347bd09bccd3cc6e030102062905

[2017-09-10 08:05] maethor commented on #581
Hello @guillaume-u

Thanks for this issue, and thank you for using this WebUI :)

This is "normal" because the status bar links are pre-programmed searches.

In your example you see "8/16555 OK services". Clicking on this link doesn't narrow the search to give you only the 8 "Test is:ok" services, but replaces the search to give you all of the 16555 "is:ok" services.

This is the expected behavior

[2017-09-10 08:16] maethor commented on #525
I just deleted the master branch.

[2017-09-10 08:16] #525 closed, assigned to nobody

[2017-09-11 08:38] pirona commented on #582
Hello,

thanks for answering. I got rid of several configuration error by checking this :
/usr/bin/shinken-arbiter -v -c /etc/shinken/shinken.
- in broker.cfg and arbiter.cfg : webui was called in modules instead of webui2

but the error is still there.

This is strange indeed because the one getting the error is the most recent one :
Shinken Logo Shinken 2.4.3 — Web User Interface 2.5.3, ©2011-20

[2017-09-11 09:01] pirona commented on #582
Also,

I checked the updated file of that commit which appears to be right :
![image](https://user-images.githubusercontent.com/31767324/30266737-96fd0dd0-96e0-11e7-8e3b-84173a0baee8.png)

EDIT : I also checked line 570, which is identical to the one in the functional shinken
Maybe I'm reading this wrong, or missing a line ?

[2017-09-11 09:35] maethor commented on #582
You are right, the file is fine, but I think it is not this file which is loaded by your app. I don't know. How did you installed the two webuis ? I don't think you are supposed to run two different versions at the same time.

[2017-09-11 09:39] pirona commented on #582
You're right I'm not !

I'm not exactly sure of how it was done because I didn't do it ... I'm there to analyze and correct whatever is wrong.
Obviously I'm having a hard time to do it :D

[2017-09-11 10:05] maethor commented on #582
I don't think I will be able to help you. Two shinken on the same server seems to be a recipe for disaster.

[2017-09-11 10:08] pirona commented on #582
Maybe I was unclear about that : the two shinkens are not on the same server.

The old and functional one is in production.
The other updated one with problems is still a work in progress, running but not in production.

They are installed on two different servers.

[2017-09-11 10:59] maethor commented on #582
Oh, ok then.

[2017-09-11 12:37] pirona commented on #582
Do you think it is risk free to follow this process :
[code]
 ?

[2017-09-11 14:44] maethor commented on #582
I don't know. The package is already installed so I don't think shinken-cli will reinstall it.

Try `shinken update webui2` maybe.

[2017-09-11 15:47] pirona commented on #582
I m gonna try another approach : my own installation from scratch. We 'll see where this issue comes from then.

[2017-09-12 07:52] guillaume-u commented on #581
Hello @maethor

Thanks for your reply.

Yes, exactly.

I think, but maybe I'm wrong, clicking on this "div" should only a filter once like "is:Warning", "is:OK", ..., to the current query. _(see  below why I'm thinking that)_.

In my mind, If I search "Test is:WARNING" the "OK", "Error", ... links should be at at 0/X (as I ask for Warning state only).
So it will not be possible to make the query "

[2017-09-18 10:00] bmalynovytch commented on #570
Same problem applies to "currently" dashboard, same fix works fine.

[2017-09-22 12:52] pirona commented on #582
Solved it not sure how.
-maybe user permissions, not elevated enough

[2017-09-22 12:52] #582 closed, assigned to nobody

[2017-09-29 08:11] Aornn opened #586 "Can't login on my Webui"
HI !
I've installed Shinken on a VM (debian 9.1 / Kernel : Linux 4.9.0-3-amd64), and when i try to log on the webui i have the message : "Warning! Invalid user or Password" while my admin.cfg is correct :/
[code]

Webui.cfg

[code]
Thanks :D

[2017-09-29 08:31] maethor commented on #586
Hi @Aornn webui (version 1) is not supported anymore, so please uninstall the webui package and install "webui2" instead. I will be happy to offer support on the last version.

Note: I will try to remove webui from shinken.io, because it should be installable.

[2017-09-29 08:38] Aornn commented on #586
Hi !
So, i install webui2 and i have the same error :(
if you need it this is my broker-master.cfg

[code]

and my webui2.cfg
[code]

[2017-09-29 09:20] maethor commented on #586
OK, thank you. I need some time to analyse this, I'll come back to you later.

[2017-09-29 09:37] maethor commented on #586
@Aornn your broker and webui2 configs are looking good, so I think your contact is not properly declared. Do you include admin.cfg in the shinken.cfg?

[2017-09-29 09:39] maethor commented on #586
Can you do this: `sudo grep contact /var/log/shinken/arbiterd.log`

And copy the output ?

[2017-09-29 09:43] Aornn commented on #586
Ok thi is the output :
[code]

[2017-09-29 09:47] maethor commented on #586
Ok, so it looks like the arbiter is loading the contacts.

Can you paste the output of `sudo shinken inventory`?

And `sudo cat /var/log/shinken/brokerd.log | grep auth-cfg-password`?

[2017-09-29 09:49] Aornn commented on #586
output of the second is :
[code]

Anf the first is :
sqlitedb
webui
webui2
auth-cfg-password

[2017-09-29 09:52] willowpet opened #587 "Global bookmarks"
last release of webui:

how to access to global bookmarks ? I can only view this with manage bookmarks (I need to create a user bookmark before to acces to this menu)

[2017-09-29 10:00] maethor commented on #586
OK. Now I'm kind of stuck honnestly. Can you empty the line "modules" in your webui2.cfg, and try again? `auth-cfg-password` should be embedded anyway.

[2017-09-29 10:02] Aornn commented on #586
i've already do it earlier but it change nothing :/

[2017-09-29 10:08] maethor commented on #586
Can you remove the "expert 1" line in contact definition. I don't think it can play a role but I don't see anything else.

[2017-09-29 10:10] Aornn commented on #586
Nope same :(
I really have no idea ...

[2017-09-29 10:13] maethor commented on #586
`sudo shinken inventory` ?

[2017-09-29 10:14] Aornn commented on #586
`sudo shinken inventory`
[code]

[2017-09-29 10:21] maethor commented on #586
It seems I have `auth-cfg-password`. I don't know, can you try to install it?

I'm sorry I don't have time to investigate it further. I will do some tests later.

[2017-09-29 10:40] maethor commented on #587
Hi @willowpet,

Since you didn't post any screenshot, I'm not sure to understand your problem.

To create a global bookmark you need to create a user bookmark, then go to "Manage bookmarks", and use the button to make it global. After doing that, you should see a global bookmark in the bookmarks menu.

[2017-09-29 11:12] willowpet commented on #587
Hi,

I added some global and user bookmarsk but there are not bookmarks in the bookmarks menu.

[2017-09-29 11:17] maethor commented on #587
I can't reproduce. Bookmarks are working well on my setup.

Was it working on the last version? (2.5?)

[2017-09-29 11:18] willowpet commented on #587
2.6

[2017-09-29 11:19] maethor commented on #587
I'm sorry, was it working on the previous version, 2.5?

[2017-09-29 11:22] willowpet commented on #587
yes, it worked with the previous version

[2017-09-29 11:25] maethor commented on #587
I'm sorry but since I cannot reproduce the problem, can you describe me exactly what is working and what is not. Do you see all the bookmarks in the modal popup ? Do you see user bookmarks in the menu, or no bookmark at all ? Please add screenshots if you can.

[2017-09-29 11:37] willowpet commented on #587
I don't see any bookmarks in the modal popup., just "No defined bookmarks"

[2017-09-29 11:49] maethor commented on #587
Can you paste me the output of `sudo grep Preferences /var/log/shinken/brokerd.log` ?

[2017-09-29 11:58] willowpet commented on #587
no match

[2017-09-29 12:09] maethor commented on #587
It seems you don't have the mongodb storage backend configured. Can you check that your webui2.cfg didn't changed when you did the update? But I don't understand, you should have at least an exception of some kind.

`sudo grep prefs /var/log/shinken/brokerd.log` ?

[2017-09-29 12:14] willowpet commented on #587
We use mongodb at storage backend
uri                        mongodb://.....

[2017-09-29 12:21] maethor commented on #587
With all respect, if you don't answer half of my questions I will let you debug this by yourself.
I do this on my free time, so please make an effort.

[2017-09-29 12:32] willowpet commented on #587
no match for grep prefs /var/log/shinken/brokerd.log
no change for webui2.cfg

[2017-09-29 12:50] willowpet commented on #587
I restart shinken and grep Preferences match:

[1506688681] INFO: [broker-master] [WebUI-MongoDBPreferences] mongo uri: mongodb://xxxx1:27017,xxxx2:27017,xxxx3:27017,xxx4x:27017
[1506688681] INFO: [broker-master] [WebUI-MongoDBPreferences] database: shinken, user: None
[1506688681] INFO: [broker-master] [WebUI-MongoDBPreferences] Trying to open a Mongodb connection to mongodb://xxxx1:27017,xxxx2:2

[2017-09-29 12:59] mohierf commented on #586
@maethor, IMHO:
 1. `sqlitedb` module with the WebUI, not sure it does not have any side effects
 2. post the brokerd log | grep WebUI

[2017-09-29 13:02] maethor commented on #586
@mohierf it seems that without the sqlite module it isn't working either. It's like the datamanager doesn't get populated by the objects.

[2017-09-29 13:23] maethor commented on #586
@Aornn can you restart shinken, wait a few minutes, and get me all the output of `grep WebUI /var/log/shinken/brokerd.log` ?

[2017-09-29 13:23] maethor commented on #586
And even all of the `/var/log/shinken/broker.log` if that's possible.

[2017-09-29 15:36] cyrilbkr commented on #586
Hi,
Same prob for me on a fresh install today

[1506698856] INFO: [broker-master] [WebUI] starting Web UI server on 0.0.0.0:7767 ...
[1506698964] INFO: [broker-master] [WebUI]  user 'admin' is signing in ...
[1506698964] INFO: [broker-master] [WebUI] Checking authentication for user: admin
[1506698964] INFO: [broker-master] [WebUI] Requesting authentication for user: admin
[1506698964] INFO: [brok

[2017-09-29 15:55] maethor commented on #586
@cyrilbecker can you paste me the output of `sudo grep contact /var/log/shinken/arbiterd.log` and `sudo grep WebUI /var/log/shinken/brokerd.log` ?

[2017-09-29 16:12] cyrilbkr commented on #586
[1506698851] INFO: [broker-master] We received modules [<module type=webui2 name=webui2 />]
[1506698853] WARNING: [broker-master] [WebUI] Can not import Alignak frontend library. If you intend to use Alignak backend authentication or objects, you should 'pip install alignak_backend_client'
[1506698853] INFO: [broker-master] Correctly loaded webui2 as an old-new-style shinken module :|
[1506698854]

[2017-09-29 16:18] cyrilbkr commented on #586
[1506701672] INFO: [Shinken] Processing object config file '/etc/shinken/templates/generic-contact.cfg'
[1506701672] INFO: [Shinken] Processing object config file '/etc/shinken/contactgroups/users.cfg'
[1506701672] INFO: [Shinken] Processing object config file '/etc/shinken/contactgroups/admins.cfg'
[1506701672] INFO: [Shinken] Processing object config file '/etc/shinken/contacts/guest.cfg'
[15067

[2017-09-29 16:33] maethor commented on #586
Just to be sure, can you try the user guest with password guest ?

[2017-09-29 16:35] cyrilbkr commented on #586
same

[1506702852] INFO: [broker-master] [WebUI] Requesting authentication for user: guest
[1506702852] INFO: [broker-master] [WebUI] Authenticating user 'guest'
[1506702852] INFO: [broker-master] [WebUI] Internal htpasswd authentication
[1506702852] INFO: [broker-master] [WebUI] Internal alignak backend authentication
[1506702852] INFO: [broker-master] [WebUI] Internal contact authentication
[150

[2017-09-29 17:22] maethor commented on #586
Well. This is my last chance. Can you remove the SQLitedb module? Because you don't need it, the WebUI use natively MongoDB now.

If it's not enough, I don't know. I plan to install a demo from scratch, so it will be a nice occasion to test it.

One last question, what version of shinken are you using? How did you installed it?

[2017-09-29 17:56] cyrilbkr commented on #586
My bad, I was using the last Shinken 3 build... I tried again with a fresh 2.4.3 and it works perfectly. Thanks

[2017-09-29 20:36] maethor commented on #586
Oh, Thank god :+1:

@Aornn can you tell me what version you are using?

[2017-09-29 20:39] maethor commented on #572
@geekmichael @Atelacs please install shinken 2.4.3 instead of 2.2 ou 3. I have confirmation that 3 doesn't work well.

[2017-09-29 20:39] #572 closed, assigned to nobody

[2017-09-30 06:09] maethor commented on #587
Can you open a console in your brower and (on chrome, right click, inspect, console), reload any shinken webui page, and tell me if you see an error about bookmarks.

If so, I just fixed your bug, it will be pushed in the coming 2.7 unless I need to make a 2.6.1.

[2017-09-30 09:49] willowpet commented on #587
Hello,

I have this error:

dashboard:116 Uncaught ReferenceError: declare_bookmark is not defined at dashboard:116
(anonymous)	@	dashboard:116

Thanks for your help

[2017-09-30 20:52] torgiren opened #588 "Support for grafana"
Hi.
There are plugins for graph from pnp4nagios and graphite...
Is there any chance, for plugin for grafana?

[2017-10-01 04:58] maethor commented on #588
Hi @torgiren,

Sadly not, and I don't use grafana myself so I cannot help. But I know @guillaume-u is really motivated to make one. That's right @guillaume-u ? :)

@torgiren If you know how to develop in Python, I can also explain to you how to do it. You just need a function that return an list of images for a given element between two given timestamps. For example,  `mod-ui-pnp` is just a matter

[2017-10-02 08:42] #587 closed, assigned to nobody

[2017-10-02 08:50] willowpet commented on #587
that's works, thank you very much

[2017-10-02 09:23] Aornn commented on #586
Ho sorry i didn't seen the answers .. i try this !

[2017-10-02 10:24] Aornn commented on #586
So !
grep WebUI /var/log/shinken/brokerd.log :

`[1506938492] WARNING: [broker-master] [WebUI] login page with error message: Invalid user or Password`

cat /var/log/shinken/brokerd.log :
`[1506938492] WARNING: [broker-master] [WebUI] login page with error message: Invalid user or Password`

Shinken version : 3.0
Webui Version : 2.6.0

[2017-10-02 12:36] Aornn commented on #586
Ok so i think, i will try with a fresh 2.4.3 and do you have a link or something to it ?

[2017-10-03 08:26] maethor commented on #586
Ok. Shinken 3 is not released yet and it is known to not work. I confirm you should really install 2.4.3.

How did you installed Shinken ? You should do it with `pip`, not with `git clone`.

[2017-10-03 08:52] Aornn commented on #586
Ok now it's work ! thank you ! i dot it with a ".tar"

[2017-10-03 09:02] maethor commented on #586
Great! :)

[2017-10-03 09:03] maethor commented on #586
Have fun with the WebUI. And please don't hesitate to make comments or suggestions :)

[2017-10-06 14:25] xsylx opened #589 "[WebUI 2.6.1] Issue on Acknolegdement"
Since i have update WebUI to 2.6.1, acknoledgement isn't possible with button located on business impact banner.

![2017-10-06_16h22_48](https://user-images.githubusercontent.com/16323410/31282430-d4e64518-aab2-11e7-9ef6-f831994fd551.png)

Button located on left side works.

Any idea ?

[2017-10-07 07:38] maethor commented on #589
Thank you for your report @SylvainGuibert

I believe you also have the bug in the problems view. I am currently working on a complete rewrite of theses actions for 2.7. Since this is not critical (you can use other buttons to ACK), this bug will be fixed soon but not in the 2.6 branch.

I'll keep you posted when 2.7 is released.

[2017-10-09 14:17] ornoone opened #590 "tooltips in «Minemap» break the table columns"
### version
Shinken 2.4.3 — Web User Interface 2.6.1,

### page

minemap

### expected behavior

when I mouse over un item in the table, a tooltip apeare to show me detail on the over status. (ie: warning 12 sec ago)

### current behavior

the tooltip is there, but it shift all item to the right.

### hypothesis

after a small inspection, it seem that the tooltip is anchored to the <td>, and the <

[2017-10-10 11:19] maethor commented on #590
Thank you @ornoone, I will take a look.

[2017-10-10 13:46] bmalynovytch commented on #590
I can confirm the behavior.
I also noticed that hovering the row moves everything one column to the right, while hovering the circles messes everything on its right.

[2017-10-17 08:29] #590 closed, assigned to nobody

[2017-10-17 13:14] ornoone opened #594 "error 500 on contact page."
## version

Shinken 2.4.3 — Web User Interface 2.6.1

## problem

many page give me a error 500 with some templates errors.

### contact

page: /contact/existingcontact
error: NameError("name 'user' is not defined",)
[code]

### preferences
page: /user/pref
[code]

### note

I will work on it to propose a PR this afternoon.

[2017-10-17 15:41] maethor commented on #594
As I said in #595, already fixed in my local dev branch. Will be released soon.

[2017-10-17 15:41] #594 closed, assigned to nobody

[2017-10-19 09:12] maethor commented on #589
@SylvainGuibert I just released 2.7.0. Can you try and let me know if your bug is fixed?

[2017-10-19 09:12] #586 closed, assigned to nobody

[2017-10-19 09:54] khanga6tm opened #596 "Webui2 does not show host/service overview panel,"
Dear all,

I am facing big problem with webui in my production (I did not face in my lab). That is webui does not show overview panel, my staff does not get IP Address of problem host to process.
In my lab it showed
![image](https://user-images.githubusercontent.com/27798807/31765287-152ec920-b4ee-11e7-90eb-5960a54957e6.png)

But in production it does not show.

[2017-10-19 12:07] maethor commented on #596
Hi @khanga6tm

That is not what I would call a big problem :)

This panel has been removed 2 or 3 versions ago. So I think your lab is just outdated. What WebUI version are you running? Anyway, you should upgrade to the last version (2.7.0).

[2017-10-20 03:12] khanga6tm commented on #596
Hi Maethor,

Thanks for your feedback, I did upgrade to 2.7.0 yesterday.

For me that is ready big problem because no ip address is no escalation.

I am using thruk right now, it is old and works slow.

[2017-10-20 06:03] maethor commented on #596
I'm sorry, I don't understand. What are you trying to do? Escalations are not managed by the WebUI, but directly by Shinken. What do you need this overview panel for?

[2017-10-20 06:12] maethor commented on #596
Oh, I understand now. Indeed, the address is not displayed in the Information tab. I will fix this. Thank you.

[2017-10-20 06:29] maethor commented on #596
@khanga6tm I just published 2.7.1 which fixes your problem and should be available in shinken.io in a couple of minutes. Please update and tell me if that's ok for you.

![toto](https://user-images.githubusercontent.com/2410576/31807854-b8f4aa48-b570-11e7-8751-1eb63cb75619.jpg)

[2017-10-20 08:00] khanga6tm commented on #596
Great! thanks for your support!

[2017-10-20 08:00] #596 closed, assigned to nobody

[2017-10-20 09:52] maethor commented on #596
Your welcome :)

[2017-10-20 13:34] SriRaoul opened #597 "Is Webui running on Windows ?"
Hello,

 I'm trying to start Webui 2.5.4 on a Windows Server 2012 R2. Among many errors, I've got

[91m[1508493694] ERROR: [broker-master] Could not import bare 'module.py' from C:\shinken\var\modules\webui2 : No module named crypt

Since crypt is an unix specific module, and that I ran into other issues which I think are related to multiprocessing on Windows, I wonder : is webui meant to run on W

[2017-10-20 16:22] maethor commented on #597
Hi @SriRaoul

First, please use the last version of the WebUI, that is 2.7.0. I will not offer support on old versions.

I really don't know if you will be able to run the webui on Windows. I'm not using Windows myself, sorry.

[2017-10-25 05:28] xsylx commented on #589
@maethor : it seems to be ok with 2.7.1 . Thx for your job !

[2017-10-25 06:23] maethor commented on #589
Great! ;)

[2017-10-31 15:30] kalinikos opened #598 "Error accessing the "service-group tab""
Hello,
i recently uppdate my Webui2 module to version "WEBUI_VERSION = "2.7.1" and now when i try accessing "Service-group tab"(http://my-shinken-server/services-groups) unfortunately i have the error message with the next traceback:

Traceback (most recent call last):
  File "/usr/lib/python2.7/site-packages/bottle.py", line 862, in _handle
    return route.call(**args)
  File "/usr/lib/python2.7

[2017-10-31 15:31] rkruglickyi commented on #598
+1

[2017-10-31 15:33] DmytroObertan commented on #598
+1

[2017-10-31 15:33] yshalenyk commented on #598
+1

[2017-10-31 15:40] yarsanich commented on #598
+1

[2017-10-31 15:45] pontostroy commented on #598
+1

[2017-10-31 15:45] shellshock1953 commented on #598
+1

[2017-10-31 16:33] maethor commented on #598
OK OK, +1s will not make me fix it sooner. I will try to fix this tomorrow.

[2017-11-03 05:22] #598 closed, assigned to nobody

[2017-11-03 05:25] maethor commented on #598
Hi @kalinikos

I just released 2.7.2 which fixes this bug: https://github.com/shinken-monitoring/mod-webui/releases/tag/2.7.2

Thank you for reporting it.

[2017-11-10 08:29] khanga6tm opened #599 "Time on Webui2 is not correct"
Hi all,
Thanks for reading!
I faced issue about time in webui2. My time and webui2 time is not correct. does anyone suggest me a solution or hot-fix for it?
![image](https://user-images.githubusercontent.com/27798807/32649228-d805615e-c62b-11e7-8d4c-39047b332f3b.png)

[2017-11-10 08:32] ornoone commented on #599
hi khanga6tm

- what is the timezone of your shinken server ?
- whit is the timezone in your shinken's conf ?
- is it the same timezone as your desktop ?
- is your server sync with a time server ? `apt-get install ntpdate`

[2017-11-13 04:40] khanga6tm commented on #599
Thanks for your response. Off course before sending a post I checked it.
First - Time in server and my laptop
![image](https://user-images.githubusercontent.com/27798807/32709977-4ab3a16a-c867-11e7-9195-75490b984a00.png)
2nd - Ntpd is working
![image](https://user-images.githubusercontent.com/27798807/32709978-53324968-c867-11e7-94fe-382397d52215.png)

3rd - I configured Time zone already in shink

[2017-11-13 15:53] #589 closed, assigned to nobody

[2017-11-13 16:00] xsylx opened #600 "[Webui 2.7.1] Issue with service description which contain accented letters"
We running Web ui 2.7.1.

When you are on a host, you can see all service and you can click on "service description" to check details. When a service description contain an accented letter a 404 page is displayed.

If you replace accented letters by letters, it's works fine.

[2017-11-14 07:21] maethor commented on #600
Hi Sylvain,

It may be a bug in the regex search, honestly I don't think I will fix it.

[2017-11-14 07:53] ornoone commented on #599
can you check the timezone of your webui2.cfg ?
you set your timezone of shinken daemon, which is good, but the webui use a different config file located in `module/webui2.cfg`

edit: I did successfully change my tz displayed by changing this settings and restarting in order the arbiter and the broker

[2017-11-14 08:32] ornoone opened #601 "clean old or resolved issues"
I know it can be boring, but i think it can be a good idea to refresh actives issues. I can bring some support with you, but it will be easier to start from scratch.

what do you think @maethor ?

[2017-11-14 08:52] maethor commented on #601
Hi @darius,

What do you mean by "start from scratch"? Do you think we should completely purge the tracker?

[2017-11-14 09:01] ornoone commented on #601
no, but check if some are really outdated and if some other will probably never be fixed. maybe add some tags like «won't fix» or «need details». I am sure that some open issues is no revelants anymore

[2017-11-14 09:05] xsylx commented on #600
Hi Maethor,

Thanks for your answer. We can try to fix it if you tell us where we have to search.

Accented letters works fine in 2.6.x.

Thx

[2017-11-14 10:42] maethor commented on #601
OK. I'm doing it from time to time. If you want to take a tour now, be my guest :)

[2017-11-14 10:45] maethor commented on #600
Hm, so it is a regression. That's odd, I didn't touch the datamanager too much. So I really don't know where to begin the search. Maybe check if the link points to the same URL in 2.6 and 2.7, to check if the problem is the link generation or the routing of the URL.

[2017-11-14 11:52] xsylx commented on #600
My bad, it doesn't work on 2.6.x .... and 2.4.x....

So if you won't fix it, i will close this issue.

[2017-11-16 07:01] khanga6tm commented on #599
Thank you!

I changed as your guide. The dashboard time is correct.

![image](https://user-images.githubusercontent.com/27798807/32877952-833bc492-cad6-11e7-8621-220d1fd822ae.png)

But the time check is not correct

![image](https://user-images.githubusercontent.com/27798807/32877986-a577623c-cad6-11e7-93ac-6968e194bc8c.png)

[2017-11-20 15:37] cleonn opened #602 "Output parsed wrong"
https://github.com/shinken-monitoring/mod-webui/blob/0b890c06c2f63dca84293079733e58144cfa514f/module/plugins/problems/views/problems.tpl#L185

This will parse a line looking like:

`>>> /path/to/file: syntax error near line 2 <<<`

wrong and output it like:

`&gt;&gt; /path/to/file: syntax error near line 2 &lt;&lt;&lt;--&gt;`

This entire line could be removed? I'm guessing it's there for debuggi

[2017-11-21 07:00] maethor commented on #602
Hi,

Thank you for your comment. Indeed, this is not the good way to comment jinja stuff. We should use `{# #]` instead. It could be a huge cleanup work, not only this line, so I will need some to fix this.

Thanks you.

[2017-11-22 05:36] torgiren commented on #588
ok, thanks.
I will look at this, when I configure my new installation of shinken and grafana

[2017-11-22 05:36] #588 closed, assigned to nobody

[2017-11-29 13:56] #600 closed, assigned to nobody

[2017-11-29 14:43] xsylx opened #604 "[Webui] Implement SSL on Webui2"
Hello !

I have follow @mohierf instructions (https://github.com/shinken-monitoring/mod-webui/wiki/Frontend-Web-server) to set up a frontend Nginx server (with SSL) for the webui, but i still have a issue...

Webui is accessible throught HTTPS with a valide certificate (👍 ), but i don't know how to disable direct url to python bottle. (http://hostname.domaine.ltd:7767).

I tried to limit localhost

[2017-11-29 16:00] maethor commented on #604
Hi @SylvainGuibert

The best and cleaner way to do it will be to configure a firewall on your server, and only allow external connections on what you want to allow. You can also configure a firewall to allow everything by default and explicitly close port 7767.

[2017-11-30 08:33] xsylx commented on #604
Hi @maethor , (thx for your answer)

I understand your tips, but, if i put "127.0.0.1" to "host" directive on the webui.cfg, webui must only repond to request which come from localhost ? I don't undestand how webui respond directly to client because in this configuration is listen only on localhost interface.

Nginx is on the same server, so it can request webui throught 127.0.0.1 address  right ?

[2017-11-30 09:35] KroMignon opened #605 "Error 500 in Logs"
# Version
Shinken: 2.4.3
WebUI: 2.7.1
OS: Debian GNU/Linux 7.11 (wheezy)

# Problem
Got error 500 when selecting System/Logs

[code]

[2017-11-30 09:42] KroMignon opened #606 "Error 500 in System/Alerts"
#Version
Shinken: 2.4.3
WebUI: 2.7.1
OS: Debian GNU/Linux 7.11 (wheezy)

# Problem
Got error 500 when selecting System/Alerts
[code]

[2017-11-30 15:16] maethor commented on #604
I agree that it would be the expected behavior. We should run bottle with `host=127.0.0.1` (line 428 of module.py). But it doesn't seem to work as expected and I don't have time to investigate on this.

Can you search for `starting Web UI server on` in your brokerd.log ?

[2017-12-01 03:21] khanga6tm commented on #599
Hi all,

I would like to announce the issue was over. After reboot the server, time is correct.

Thank for all feedback!

[2017-12-01 03:21] #599 closed, assigned to nobody

[2017-12-01 13:56] xsylx commented on #604
Thx for your answer.

I have changed line 159 of module.py (/var/lib/shinken/modules/webui2/) from

 to

 and it's OK. Shinken webui respond only on SSL url. (My Webui version is 2.4.2c on my lab server) [ 2.7.1 on my prod server].

Thanks for your answer !

[2017-12-02 07:23] maethor commented on #604
I don't think it is OK. I mean, you should not need to modify the source code of the webui to make this work, and your change will be erased at the next update.

[2017-12-04 12:25] xsylx commented on #604
You'r right, but change this settings on webui.cfg should not be enough ! So ...

I will upgrade my test plateform to 2.7.2 and check if it's ok.

[2017-12-04 15:18] xsylx commented on #604
With 2.7.2 Webui, limitation to 127.0.0.1 seems to be ok.

No source code modification needed !

Thanks for your help.

My config file :

[code]

[2017-12-04 15:18] #604 closed, assigned to nobody

[2017-12-05 16:22] pydubreucq commented on #606
Hi,
Same error for us
http://forum.shinken-monitoring.org/threads/10630-Impossible-d-acc%E9der-aux-stats-et-logs
Bye

[2017-12-05 16:22] pydubreucq commented on #605
Hi,
Same error for us
http://forum.shinken-monitoring.org/threads/10630-Impossible-d-acc%E9der-aux-stats-et-logs
Bye

[2017-12-06 09:31] lvicainne opened #607 "Error 500 in Services"
Hello !
I have  500 errors using the servcies page anf WebUi2 2.7 (I was using WebUi2 2.4 and it was working fine)

In "/var/lib/shinken/modules/webui2/helper.py", I commented the incriminated lines :
[code]

Thus, it avoids me to get the following error.
Thanks for your code and your project !

[2017-12-06 12:23] maethor commented on #606
Hi,

Thank you for reporting this issue here. Indeed, I am not present on the forum.

In fact, I just realized this module cannot work for anyone except me, because I have hardcoded a filter that will not work for you. I will try to fix it this week.

[2017-12-06 12:25] maethor commented on #607
Thank you for reporting.

I'm not sure to understand what is causing this error, but I will look into it.

[2017-12-06 15:33] lvicainne commented on #607
Hello @maethor  !
Thanks for your reply !
To give you more details, it is because the plugin returns some bad values after the "|" (instead of number, it is a string).
Anyway, I propose to modify these 2 lines by checking if used_pct is a float instead of check if it's not None :-)

[2017-12-06 20:16] maethor commented on #607
I don't see why `used_pct` would be a string. I will fix it :)

[2017-12-06 20:39] lvicainne commented on #607
Hi !
The source problem is from one of my plugins ;-) which return a string instead of a number.
But if WebUI2 can be resilient in case of bad plugins, it's better ! :-)

[2017-12-06 20:42] maethor commented on #607
Oh, ok, thank you, I understand now.

[2017-12-07 13:08] KroMignon commented on #606
Hi maethor,

is it not here the right place to submit issues?
Is there a bug tracker somewhere else for WebUI?

[2017-12-07 15:07] maethor commented on #606
@KroMignon It is the right place, yes. Github is the official bug tracker for the WebUI.

I don't have too much time because December is always a busy month in my company, but I will try to look at this as soon as possible.

[2017-12-18 14:41] #602 closed, assigned to nobody

[2017-12-18 14:41] #601 closed, assigned to nobody

[2017-12-18 14:47] #605 closed, assigned to nobody

[2017-12-18 14:47] maethor commented on #605
Hi,

Thank you for reporting this error. I just fixed it, it will be published in 2.7.3

[2017-12-18 14:54] maethor commented on #607
I really don't understand how `used_pct` would be anything else than a float, but I changed the check. It will be fixed in 2.7.3

[2017-12-18 14:58] #607 closed, assigned to nobody

[2018-01-04 15:58] joshsutton commented on #606
@maethor Have you had any time to take a look at this issue?

Thanks so much for your time!

[2018-01-04 20:44] maethor commented on #606
@joshsutton nope, and with Meltdown and Spectre, I will be busy for a few days :-(

I promise I will not forget you.

In fact, this problem is quite hard. I cannot make stats on every logged notifications, right? Because if you have an alert that is notified three time by email to 20 people, and an alert that is notified 60 times on your chatroom, your stats should show the second, and not the fir

[2018-01-08 12:14] kmay83 opened #608 "Webui2 with network map on shinken"
Hi everyone !
I'm on CentOS, with shinken 2.4.3 and webui2
I'm looking for widget like to network map on nagios.

Can you help me ?
Thx

[2018-01-16 20:31] b-keller opened #609 "[2.7.2]element view access"
Hi,

I can't access any elements from search, group or problem views :
Actually, if I clic on any elements from this views, the link send me back to search...
`http://xxx.xxx.xxx.xxx:7767/all?search=host:sw4`
but it shoud be
`http://xxx.xxx.xxx.xxx:7767/host/sw4`

I missed something ?
Thx

[2018-01-16 21:00] b-keller commented on #608
You can use world map in tactical views or Worldmap widget !
You must define `_LOC_LAT` and `_LOC_LNG` in all host config file you whish to see in world map.

https://github.com/shinken-monitoring/mod-webui/wiki/Configuration---Worldmap

[2018-01-17 07:35] maethor commented on #609
This is a behavior change in 2.7. For an host, I think the "search" view is more useful and well designed than eltview. This is true only for hosts. If you clic on a service name you are linked directly in the element view.

To access an element you have a "Details" link in the accordion. Do you see it?

[2018-01-17 21:55] b-keller commented on #609
Ok, perfect.
thanks for the explanations !
I close.

[2018-01-17 21:55] #609 closed, assigned to nobody

[2018-01-22 05:22] bmalynovytch commented on #514
Sadly, in latest (2.7.2) webui release, the issue still exists :(

[2018-01-22 05:37] bmalynovytch commented on #514
In fact, the problem isn't the same: it's not random but permanent and maybe related to 983dd0d1d446a8287da1afefe2a5d643ff3892e1 as bootstrap-switch CSS and JS were deleted.

I'll open a new issue => #610

[2018-01-22 05:41] bmalynovytch opened #610 "[BUG] Widget switch notification toggle broken"
The "switch notification" toggle isn't working anymore in 2.7.2 (see screenshot)
<img width="291" alt="capture d ecran 2018-01-22 a 06 39 17" src="https://user-images.githubusercontent.com/7847492/35206732-0bd26468-ff3f-11e7-9b0e-9775240667c4.png">

It may be due to bootstrap-switch that was removed in 983dd0d1d446a8287da1afefe2a5d643ff3892e1.

[2018-01-22 05:49] bmalynovytch commented on #610
Restoring the CSS and JS files of bootstrap-switch fixes the 404 errors but the switch still doesn't work, without any JS error.

[2018-01-22 07:25] maethor commented on #610
Hi @bmalynovytch

Bootstrap-switch has nothing to do with the problem. I removed it for design purposes (because it was really buggy and kind of ugly).

It seems I removed the javascript action associated to this checkbox. I will look into it.

Thank you.

[2018-01-22 19:45] b-keller commented on #527
no more problem, you can close it

[2018-02-01 06:07] bmalynovytch opened #611 "Services remain shown as in downtime after end of downtime"
Webui2 reports services in downtime for ever.
The services stuck in this case are passive checks.
If think it's only webui related, because we still get notified when the services changes state.

WebUI: 2.7.2

[2018-02-01 11:24] maethor commented on #611
Hi @bmalynovytch

I don't use passive checks so it will be quite hard to debug for me. Do you have the problem everywhere in the webui, or only in some pages?

[2018-02-01 12:06] bmalynovytch commented on #611
It seem to be general.
If you could point me the code that gathers the state to be displayed or handlers the "state to display", I'll run some tests to check wether it's GUI or core related.

[2018-02-01 14:25] maethor commented on #611
I can't, this code is in shinken core, not in the webui. I really think it is core related because in the webui we just use `element.in_scheduled_downtime` to know if an element is in downtime.

[2018-02-08 23:18] kernhsab commented on #387
Hi, i've the same issue on my fresh shinken install with webui2 and ui-graphite2.
Maybe is there a way to insert the graph_start and graph_end variable in the graph template?

Thanks for your help

[2018-02-14 12:19] jackewitz commented on #414
Magstamon 3.0.2 is out. What about connect shinken to nagstamon?

[2018-02-25 21:49] cornernote commented on #495
Web User Interface Version
Shinken Web UI, version: 2.4.2c

Shinken Framework Version
Shinken Framework, version: 2.4.3

Error: 500 Internal Server Error
Sorry, the requested URL 'http://example.com/all?search=cg:admins' caused an error:

Internal Server Error
Exception:
AttributeError("'User' object has no attribute 'get_groupnames'",)
Traceback:
Traceback (most recent call last):
  File "/usr/lo

[2018-02-26 08:00] ornoone commented on #495
hi, I don't reproduce with Shinken Web UI, version: 2.7.2. your 2.4.2c seem pretty old.

[2018-02-26 10:22] anthony-sticky commented on #606
Hi,
Do you have any update on this issue @maethor please?

[2018-03-14 09:54] eduault commented on #534
And it would be intersting for the user to be able to filter hosts and services in the dasbord using a widget. For example, I would be able to add a checkbox in the dashboard. When the user checks this checkbox, only hosts and services which are KO would be displayed (only in the page this user displays in his browser, not for all users).

[2018-03-15 16:02] cornernote commented on #495
tru dat!

Upgraded and it's all good now.

[2018-03-27 06:38] xsylx commented on #577
I'm interested too for this feature. All of my hosts use template for services...so i need working macros on this fields.

Any idea or tips ?

[2018-04-19 08:46] anthony-sticky commented on #606
@joshsutton @KroMignon @pydubreucq Did you find any way to fix this?

[2018-04-20 06:27] maethor commented on #606
No update because as I said earlier I don't know how to fix this. As I am the only one looking for it, one day I will find a solution, maybe, I don't know.

[2018-04-23 08:41] anthony-sticky commented on #606
Arf OK, I can't help here unfortunately

[2018-06-22 14:55] m2cci-KGY opened #615 "[1529676079] ERROR: [broker-master] [WebUI-graph] Image URL not found: 404 - http://"
Hello
I installed shinken and graphite but when I run shinken and see my shinken dashboard I don't see the graph.
so I saw yhe logs in brokers.log I see this problem :

[1529676079] ERROR: [broker-master] [WebUI-graph] Image URL not found: 404 - http://.................../render/?width=320&height=240&fontSize=8&lineMode=connected&from=16:01_20180621&until=16:01_20180622&tz=Europe/Paris&title=local

[2018-07-19 14:58] ichigo29 opened #618 "Can't connect with most recent Shinken (> 2.4.3)"
Hi,
I've done a fresh install of shinken and when i'm trying to connect to the web interface with admin/admin or guest/guest, i'm not able to. Hi add the same problem few month ago, trying it for a student project.
Seems it is the same problem that the #586 issue but when i'm doing "shinken --version" it says shinken 2.4.3.

probably important
I've not install shinken with "pip install" because ev

[2018-07-30 07:36] ichigo29 commented on #618
up

[2018-08-27 09:51] maethor commented on #618
I'm sorry @ichigo29 I don't know how to help you.

What version of the WebUI did you installed? Are you sure `/etc/shinken/contacts/admin.cfg` is included in your `shinken.cfg`?

[2018-08-27 10:18] mohierf commented on #618
Perharps some log will help to understand ... please restart your broker, try to connect and then provide the broker log file.

PS: sure about this: ``chown -R shinken.shinken /var/log/shinken`` ? It should be ``shinken:shinken`, no ?

[2018-09-03 03:01] mohierf opened #621 "Host/service check result submit commands fail"
When trying to submit a check result for an host or service, the commands raised are not correctly formated.

For an host: `PROCESS_HOST_HOST_CHECK_RESULT` is raised rather than `PROCESS_HOST_CHECK_RESULT`

For a service: `PROCESS_SVC_HOST_CHECK_RESULT` is raised rather than `PROCESS_SERVICE_CHECK_RESULT`

[2018-09-03 08:42] #621 closed, assigned to nobody

[2018-09-06 12:18] danirod commented on #618
Hello. I recently had the exact same issue and I could fix it by patching upstream shinken. I wrote a fix which has been sent to the upstream Shinken repository as naparuba/shinken#1971.

Using upstream shinken, you'll find messages on WebUI's log saying:

    You need to have a contact having the same name as your user: admin
    The user 'admin' has not been authenticated.
    user 'admin' acces

[2018-09-07 03:27] mohierf commented on #618
Great job @danirod

I was not aware of these modifications in the Shinken core... I had a look to your PR and it really makes sense

[2018-09-10 04:36] maethor commented on #618
Thank you @danirod

I'm not sure you should be using upstream Shinken. 2.4.3 should be the last stable version.

[2018-09-16 11:53] thifranc commented on #618
Thanks a lot @danirod ! I was stuck the same way with 2.4.3 and your fix helped me

[2018-09-19 08:32] ayaloulameche opened #624 "No system information available in system Status"
Hello,

When I go on System => Status, I got the message "No system information is available" (same message using Chrome or Firefox) :
![image](https://user-images.githubusercontent.com/16012726/45740167-ee58a000-bbf4-11e8-84b1-c89e15b4c392.png)

I'm on :
OS : Centos 7.5
Shinken : 2.4.3
Webui2 : 2.7.2

Installed Python Modules :
anyjson                       0.3.3
arrow                         0.1

[2018-09-19 11:11] mohierf commented on #624
Your hosts and services are visible in the WebUI ? If not, you have a communication problem between the UI and the Shinekn core ... have a look here: https://github.com/naparuba/shinken/issues/1970

[2018-09-19 12:04] ayaloulameche commented on #624
Yes, everything works in Webui except this functionality.

[2018-09-20 03:37] mohierf commented on #624
Ok. If you do not have information in this page it means the the WebUI does not receive the daemons status broks ... any log in the broker log file ?

[2018-09-20 15:33] ayaloulameche commented on #624
This is the log of the broker :

[1537454957] INFO: [Shinken] Shinken 2.4.3
[1537454957] INFO: [Shinken] Copyright (c) 2009-2014:
[1537454957] INFO: [Shinken] Gabes Jean (naparuba@gmail.com)
[1537454957] INFO: [Shinken] Gerhard Lausser, Gerhard.Lausser@consol.de
[1537454957] INFO: [Shinken] Gregory Starck, g.starck@gmail.com
[1537454957] INFO: [Shinken] Hartmut Goebel, h.goebel@goebel-consult.de
[

[2018-09-21 14:21] ayaloulameche commented on #624
I am in HA configuration, so I have made a test.
I stopped the Shinken master to switch on the Shinken Spare, and when I went on system > Status on the spare Webui, daemon status appear correctly.
So, with a little search, I found that this issue is already referenced on the shinken forum :
https://github.com/naparuba/shinken/issues/1814
I hope Shinken 3.0 will arrive soon...

Thanks for your help

[2018-09-21 14:21] #624 closed, assigned to nobody

[2018-09-21 17:08] mohierf commented on #624
+1 @ayaloulameche : I did not remembered this problem that I raised a while ago ... indeed, you should not rely upon an upgrade of Shinken ... the project is almost dead now 😞

[2018-11-05 10:28] thifranc opened #625 "Update of wiki - installing webui authentication modules"
Hi,

I've recently got into minor trouble to set up auth-active-directory module.
I think that community could benefit from a warning about the fact that we still need a cfg/contact file even if we have correctly set up the auth-active-directory module.

So I took the liberty to clone the wiki and update it on my side, because we can't create PR for this, I chose to follow those guidelines :  http

[2018-11-06 10:58] plat00n opened #626 "Cannot import webui2..module : invalid syntax line 92"
Hello,

I'm trying to install Shinken-2.4.3 on a Centos 6 which cannot access to the web.
My python version is : Python 2.6.6

To start : I can't upgrade the os and I can't install python 2.7 (constraints)

Webui2 can't be started, I have this error message :

Here is what i have installed :
[code]
Here is the requirement for webui2 :

[code]

Some information about the installation/configuration

[2018-11-06 14:30] esebille opened #627 "webui2 dashboard currently"
hello,
i wanted to know how to keep the states between refreshes of the dashboard currently. I dopnt know which plugin to use for the retention of the dashboard currently

[2018-11-06 15:52] maethor commented on #626
I'm sorry but I don't think anyone will be able to provide you with support for Python 2.6. WebUI is not meant to run on it.

[2018-11-06 15:55] maethor commented on #627
Hi @esebille

The only retention plugin officially supported is mongodb. The module is embedded in the WebUI, so you only need to install the mongodb service and mongodb python packages, as described here : https://github.com/shinken-monitoring/mod-webui/wiki/Installing-WebUI-storage-modules

[2018-11-06 16:02] esebille commented on #627
The service and plugin are installed but each time i refresh the dashboard currently all graphs are back to zero. I think there is something i don't understand.

Thanks

[2018-11-06 16:28] maethor commented on #627
I'm not sure to understand the problem. When we talk about retention, it's data retention between shinken restarts. Typically, if you configure the dashboard for your user and you restart shinken, you should get the same dashboard after restart.

A simple way to test this is to go in the "problems" page, where you see the list of problems. By default the page displays 20 elements. In the bottom yo

[2018-11-06 16:39] esebille commented on #627
The problem is that graphs generated by the webui are not stored. each time i reload the dashboard page previous problems disapears. I want to be able to reload the page without losing informations. Sorry if i am not clear in my explanations it's not really clear in my head.
here's a snapshot of the graphs that i want to be stored between refreshes of the page

[https://ibb.co/eoXfcq](url)

[2018-11-06 17:09] maethor commented on #627
Ok, this is completely normal. I have to say that I don't understand what is the point of these graphs (I don't even see the point of the dashboard view, /problems is so much better). Seems completely useless to me. But this is legacy stuff so I didn't what to remove them from webui2.

[2018-11-07 09:02] esebille commented on #627
Ok i thought i've really does not understand how it works. But still i want to be able to make yearly reports of my monitoring. Is it possible ?

Thanks

[2018-11-07 10:20] maethor commented on #627
Depends, what do you want to display exactly in your reports?

Anyway, yearly will not be possible with standalone webui because the retention is configured for 3 months by default (and you shouldn't set more because it's quite a computational challenge).

If you send alerts to a slack, you can have some nice stats in `\stats`, although I have to admit it is a beta and undocumented feature.

You c

[2018-11-07 11:14] plat00n commented on #626
I'm trying to find a workaround, webui (not the v2) seems to work with it.
Broker seems to display warnings (like No module named bottle ?!?!) but I can have access to the web interface.

[code]

How can I download the webui (v1) tar.gz ??? I will need it for a local install (a server without access to the net)

Thanks for the answers

Cédric

[2018-11-07 15:32] esebille commented on #627
i want to display rapports about hosts availability through the year to give a report to my boss. I know it is possible in nagios but i don't know about shinken

Thanks

[2018-11-07 16:11] maethor commented on #627
In tactical view -> host availability, but only for the last 3 months.

[2018-11-07 16:14] esebille commented on #627
I dont have this option under tactical view !
![shinken](https://user-images.githubusercontent.com/44777114/48144134-9a8f3c80-e2b0-11e8-9297-86da0d320173.png)

[2018-11-12 06:16] maethor commented on #627
Please check the documentation https://github.com/shinken-monitoring/mod-webui/wiki/Installing-WebUI-logs-and-availability-modules to check if you have enable everything.

If you don't have `Tactical view -> Availability` and `System -> History`, it means you do not have any log module enabled.

[2018-11-13 14:54] esebille commented on #627
Here's the result of my shinken inventory command
ui-pnp
imap
npcdmod
ldap
rhev
http-proxy
retention-redis
dns
mod-mongodb
smtp
switch
graphite
ui-graphite2
mongodb
dhcp
ssh
mod-mongodb-notification-broker
pack-rhev
oracle
graphite2
linux-ssh
linux-snmp
pickle-retention-file-scheduler
logstore-mongodb
mod-mongodb-dt-ct-retention-scheduler
auth-active-directory
mod-influxdb
logstore-sqlite
mongo-lo

[2018-11-15 08:33] mohierf opened #629 "Availability menu is always present"
The Availability menu is always present in the left menu pane even if no availability log are available.

If the `hav_collection` configuration parameter is set to an empty value removed to indicate that the feature is not available., the menu should not be displayed.

[2018-11-15 08:33] mohierf commented on #629
The same behaviour may be implemented for the System and hosts logs and history if the `logs_collection` parameter is empty

[2018-11-15 09:49] xsylx opened #630 "Manage contact ACL issue"
Shinken Version : 2.4.2
Webui2 Version : 2.7.2

Hello Shinken addicts,

I'am looking for the possibility to enable actions for my Shinken users (non-admin). When i read the doc, we have to set "manage_acl" to "0" on the webui2.cfg and "can_submit_commands = 1" on the contact or contact template definition.

I set up this settings but my non-admin users cannot send actions on their host or services

[2018-11-16 07:06] mohierf commented on #630
Indeed, set ting`manage_acl=0` is enough to allow all users to use commands from the Web UI ... what doi you mean exactly : they cannot send actions ? No action buttons ? Actions are not considered ?

[2018-11-16 08:08] xsylx commented on #630
@mohierf Thanks for your answer. The users have no actions buttons on their Webui.

[2018-11-17 08:43] mohierf opened #631 "Add an icon for the monitoring framework status"
I propose adding an icon in the top header bar to reflect the monitoring framework status:
![image](https://user-images.githubusercontent.com/2932687/48659154-1e81bb00-ea4d-11e8-8b77-b83d5347bf0b.png)
See the *heartbeat* icon on the left of the hosts icon.

This icon will indicate if the Web UI received information about the Shinken/Alignak daemons and if all the daemons are seen as active and ok.

[2018-11-19 06:05] maethor commented on #627
I am sorry I cannot do this kind of support. Please seek help on shinken's IRC, mailing list or forum.

It seems you have a lot of unwanted modules.

[2018-11-19 06:09] maethor commented on #629
I'm not sure about this. I think these menus can encourage users to configure logs_collection and hav_collection, because they are useful, but hidden, features. Don't you think?

[2018-11-19 09:44] mohierf commented on #629
@maethor: yes, I do agree. But if a user configures `uri=` in the configuration, it means that he/she intentionaly do not want any mongo connection. As such, hiding th unuseful menu looks like a good solution.

[2018-11-20 05:37] maethor commented on #629
OK, seems good to me, with a comment in the configuration to explain the behaviour.

[2018-11-21 12:43] mohierf opened #638 "Problems view, some ideas"
My current problems view:
![image](https://user-images.githubusercontent.com/2932687/48841576-18b01080-ed92-11e8-8c65-32c41223c819.png)

Few minutes later:
![image](https://user-images.githubusercontent.com/2932687/48841616-3da48380-ed92-11e8-9ac5-0d5f494c34df.png)

On the first picture, the hosts/services synthesis shows no host and no services whereas I have 41 hosts and 200 services in my test

[2018-11-21 12:44] mohierf commented on #638
@maethor I am interested in your feedback about these ideas 😉

[2018-11-21 13:22] mohierf commented on #638
One more ...
![image](https://user-images.githubusercontent.com/2932687/48843856-9e36bf00-ed98-11e8-80b9-4e7fa6340999.png)

As of now, 15 services problems but no badge on the services icon whereas some of them are in a HARD state

- [ ] services icon badge for HARD problems

[2018-11-22 05:31] maethor commented on #638
OK, It could be quite hard to discuss on many points, Github is not been made for this, but I will try.

* adding the hosts/services count in the synthesis : OK
* on the default filter in the problems view, change the message : This is a generic search, you are not always looking for problems. What if you search only a server name, without any state filter, and it does not find it? So I prefer kee

[2018-11-22 05:48] mohierf commented on #638
👍 thanks for your answers. I will manage all this stuff in a next PR.

[2018-11-23 04:27] mohierf commented on #547
Closed thanks to #612

[2018-11-23 04:27] #547 closed, assigned to nobody

[2018-11-23 04:29] mohierf commented on #545
WebUI2 uses the leaflet maps control and layout. No more zoom precision thant the current one, sorry

[2018-11-23 04:29] #545 closed, assigned to nobody

[2018-11-23 04:36] mohierf opened #642 "Pagination control problems"
The pagination control has some small problems:
![image](https://user-images.githubusercontent.com/2932687/48928666-96cefd00-eee1-11e8-9d99-343831407873.png)
- hovering on the << and >> buttons title is *Page <<* rather than first / last page
- changing the page count is not functional

[2018-11-23 04:42] mohierf commented on #626
This problem should be fixed with the most recent develop branch. The *frontend* module that caused this error with an old python version has been removed

[2018-11-23 04:44] mohierf commented on #618
Renamed this issue to make it more useful

[2018-11-23 04:47] #608 closed, assigned to nobody

[2018-11-23 05:37] mohierf commented on #606
@maethor: this is to be discussed. I have an idea for this ...

[2018-11-23 05:39] mohierf commented on #597
IMHO I think it should run on Windows ... nothing in the source code should fail ... but I never tried.

[2018-11-23 05:40] mohierf commented on #579
This is not a WebUI problem. You should nstall a retention module on your Shinken to save comments, downtimes, ... between the system restarts

[2018-11-23 05:40] #579 closed, assigned to nobody

[2018-11-23 05:41] mohierf opened #643 "Bad title on an item"
![image](https://user-images.githubusercontent.com/2932687/48929613-c46c7400-eeea-11e8-8138-e6be3fc61995.png)

Obviously it is not a service but an host 😉

[2018-11-23 05:42] mohierf opened #644 "Dashboard view, widgets selector"
The widgets selector on the dashboard view is taking a lot of space on the windows ... perharps a pop-up list should be a better choice.

![image](https://user-images.githubusercontent.com/2932687/48929647-00073e00-eeeb-11e8-8897-65797d646f06.png)

[2018-11-23 06:03] mohierf commented on #644
Something like a button which expands the list on lick:
![image](https://user-images.githubusercontent.com/2932687/48930027-e9aeb180-eeed-11e8-82d9-13002041ca35.png)

![image](https://user-images.githubusercontent.com/2932687/48930135-c7696380-eeee-11e8-83bc-f3047cb1a49b.png)

[2018-11-23 06:50] maethor commented on #606
You have all my attention :)

[2018-11-23 07:43] dgilm commented on #618
s/4.2.3/2.4.3

[2018-11-23 07:58] mohierf commented on #618
Thanks 🤣

[2018-11-23 11:50] mohierf commented on #237
As of #636, switch is possible between this view and the normal group sview

[2018-11-23 11:53] mohierf commented on #116
No more interest for this. Current filtering allows the required feature.

[2018-11-23 11:53] #116 closed

[2018-11-23 11:56] #527 closed, assigned to nobody

[2018-11-23 11:56] mohierf commented on #506
Should be fixed

[2018-11-23 11:56] #506 closed

[2018-11-23 11:57] mohierf commented on #245
Having information about the escalations may be interesting but Shinken does not provide any information about configured escalations in the initial status broks. :/

[2018-11-23 11:57] #245 closed

[2018-11-23 11:58] mohierf commented on #255
The external command exist, but changing this parameter state should not be of a great interest

[2018-11-23 11:58] #255 closed

[2018-11-23 11:59] #265 closed

[2018-11-23 12:01] #285 closed

[2018-11-23 15:00] mohierf commented on #357
With the most recent developments (see ), it is possible to declare this configuration:
[code]

[2018-11-23 15:48] #357 closed

[2018-11-23 15:53] #631 closed, assigned to mohierf

[2018-11-23 16:02] #237 closed

[2018-11-23 16:04] #644 closed, assigned to nobody

[2018-11-25 11:12] mohierf opened #649 "Exception on regenerator for broker status"
I got:
[code]

[2018-11-26 07:05] #629 closed, assigned to mohierf

[2018-11-26 15:45] mohierf opened #651 "Exception (sometimes) on host display"
I noticed an exception like
[code]
when displying an host page. This looks like if the hosts groups were not build correclty  by the regenerator ... when refreshing the same page, the error is no more present. this looks strange !

[2018-11-26 16:03] mohierf commented on #651
When this exception happens, attributes of the group are:
[code]

The hosts groups members are string values and not objects!

Fixing this problem is possible in the regenerator or in the datamanager. The best solution would be to unify the groups management done in the regenerator (link groups and hosts) and in the datamanager (set groups level information)

[2018-11-27 04:38] mohierf opened #652 "Login page - logo is very very pale..."
On the login page, the logo is really very very pale ...

For Shinken:
![image](https://user-images.githubusercontent.com/2932687/49058946-a8c4de80-f206-11e8-86bc-03dada406c5a.png)

For Alignak:
![image](https://user-images.githubusercontent.com/2932687/49058724-87afbe00-f205-11e8-8f0e-183fe968865f.png)

[2018-11-27 04:56] mohierf commented on #652
Several tests:
- bootstrap info
![image](https://user-images.githubusercontent.com/2932687/49059252-3f45cf80-f208-11e8-9ea0-b4df52d0a9c6.png)

- bootstrap primary
![image](https://user-images.githubusercontent.com/2932687/49059232-2806e200-f208-11e8-8357-b15905eb08f9.png)

- simple grey
![image](https://user-images.githubusercontent.com/2932687/49059413-1a059100-f209-11e8-8a95-ab89ec6d9032.png)

W

[2018-11-27 15:37] maethor commented on #652
Primary seems really fine to me.

[2018-11-28 04:48] #651 closed, assigned to nobody

[2018-11-29 17:15] #649 closed, assigned to nobody

[2018-11-29 17:33] mohierf commented on #638
Closed thanks to #654

[2018-11-29 17:33] #638 closed, assigned to mohierf

[2018-11-30 04:26] #652 closed, assigned to nobody

[2018-12-05 15:15] mohierf opened #657 "Notification way update error"
When receiving new notification way update broks, an exception is raised:
[code]

[2018-12-05 16:57] mohierf commented on #657
Note that this only happens for a configuration reload ! Not for the initial configuration on Web UI start up ... only when the WebUI already has received some information and that Shinken (or Alignak) raise new initial status broks

[2018-12-07 05:52] mohierf opened #658 "Hosts/services not cleant on configuration reload"
When the WebUI has still received a configuration and it receives a new configuration from the same schedulers the hsots/services lists are not cleant. Old hosts/services references remain in memory ... this has been proved with an Alignak framewrok and the same is probably existing with Shinken when the configuration is reloaded with the Glpi importation module

[2018-12-07 08:33] #658 closed, assigned to nobody

[2018-12-07 12:59] mohierf opened #665 "Deprecation warning - pymongo update"
Some deprecation warnings are raised for the pymong library:
[code]

[2018-12-07 13:12] mohierf commented on #665
Version 3.0 of pymongo has been release in 2015 ... it should be a minimum version in the requirements.

**Edit**: indeed, the WebUI still requires pymongo>=3.0.3 😄

[2018-12-08 17:56] mohierf opened #667 "Clean the breadcrumb ..."
Replacing this:
![image](https://user-images.githubusercontent.com/2932687/49689001-c35a5a00-fb1a-11e8-87ec-d8febc2751fc.png)
![image](https://user-images.githubusercontent.com/2932687/49689032-44195600-fb1b-11e8-8a83-cb2c8fd87de7.png)

with this:
![image](https://user-images.githubusercontent.com/2932687/49689006-d53bfd00-fb1a-11e8-9379-f2ebb65ad54f.png)
![image](https://user-images.githubusercon

[2018-12-08 18:13] mohierf opened #668 "Python scripts shebang is not correct"
We should use:
[code]

as script beginning lines because it is the portable way to use a shebang for a python2 only application

[2018-12-10 12:27] mohierf commented on #558
If still any interest to keep this issue open, please re-open

[2018-12-10 12:27] #558 closed, assigned to nobody

[2018-12-10 12:41] #657 closed, assigned to nobody

[2018-12-10 12:42] maethor commented on #667
OK.

[2018-12-10 12:43] maethor commented on #668
I agree.

[2018-12-10 12:43] #667 closed, assigned to nobody

[2018-12-10 12:47] #665 closed, assigned to nobody

[2018-12-11 05:14] mohierf opened #673 "Element view - some modifications proposal"
1. create a row in the information pane for the status and check output
This:
![image](https://user-images.githubusercontent.com/2932687/49772437-9ca04d00-fced-11e8-806a-f8c1d3052a38.png)

rather than this:
![image](https://user-images.githubusercontent.com/2932687/49772419-86928c80-fced-11e8-947f-be451a54111e.png)

1. When check period or notification period are not set, no information is display

[2018-12-12 05:07] #673 closed, assigned to nobody

[2018-12-13 12:10] mohierf opened #676 "Contact list, improvements proposal"
As of now, the contacts list:
![image](https://user-images.githubusercontent.com/2932687/49936285-d29f2600-fed3-11e8-96d0-63601c316f57.png)

The yellow star indicates an administrator conatct (`is_admin`)
The green start indicates a power user (`can_submit_commands`)

Replacement proposal:
---
![image](https://user-images.githubusercontent.com/2932687/49937760-1b58de00-fed8-11e8-957f-608a96bf3519.

[2018-12-13 12:46] mohierf opened #677 "Notes display in the problems view"
When an host has some notes defined, their display in the problems view is not really nice rendered ...

![image](https://user-images.githubusercontent.com/2932687/49939585-8bb62e00-fedd-11e8-97fb-859105aaeeae.png)

[2018-12-13 12:47] mohierf commented on #677
This is mainly due to the notes encoding format ... I will fix this 😉

[2018-12-13 13:47] maethor commented on #676
OK.

[2018-12-17 07:23] mohierf opened #682 "No defined check command raises an exception"
When no check command is defined for an host, ane exception is raised on the element view page. It is allowed to avoid defining a check command ... this means the host is always considered as UP.

[2018-12-17 08:03] maethor opened #685 "Webui doesn't start"
[code]

[2018-12-17 08:03] #685 closed, assigned to nobody

[2018-12-17 08:03] maethor opened #686 "Webui doesn't start"
[code]

[2018-12-17 08:03] #686 closed, assigned to nobody

[2018-12-17 08:04] maethor opened #687 "Webui does'nt start"
Since commit 364e4c8b.

[code]

[2018-12-17 08:07] mohierf commented on #687
I fix this immediately !

[2018-12-17 08:11] mohierf commented on #687
I just pushed a commit to fix this ... sorry for the problem but I was still obliged to switch between several branches to make some tests :/

[2018-12-17 08:13] #682 closed, assigned to nobody

[2018-12-17 08:14] #687 closed, assigned to nobody

[2018-12-17 08:16] #676 closed, assigned to nobody

[2018-12-18 15:56] maethor opened #693 "Display regression in eltview"
@mohierf your style commits have bad effects in eltviews (and maybe elsewhere).

This is the webui in commit 87e75f35599663cf0efe1500fa54a53c423ee96b

![2018-12-18-165021_1916x1156_scrot](https://user-images.githubusercontent.com/2410576/50165519-62ced800-02e5-11e9-9e26-7040bf6fc576.png)

This is latest develop

![2018-12-18-165341_1916x1156_scrot](https://user-images.githubusercontent.com/2410576

[2018-12-18 16:00] maethor commented on #693
Also in the left menu there is margins and alignments problems between icons and labels. And I don't want this border at the right of the menu if we can about it.

Please avoid to make CSS ajustments like this. I don't think we need that kind of change and it is very painful to debug.

[2018-12-19 02:40] mohierf commented on #693
I simply reduced the left margin containing the main menu and for the actions menu I used the same style as the main menu. This is a consequence of the style relooking to get a responsive UI. And I simply did not restored the former style (color and margins) in the actions menu.

I tested all the commands on my test environment and everything is functional.

Could you be more precise about the mis

[2018-12-19 02:51] mohierf commented on #693
More observations;
- the recheck command raises two external commands ... like if the button is clicked twice!

[2018-12-19 03:38] maethor commented on #693
I cannot be more precise that the two screenshots. Don't you see the differences?

[2018-12-19 04:50] mohierf commented on #677
The same problem exist in the element view:
![image](https://user-images.githubusercontent.com/2932687/50199617-3dc47e80-0352-11e9-836d-9bb82d713a80.png)

Furthermore, there is no more tags in the element view whereas tags are really useful as search criteria ... find all hosts base on a specific template 😉

[2018-12-19 11:32] mohierf commented on #693
Differences are only the margins ... and I did not see any layout problem with these margins ... a cache problem ?

[2018-12-20 06:33] mohierf commented on #677
The rendering may be this in the element view:
![image](https://user-images.githubusercontent.com/2932687/50267998-784d1a80-0429-11e9-9028-085162002403.png)

[2018-12-20 06:50] mohierf commented on #677
And this in the problems view:
![image](https://user-images.githubusercontent.com/2932687/50268666-ee528100-042b-11e9-9be1-4efd6616467e.png)

[2018-12-21 08:24] mohierf opened #696 "Error 500 - system parameters view"
[code]

This because the system configuration parameters catched from Shinken/Alignak broks are now in dctionaries. A simple refactoring must be done in the parameters view

[2018-12-21 08:31] mohierf commented on #696
Moreover, the current parameters view only displays the first received configuration ... even if Shinken has several schedulers, only the first one information is displayed in this view. **Note** that the information provided by all the schedulers are almost the same indeed...

[2018-12-21 08:46] mohierf opened #698 "Not monitored hosts/services - how-to?"
When an host or service do not have active nor passive checks enabled, it is said as **not monitored**. The admin may have an interest to have such a configuration for an host/service ... and it may be interesting that the UI has some dedicated view or features for such hosts/services.

Some ideas:
- a specific icon color: light grey for intance
- a specific search criterion: `is:not-monitored`

[2018-12-21 15:51] mohierf opened #699 "Search engine - search on item name"
Using a simple term (eg `server`) in the search engin will make it search for all items which name contains the searched term.

As of now, the search is done like this, for each item:
- regex search of the term in the item full name (eg host_name for an host nad host_name/service_description for a service)
- else, search in the `alias` property only for hosts
- else, search in the item impacts and

[2018-12-21 15:58] mohierf commented on #699
**Note** that if the pattern is not matching anything in the former search step, the search engine will then search in the items last check output and then in the impacts and source problems output of the items ... pfewww!

Then, for each item:
- the last check output
- else, the item impacts and source problems last check output

[2018-12-26 11:21] mohierf opened #700 "Problems list sorting"
![image](https://user-images.githubusercontent.com/2932687/50444408-abe7e300-0908-11e9-8d95-8348514e9c26.png)

First and third lines are services for the same host ... the second line should be listed after the third because it is a service of another host.

[2019-01-02 12:22] mohierf opened #702 "Several cookies exist in the session"
See:

![image](https://user-images.githubusercontent.com/2932687/50591781-7c4d5380-0e91-11e9-8cd3-a2a61347ea5a.png)

[2019-01-02 13:03] maethor commented on #693
I am talking about the margins :)

[2019-01-02 13:18] maethor commented on #699
IIRC Shinken doesn't allow to define an alias on a service, so it is pointless to allow searching on service aliases.

About impacts, I'm not sure, I need to think about it.

But if your want to add a fallback search into notes, I'm OK with it.

[2019-01-02 13:20] maethor commented on #700
I disagree, because we sort by criticity first. This is more important than grouping by hosts.

[2019-01-02 14:10] maethor commented on #677
@mohierf So it does not manage URL anymore ? I agree we could find a way to manage HTML, but I don't agree with what you did, I'm reverting the PR.

Moreover,  I don't know how you configured what you are showing here, but `notes` and `notes_url` are not lists of notes and urls. You should only define one note and one URL (and one action url), as documented here : https://shinken.readthedocs.io/en

[2019-01-02 14:37] maethor commented on #677
I reverted your commits. We need to discuss it because it is adding a lot of complexity, both in the UI and the code, and as I understand it in the documentation you are not supposed to declare multiple notes and URLs like what you are doing here. So I prefer to keep it simple.

If you want to improve and manage multiple notes and URL, why not, but it needs to be way simpler in the UI.

[2019-01-02 17:38] mohierf commented on #677
Indeed, it is very simple as I did it ... and it is documented in the project Wiki. The solution I implemented still existed since a long time and it is quite commonly used in the Nagios configuration files ...

Sure that your are not supposed to declare list in notes (and you are not obliged indeed...) but if you want to declare some, the implementation I did allows to do it. And if you do not us

[2019-01-02 17:41] mohierf commented on #677
As an example:
[code]
is rendered as:
![image](https://user-images.githubusercontent.com/2932687/50604017-dcf28580-0ebd-11e9-8c91-8601e45d9429.png)

[2019-01-02 18:23] maethor commented on #677
This is the display since I reverted your commits. But it didn't displayed like this before. Cf your own screenshots in this issue 14 days ago.

[2019-01-03 05:29] #696 closed, assigned to nobody

[2019-01-03 06:24] mohierf commented on #677
The screenshot I posted 14 days ago are rendering when you define some lists as explained in the wiki ... not for a Nagios-like configuration without any list.

If I revert your revert 😉 I get this with the same configuration:
[code]
![image](https://user-images.githubusercontent.com/2932687/50625356-ef090e00-0f27-11e9-8373-a1b57215cbe1.png)

The only differences are:
- tags are displayed if any a

[2019-01-03 06:41] maethor commented on #677
And what about the note in a ugly and useless box which seem clickable when I over with the mouse?

Also, I want to keep url notes as links instead of buttons, at least in /problems view. I find it cleaner.

[2019-01-03 07:17] mohierf commented on #677
Ok. I clean this and send a new PR

[2019-01-09 05:40] maethor commented on #677
My mistake : https://shinken.readthedocs.io/en/latest/07_advanced/multiple-urls.html

[2019-01-09 05:53] maethor opened #706 "Manage snapshots"
Shinken allows to take snapshots when a service changes state. I believe it can be quite usefull.https://shinken.readthedocs.io/en/latest/06_medium/snapshots.html

Using https://github.com/naparuba/mod-snapshot-mongodb, snapshots are then stored in mongodb.

I believe Webui should allow to display them.

[2019-01-10 18:40] mohierf opened #707 "Exception on page count change"
On the problems view, changing the page items count fomr 25 to 100 raised an exception:
[code]

[2019-01-10 18:43] mohierf commented on #707
Perharps something related to the query: `http://127.0.0.1:7767/all?step=100` where the *search_string* parameter is not present ?

Note that the problem is also existing when there i no parameter in the URL...

[2019-01-10 18:46] mohierf opened #708 "Display of the action bar on small screens"
Still  a responsive layout problem on small screens .... grrrrr:
![image](https://user-images.githubusercontent.com/2932687/50989725-6cc4af00-1510-11e9-8df9-84dfd5e1389f.png)

[2019-01-11 06:06] mohierf commented on #708
This would be better indeed 😉

X-small devices:
![image](https://user-images.githubusercontent.com/2932687/51016046-176bba80-156f-11e9-9251-2fde00ab5eb6.png)

Small devices::
![image](https://user-images.githubusercontent.com/2932687/51016078-3c602d80-156f-11e9-8285-04304271cb08.png)

Large devices:
![image](https://user-images.githubusercontent.com/2932687/51016099-4c780d00-156f-11e9-9830-439a5f2

[2019-01-11 07:03] mohierf commented on #707
I found out the problem. The *get_search_string* function sometimes return None rather than a string as it should. I will fix this

[2019-01-11 07:32] mohierf commented on #707
I also noticed that the navigation element page count is not set correctly when it just changes ... the value remain to the initial value when the page is loaded. I will also fix this

[2019-01-16 06:20] mohierf commented on #706
Are you using this Shinken feature ? I never did ...

[2019-01-16 06:24] mohierf commented on #677
@maethor: I will refactor my initial PR with the Shinken doc described format. I will make it also available for notes and notes_url.

*Note that my initial PR is the same implementation as the one that did existed in older Shinken UI versions. We will be able to restore if some users compalin about this...*

[2019-01-16 08:10] maethor commented on #706
Today this feature seems completely useless because we have no way to access snapshots. But I had a case last week where it could have been useful.

[2019-01-16 13:17] mohierf commented on #677
In the element view:
-----
![image](https://user-images.githubusercontent.com/2932687/51251037-952d2d00-1998-11e9-9418-9e5e742d00bf.png)

1. one note with HTML content
1. several notes_url. If a title is set it will be rendered as a button with/without an icon. If no title nor icon, it is rendered as the 1st link...
1. same for the actions url

In the problems view:
-----
![image](https://user-ima

[2019-01-23 09:53] maethor commented on #693
I just fixed this margins problem, and some other miscellanious details in this page.

About the actions menu. Both here and in the dashboard I think I will move it to the right of the page title / breadcrumb. The drawback is that actions will not be accessible when we scroll down, but I think it will be more elegant than this buggy action menu. What do you think @mohierf ?

Alternatively, I can r

[2019-01-24 18:36] mohierf commented on #693
Why not ... I think it can be a good idea! Indeed, it may be CSS fixed to remain on screen whe scrolling down ... like the minemap table header is fixed

[2019-01-29 20:45] b-keller opened #714 "Frontend Apache Web server with SSL"
Hi,

I have some trouble to set correctly my apache virtual host config file to allow reverse proxy with shinken and pnp4nagios. I know that's not a webui problem but if someone have any suggestion...
Here is my config file :
[code]
If I enable
`Redirect / https://shinken.mydomain.com/`
webui work with no problem but pnp4nagios is unreachable (wrong redirection error on web browser)

If I disable

[2019-01-30 05:28] maethor commented on #714
It seems you have an infinite redirection loop problem. I believe this problem is not on the scope of this vhost only, but finds an explication in all apache2 configuration.

Do you have a default vhost configured in apache2?

With the `Redirect` enabled, if you do `curl -I http://xyz.xyz.xyz.xyz/pnp4nagios/` on your laptop, what do you get? http://xyz.xyz.xyz.xyz should not be managed by this vho

[2019-01-30 13:22] b-keller commented on #714
Hi,

I found "a" solution, here is the new virtualhost config file :
[code]
I modified :
`<VirtualHost *:80>` to `<VirtualHost shinken.mydomain.com:80>`

and
[code]
to
[code]
All is working as expected.

What do you mean with ?

Is it possible to add this one or another example of apache config in the wiki ?

Thx

[2019-01-31 10:15] maethor commented on #714
When you configure a proxy, like this, it is best practice to close the direct port of the service. Here, you have configured a proxy on apache to transfer requests to port 7767, so you can close 7767 on the firewall to avoid direct queries on it. It's not a big deal, just best practice.

In the wiki there is already a proxy documentation, with Nginx which allows a better controlled configuration

[2019-01-31 21:57] b-keller commented on #714
Ok, thanks for your help.
I close.

[2019-01-31 21:57] #714 closed, assigned to nobody

[2019-03-08 16:13] massimiliano-dalcero commented on #605
Hi,
I have the same problem (in 2019 ... two years later).

At the moment the last release of WebUI2 is 2.7.2 and not exists 2.7.3

there is some news about this error?

Thanks

[2019-03-11 11:55] mmpx12 commented on #606
2019 and still not fix ...

[2019-03-11 13:49] maethor commented on #606
2019 but still only 2 devs on this project. You are very welcome to propose a fix @mmpx12

Until then, know that this kind of comment is not appreciated.

[2019-03-11 18:59] pykiki commented on #606
Je proposerai bien ceci, en gros `% if total != 0:` :

[code]

[2019-04-17 08:13] rednach opened #715 "About "integ" branch with ui-graphite submodule"
We are trying to move from shinken to alignak, mainly because of backend architecture. But curent users are used to use shinken UI and their graphs (In some aspects I prefer it to alignak one, too). So, I am working in a environment with:
 - alignak-broker with modules shinken_webui and (disabled) ui_graphite2
 - shinken_webui ("integ" branch) with module ui_graphite2 and somre hacks (importing al

[2019-04-18 06:01] mohierf commented on #715
Hi @rednach
I created the integ branch as an approach to use the Shinken WebUI with my Amlignak framework and it really looks promising. since several months up to now I am using this in a production environment and it is really stable.
It's been a while since I did some modifications to finish the job andI am really interested in you approach. Would you mind submittingg a PR in the project and I

[2019-04-18 06:18] mohierf commented on #715
As of now, I am trying to build an Alignak Docker image that includes the Web Ui ... this may help :wink:

[2019-04-26 11:46] rednach commented on #715
https://github.com/shinken-monitoring/mod-webui/pull/716

[2019-05-01 16:05] Kay0093 commented on #586
Hello,

I have the same issue with Shinken, when login to the page I get "You didn't define a WebUI module for saving user preferences like the MongoDB one. You won't be able to use this page!"  and localhost shows down.

[2019-05-01 16:08] Kay0093 opened #717 "Shinken localhost down"
Hello,

I followed the instructions on https://www.instructables.com/id/Install-and-Setup-Shinken-Network-Monitor-on-Raspb/ and installed the Shinken on Raspbery Pi.

now when i login to the Shinken portal I get the error "You didn't define a WebUI module for saving user preferences like the MongoDB one. You won't be able to use this page!" and the localhost shows "down"

Can someone please help.

[2019-05-03 05:51] mohierf commented on #586
@Kay0093 : this message is not an error ... only a simple information. Check the Wiki for the doc about this

[2019-05-03 07:20] mohierf commented on #717
This message on the UI is not an error. It is only mto inform that no user preferences will be saved ...

If your localhost remains DOWN in the UI it is probably because it is really down ... are you sure that it got checked by Shinken ?

[2019-05-03 12:05] Kay0093 commented on #586
thanks, i didn't find docs about it online. can you plz tell me which wiki? also, the locahost shows down. isn't that a problem?

[2019-05-03 12:10] mohierf commented on #586
Wiki for the Web UI: https://github.com/shinken-monitoring/mod-webui/wiki

Localhost Down, I answered on your other issue #717  ... yes, it is a problem, but not related to the Web UI. What do your Shinken log say about it? Are you sure your host is checked?

[2019-05-03 12:26] Kay0093 commented on #717
how can i confirm it is checked by Shinken? I noticed for a few seconds it was showing up and then it went down. tried restarting the service. it is still showing down.

[2019-05-03 12:29] Kay0093 commented on #586
sorry, i am quite new to Shinken and also Dietpi / Raspberry pi. forgive me ignorance. is there a way i can check if is checked?

[2019-05-03 13:12] mohierf commented on #717
Check what is in the Shinken log files. Are there any errors ? Whet did you defined in the configuration for checking the localhost ?

[2019-07-03 01:39] KenWhitesell opened #718 "Use with Alignak when Alignak is running on Python3"
Is there a way to run the shinken webui module as a separate process in alignak rather than as a module within the broker?

We're running Alignak under version 3, and would like to try using the Shinken webui. Is there any way to do this?

[2019-07-03 07:00] mohierf commented on #718
Hi
quick responses:
1/ there is currently no solution to run the WebUI as an Alignak process.
2/ yes, I am currently using the Web UI as a broker module with Python 3

More elaborate:
I have a Web UI version in my own repo that is not merged in this official repo for many reasons indeed... not an "official" mod-webui version because not Shinken compatible. This version is available here: https://g

[2019-07-03 07:59] rednach commented on #718
Hi.
We are ~working~ trying to work :) in a standalone shinken-webui using Alignak backend as data repository, using @mohierf repo as upstream. Steps we think we need:
 - Translate all host/services searching queries to the backend/mongo version.
 - So we will be able to stop using Regenerator into Datamanager.
 - In this point, no broks needed, so no broker module needed.
 - Final step, to fight

[2019-07-03 09:04] mohierf commented on #718
@rednach is the ETA a realistic milestone ? :wink:

[2019-07-03 12:12] rednach commented on #718
I hope not!

[2019-07-04 14:08] KenWhitesell commented on #718
Thank you very much for the quick response! I've got it up and running, so my installation is good, thank you!

Unfortunately, it's not working with my existing alignak-backend database - but since it works with a blank database at start, that implies to me that I've got some bad data hanging around, making it my problem to solve.

Thanks again,

Ken

[2019-09-13 13:43] kus6021 opened #719 "Authentication failed, password mismatch"
Hi,
i'm actualy configuring the webui of Shinken and try to connect with my active directory account but without success.
could you please help me
shinken 2.4.3
Shinken Web UI, version: 2.7.2

shinken inventory
webui2
auth-active-directory
ui-graphite
elastic-logs
graphite2
npcdmod
ui-pnp
sqlitedb
simple-log

[2019-11-01 14:34] vkuharkov opened #720 "acknowledge and notify"
Hello!
In our company we use the shinken monitoring.
I have problem with save settings acknowledge and notofication for host in webui2.
repeat:
1. Go to host info
2. If host have a problem, i'm click to "Acknowledge" or off notification
3. I'm doing restart all shinken or shinken-scheduler and Acknowledge or notification come back to default.
I have not found unequivocal answer an this question...

[2019-11-04 12:52] maethor commented on #720
Hi @vkuharkov, thanks for using this webui.

This problem does not concerns the webui, but main shinken app. You need to configure retention for Arbiter and Scheduler (I am not sure to know which one is responsible for this).

[2019-11-04 12:52] #720 closed, assigned to nobody

[2019-11-04 13:47] maethor commented on #720
That is the Scheduler retention which is responsible.

[2019-11-15 08:02] vkuharkov opened #721 "Business rules downtime/acknowledge"
Hello! Sorry if I write in the wrong place.

I have problem with a business rule in shinken.
Repeat:

I have a hostgroup, a group that the business rule is configured for
I off a host, he in status "CRITICAL"
business rule goes into state "CRITICAL"
I doing downtime or acknowledge this host
I expect the business rule to become OK.

business_rule_smart_notifications and business_rule_downtime_as_ac

[2019-11-18 15:00] maethor commented on #721
Hi @vkuharkov,

Indeed you are in the wrong place. This repository is dedicated to shinken web interface module. I would have help you but I don't use business rules myself.

You should ask your question in [shinken repository](https://github.com/naparuba/shinken).

Good luck.

[2019-11-18 15:00] #721 closed, assigned to nobody

[2019-11-18 15:17] maethor commented on #719
Hi @kus6021,

If this is still relevant, please provide more detail about what you already tried, what didn't work. Maybe you have some errors in the logs? I will not be able to help without such details.

[2019-11-18 15:24] maethor commented on #717
Closing for inactivity.

[2019-11-18 15:24] #717 closed, assigned to nobody

[2019-11-18 15:26] maethor commented on #715
Hi.
Can we close this issue?

[2019-11-18 15:26] #715 closed, assigned to nobody

[2019-11-18 15:32] maethor commented on #708
Can we close this issue?

[2019-11-18 15:32] maethor commented on #707
Can we close this issue?

[2019-11-18 15:33] #700 closed, assigned to nobody

[2019-11-18 15:43] maethor commented on #630
@SylvainGuibert is it still relevant or can I close this issue?

[2019-11-18 15:46] maethor commented on #698
@mohierf I am open to implement this. But I don't understand, how is it possible? Can you give me an example definition? Is it Alignak-specific?

[2019-11-18 15:51] #53 closed

[2019-11-18 15:52] maethor commented on #224
I believe this functionality has been removed. I'm closing this issue.

[2019-11-18 15:52] #224 closed

[2019-11-18 15:59] maethor commented on #239
Because we need to focus on other stuff, and this doesn't not seem important, I am closing this issue.

[2019-11-18 15:59] #239 closed

[2019-11-18 16:00] maethor commented on #307
Because we need to focus on other stuff, and this doesn't not seem important, I am closing this issue.

[2019-11-18 16:00] #307 closed

[2019-11-18 16:00] maethor commented on #315
The impact graph has been removed from the webui.

[2019-11-18 16:00] #315 closed

[2019-11-18 16:01] maethor commented on #318
Because we need to focus on other stuff, and this doesn't not seem important, I am closing this issue.

[2019-11-18 16:01] #318 closed

[2019-11-18 16:02] maethor commented on #339
Show be fixed now.

[2019-11-18 16:02] #339 closed

[2019-11-18 16:05] #565 closed, assigned to nobody

[2019-11-18 16:07] maethor commented on #455
Should be fixed by now.

[2019-11-18 16:07] #455 closed

[2019-11-18 16:09] maethor commented on #438
@mohierf I plan to work on this (and to rethink all the Graph tabs) in the following weeks. I will keep you posted when you can test with graphite. The API should be the same.

[2019-11-18 16:09] #437 closed

[2019-11-18 16:12] #538 closed, assigned to nobody

[2019-11-18 16:13] #541 closed, assigned to nobody

[2019-11-18 16:13] #566 closed, assigned to nobody

[2019-11-19 06:00] #546 closed, assigned to nobody

[2019-11-19 06:01] maethor commented on #537
Is it still an issue in the last version of the webui?

[2019-11-19 06:04] maethor commented on #530
This is still a major bug on the WebUI, and not only in dashboard but in problems too. If somebody is knowing javascript, any help is appreciated. The problem must be in `htdocs/js/shinken-refresh.js`.

[2019-11-19 06:07] maethor commented on #498
@mohierf should we close this issue?

[2019-11-19 06:08] maethor commented on #516
Since I will not work on this, I'm closing this issue.

[2019-11-19 06:08] #516 closed

[2019-11-19 06:19] maethor commented on #581
Sorry, I'm a little bit late on this. Indeed your proposition is interesting. I don't know if I will find time to work in this, but it seems easy to do.

[2019-11-19 06:26] #611 closed, assigned to nobody

[2019-11-19 06:36] maethor commented on #414
Hello everyone,

I need help on this. If you want, I can make an URL that returns JSON. This is easy for me. But I need somebody to point me to Nagstamon documentation or just to tell me what format is expected, and to do what is necessary on Nagstamon side (tests, PR, I don't know). I don't have time to dig in Nagstamon source code or to contact the Nagstamon team since I am not using Nagstamon m

[2019-11-19 06:38] #534 closed, assigned to nobody

[2019-11-19 06:42] maethor commented on #615
Hi @m2cci-KGY

Sorry for the long delay, but I am not using graphite myself. Please open this bug on [mod-graphite repository](https://github.com/shinken-monitoring/mod-graphite).

[2019-11-19 06:42] #615 closed, assigned to nobody

[2019-11-19 06:45] maethor commented on #625
I agree this is quite a pain to work with. But it is said in the documentation https://github.com/shinken-monitoring/mod-auth-active-directory

Anyway, please open an issue in mod-auth-active-directory if needed.

[2019-11-19 06:45] #625 closed, assigned to nobody

[2019-11-19 06:45] #627 closed, assigned to nobody

[2019-11-19 06:52] #626 closed, assigned to nobody

[2019-11-19 06:52] #597 closed, assigned to nobody

[2019-11-19 07:01] maethor commented on #643
I believe this is fixed, I cannot reproduce.

[2019-11-19 07:01] #643 closed, assigned to nobody

[2019-11-19 07:08] maethor commented on #677
@mohierf can we close?

[2019-11-19 07:20] #642 closed, assigned to nobody

[2019-11-19 09:52] #498 closed

[2019-11-19 09:57] mohierf commented on #698
@maethor as written in the issue: an host is not monitored if it is not actively nor passively checked. This means that it has been, intentionally or not, configured with no possible way to get its state 😞

[2019-11-19 09:58] mohierf commented on #707
It should have been...

[2019-11-19 09:58] #707 closed, assigned to nobody

[2019-11-19 10:01] #708 closed, assigned to nobody

[2019-11-19 11:08] maethor commented on #457
Hi,

@mohierf it seems you did work on this in march. I saw a lot of new code in logs.py. Did you finish what you started? I don't find any news in the interface.

[2019-11-19 11:40] maethor commented on #606
Hi everyone,

I hope you will be very happy, I finally found a way to publish this feature and make it work for everyone.

So, the idea is that the notifications needs to be filtered before computing stats, because we don't want to count a notification 4 times if it is sent to 4 people.

By default, no filter is configured, so it works but probably the stats are not so great. So the webui will inv

[2019-11-19 11:47] danirod commented on #618
The close-reopen bump was noticed in my e-mail. 😉

https://github.com/naparuba/shinken/pull/1971 was already merged a while ago in the development trunk (_Happy birthday, dear PR_). Because this bug affects the development trunk and not 2.4.3, unless a regression has been recently introduced that breaks the connection again, this can be marked as fixed.

[2019-11-19 11:55] maethor commented on #618
Thank you @danirod

[2019-11-19 11:55] #618 closed, assigned to nobody

[2019-11-19 11:58] maethor commented on #581
@guillaume-u I implemented what said. So when the button is not greyed, it appends 'is:…' in the search. And when the button is greyed it erases the current search.

The code has been pushed on integ branch, I plan to publish a new version of the webui in a few days.

[2019-11-19 11:59] #581 closed, assigned to maethor

[2019-11-19 11:59] #606 closed, assigned to nobody

[2019-11-19 12:16] mohierf commented on #457
For sure @maethor but I did commited a lot of modification in my own fork. I must review all this stuff in the next xoming weeks to backport my modifications.

[2019-11-19 17:06] maethor commented on #438
I did a first commit on this, to allow panning and zooming on the graphs. I am not entirely satisfied by the UI, but it is already superior to the last version, so I will merge in the next release, maybe tomorrow or in a few days.

![image](https://user-images.githubusercontent.com/2410576/69168256-aa15a800-0af6-11ea-959e-ea2732b1fecd.png)

It should work both with PNP4Nagios and for Graphite.

[2019-11-19 17:06] #438 closed

[2019-12-02 13:57] #677 closed, assigned to nobody

[2019-12-02 13:57] #702 closed, assigned to nobody

[2019-12-03 09:34] b-keller opened #722 "[2.8.0] Worldmap not working anymore ?"
Hi,

I just test the new webui version (thanks a lot for your jobs), and I have some trouble to access woldmap page and dashboard widget.

**Steps to reproduce : world map page**
1. from side menu
2. Click on tactical views
3. Click on worldmap
4. I See  this error
`Error: 500 Internal Server Error
Sorry, the requested URL 'http://x.y.z/worldmap' caused an error:
Internal Server Error`

**Steps to

[2019-12-04 16:05] maethor commented on #722
I can reproduce. I don't use worlmap myself so this kind of thing might happen :/ I will look at it tomorrow.

[2019-12-05 09:13] mohierf commented on #722
I gave a try this morning and I got this error message. It may help @maethor :
[code]

[2019-12-06 08:36] ayaloulameche opened #723 "[2.8.0] Contacts not working"
Hello,

I am currently testing the webui version 2.8.0 and I have an error accessing the "Contacts" page (on "Configuration" menu).

Here is the screenshot :
![image](https://user-images.githubusercontent.com/16012726/70307954-93679480-180a-11ea-88b8-fea0a2beb787.png)

I try to run the webui log in DEBUG mode but there are no additionnal informations about this error in the log :(

I'm on :
OS : C

[2019-12-06 11:12] maethor commented on #722
Yep, I fixed it. Will be released soon.

Thank you @b-keller

[2019-12-06 11:12] #722 closed, assigned to nobody

[2019-12-06 11:13] maethor commented on #723
It seems the worldmap is not the only thing that you have broker @mohierf :)

Thank you @ayaloulameche . I will fix it and a new version will be released soon.

[2019-12-06 11:26] #723 closed, assigned to nobody

[2019-12-06 11:26] maethor commented on #723
There, it is fixed, thank you @ayaloulameche. It will be released in 2.8.1 soon.

[2019-12-13 09:24] ayaloulameche opened #724 "[2.8.1] logout not working"
Hello,

Thanks for the quick fix of the Webui ;)

I keep testing the 2.8.1 version and I have an error when I try to logout . I try with different contacts (local account or ldap account) and I get the same error every time.

Here is the screenshot :
![image](https://user-images.githubusercontent.com/16012726/70789001-6da23880-1d92-11ea-9d55-6baee239ee9c.png)

I'm on :
OS : Centos 7.7
Shinken : 2.

[2019-12-13 13:02] maethor commented on #724
Thank you @ayaloulameche , I will have a look next week.

[2019-12-15 11:13] reox22 opened #725 "Dependencies graph page"
Hello,All,
In the webui one we can find a dependency page for a host and his witget.

"Dependencies graph widget
Configured with an host, it displays the dependency graph of this host."

see image here : https://github.com/shinken-monitoring/mod-webui/wiki/User-manual-Dashboard

is it in feature we can find again the the webui2.
in the wiki i can t see how to have it.

[2019-12-17 10:17] Scandiskfr commented on #724
For info !
Same pb for me, it's begin on Webui2 2.8.0 :
OS : Centos 7.7.1908
Shinken : 2.4.3
Webui2 : 2.8.1
thx.

[2019-12-19 14:55] mohierf opened #726 "Improve the check command view"
On the host/service view, the check command is simply rendered as the check command name. There is no information about the arguments and about the real command that is executed after the macro expansion.

This may be improved like this:
![image](https://user-images.githubusercontent.com/2932687/71183233-ea904f00-2277-11ea-9136-1644d1290682.png)

[2019-12-19 15:01] mohierf commented on #726
@maethor : if you wish to backport, you can cherry-pick this commit: https://github.com/mohierf/mod-webui/commit/ddf162a855cfe765bf2dab84414b3338aafe4ffa

[2019-12-19 15:08] mohierf commented on #726
This rendering is not really perfect because it would be better to display the real executed command. At the moment, in the example, the `check_mongodb` command is not expanded before the macro expansion. To be completed...

[2019-12-19 15:28] mohierf commented on #726
Something like this content looks more useful:
![image](https://user-images.githubusercontent.com/2932687/71185810-70ae9480-227c-11ea-8bce-09ede8fc3fa2.png)

The real executed command and its macro expansion 👍

Not yet perfect because some macros are not expanded ... but it looks better. Work in progress...

[2019-12-22 08:19] mohierf commented on #726
The most recent commit I pushed is a squash of 3 commits I did to test and improve the macro expansion in the commands. The final result is:
![image](https://user-images.githubusercontent.com/2932687/71319269-2f94cb00-249c-11ea-8128-4ac479bdfcd4.png)

[2020-01-03 13:06] maethor commented on #724
Hi, sorry for the delay and happy new year :)

@ayaloulameche @Scandiskfr I am sorry I cannot reproduce.

Can you activate debug mode in the webui? That would make it display the stacktrace in the error page. To do so:
- Edit `/var/lib/shinken/modules/webui2/module.py` (maybe you will need to adapt the path to fit your install)
- Under line 107, create a new line and add `bottle.debug(True)`, with

[2020-01-03 13:14] maethor commented on #725
Hi @reox22,

This feature was not working well and depended on a lot of javascripts, so we choose to remove it from webui2. Sorry :)

[2020-01-03 13:14] #725 closed, assigned to nobody

[2020-01-03 13:15] maethor commented on #726
Nice idea. I will have a look.

[2020-01-03 13:18] ayaloulameche commented on #724
Hello Maethor,

Happy new year ;)

I have modifying the file /var/lib/shinken/modules/webui2/module.py and restarting the broker, and here is the error with details :
![image](https://user-images.githubusercontent.com/16012726/71725278-97033100-2e33-11ea-99f0-d5ddf5393305.png)

Thank you.

[2020-01-04 08:44] mohierf commented on #726
Indeed, on my own fork, the integ branch is up-to-date with many modifications and I tested as much as I could with Alignak AND Shinken (thanks to docker) ... you should give a try and we could merge in the main repo ?

[2020-01-04 08:51] mohierf commented on #724
As far as I remember, I met this problem recently also...

@maethor : you should try:
[code]

See the `str` that makes the cookie a single string rather than a dict

[2020-01-06 17:13] ayaloulameche commented on #724
Hello,

Just to let you know, I tested the modification suggested by Mohierf. I modify the file :
/var/lib/shinken/modules/webui2/plugins/login/login.py

Line 90 :
app.response.set_cookie(app.session_cookie, False, secret=app.auth_secret, path='/')
by
 app.response.set_cookie(str(app.session_cookie), False, secret=app.auth_secret, path='/')

and Line 92 :
app.response.set_cookie(app.session_cookie

[2020-01-26 14:15] #724 closed, assigned to nobody

[2020-01-26 14:15] maethor commented on #724
Sorry for the delay, and thank you very much for the fix. I will publish this soon.

[2020-01-26 14:21] maethor commented on #726
Would you be able to make PR ? I prefer to avoid cherry picking. In this issue for instance, I don't know if the commit you are talking about in the second message is covering the modifications you are talking about in the forth and fifth messages.

[2020-03-14 08:04] couloum opened #727 "Control buttons in graph page are not working"
**Describe the bug**

When I am in the "graph" tab of service, I can see graph(s) with a view defined on 4 hours period. However, none of the buttons to control time period displayed are working.

**To Reproduce**
Steps to reproduce the behavior:
1. Login to Shinken with WebUI v2.8.1
2. Go inside a service publishing perfdata
3. Click on `graph` tab
4. Click on any button at the top of the graph (

[2020-07-27 10:43] shar-li opened #728 "error 500 : user/auth' caused an error:"
#Version
Shinken: 2.4.3
WebUI: 2.8.2
OS: CentOS 7

Got an error 500 when I log in ,

Error: 500 Internal Server Error
Sorry, the requested URL 'http://myserver:7767/user/auth' caused an error:

Internal Server Error

I didn't find which is the directory or file (user/auth) related in  this error.

[2020-10-08 06:52] maethor commented on #727
Hm, this is strange @couloum because I cannot reproduce any of this on my setup. Do you work with graphite or pnp4nagios for graphs?

[2020-10-08 19:17] couloum commented on #727
Hi @maethor ,

I use graphite in v0.9.15. I know it's an old version, but it worked perfectly with webui 2.7.2. Do you think this can be related?